<div id="foreman_shop">
	<div class="foreman_shopcnt">
		<!-- 筛选条件start -->
		<div class="fliter" id="my_fliter" my-fliter></div>
		<!-- 筛选条件end -->
		<!-- 内容区域start -->
		<div class="shop_content">
			<!-- 排序方式start -->
			<div class="content_title">
				<span class="default active sort">默认排序</span>
				<span>|</span>
				<span class="trading sort">成交量</span>
				<span>|</span>
				<span class="score sort">评分</span>
				<span class="count">共有<span class="number">1000</span>个符合要求的店铺</span>
			</div>
			<!-- 排序方式end -->
			<!-- 具体内容start -->
			<div class="shop_summary">
				<div class="shop_box">
					<div class="left_image">
						<a href="#nogo"><img src="css/img/foreman.png"></a>
						<div class="image-background_1"></div>
						<div class="image-background_2"></div>
					</div>
					<div class="right_summary">
						<div class="shop_name">
							<h2>和馨园项目经理店铺</h2>
							<img src="css/img/icon-certification.png">
							<img src="css/img/icon-accreditation.png">
						</div>
						<div class="shop_introduce">
							<p>常住地址: <span>江苏省苏州市吴中区</span></p>
							<p>服务范围: <span>苏州市姑苏区附近</span></p>
							<p>擅长风格: <span>现代简约，新中式风格</span></p>
							<p>店铺年限：<span>2</span>年</p>
						</div>
						<div class="shop_icon clearfix">
							<div class="icon_pnumber">
								<img src="css/img/icon-pnumber-1.png">
								<span>14689</span>
							</div>
							<div class="icon_turnover">
								<img src="css/img/icon-turnover-1.png">
								<span>2547</span>
							</div>
						</div>
						<div class="shop_assess">
							<p>工程质量<span>8.5</span>分</p>
							<p>服务态度<span>7</span>分</p>
							<p>综合评价<span>9</span>分</p>
						</div>
						<div class="shop_button">
							<input type="button" class="collect_shop" value="收藏">
							<input type="button" class="enter_shop" value="进入店铺">
						</div>
					</div>
				</div>

				<div class="shop_box">
					<div class="left_image">
						<a href="#nogo"><img src="css/img/foreman.png"></a>
						<div class="image-background_1"></div>
						<div class="image-background_2"></div>
					</div>
					<div class="right_summary">
						<div class="shop_name">
							<h2>和馨园项目经理店铺</h2>
							<img src="css/img/icon-certification.png">
							<img src="css/img/icon-accreditation.png">
						</div>
						<div class="shop_introduce">
							<p>常住地址: <span>江苏省苏州市吴中区</span></p>
							<p>服务范围: <span>苏州市姑苏区附近</span></p>
							<p>擅长风格: <span>现代简约，新中式风格</span></p>
							<p>店铺年限：<span>2</span>年</p>
						</div>
						<div class="shop_icon clearfix">
							<div class="icon_pnumber">
								<img src="css/img/icon-pnumber-1.png">
								<span>14689</span>
							</div>
							<div class="icon_turnover">
								<img src="css/img/icon-turnover-1.png">
								<span>2547</span>
							</div>
						</div>
						<div class="shop_assess">
							<p>工程质量<span>8.5</span>分</p>
							<p>服务态度<span>7</span>分</p>
							<p>综合评价<span>9</span>分</p>
						</div>
						<div class="shop_button">
							<input type="button" class="collect_shop" value="收藏">
							<input type="button" class="enter_shop" value="进入店铺">
						</div>
					</div>
				</div>

				<div class="shop_box">
					<div class="left_image">
						<a href="#nogo"><img src="css/img/foreman.png"></a>
						<div class="image-background_1"></div>
						<div class="image-background_2"></div>
					</div>
					<div class="right_summary">
						<div class="shop_name">
							<h2>和馨园项目经理店铺</h2>
							<img src="css/img/icon-certification.png">
							<img src="css/img/icon-accreditation.png">
						</div>
						<div class="shop_introduce">
							<p>常住地址: <span>江苏省苏州市吴中区</span></p>
							<p>服务范围: <span>苏州市姑苏区附近</span></p>
							<p>擅长风格: <span>现代简约，新中式风格</span></p>
							<p>店铺年限：<span>2</span>年</p>
						</div>
						<div class="shop_icon clearfix">
							<div class="icon_pnumber">
								<img src="css/img/icon-pnumber-1.png">
								<span>14689</span>
							</div>
							<div class="icon_turnover">
								<img src="css/img/icon-turnover-1.png">
								<span>2547</span>
							</div>
						</div>
						<div class="shop_assess">
							<p>工程质量<span>8.5</span>分</p>
							<p>服务态度<span>7</span>分</p>
							<p>综合评价<span>9</span>分</p>
						</div>
						<div class="shop_button">
							<input type="button" class="collect_shop" value="收藏">
							<input type="button" class="enter_shop" value="进入店铺">
						</div>
					</div>
				</div>

				<div class="shop_box">
					<div class="left_image">
						<a href="#nogo"><img src="css/img/foreman.png"></a>
						<div class="image-background_1"></div>
						<div class="image-background_2"></div>
					</div>
					<div class="right_summary">
						<div class="shop_name">
							<h2>和馨园项目经理店铺</h2>
							<img src="css/img/icon-certification.png">
							<img src="css/img/icon-accreditation.png">
						</div>
						<div class="shop_introduce">
							<p>常住地址: <span>江苏省苏州市吴中区</span></p>
							<p>服务范围: <span>苏州市姑苏区附近</span></p>
							<p>擅长风格: <span>现代简约，新中式风格</span></p>
							<p>店铺年限：<span>2</span>年</p>
						</div>
						<div class="shop_icon clearfix">
							<div class="icon_pnumber">
								<img src="css/img/icon-pnumber-1.png">
								<span>14689</span>
							</div>
							<div class="icon_turnover">
								<img src="css/img/icon-turnover-1.png">
								<span>2547</span>
							</div>
						</div>
						<div class="shop_assess">
							<p>工程质量<span>8.5</span>分</p>
							<p>服务态度<span>7</span>分</p>
							<p>综合评价<span>9</span>分</p>
						</div>
						<div class="shop_button">
							<input type="button" class="collect_shop" value="收藏">
							<input type="button" class="enter_shop" value="进入店铺">
						</div>
					</div>
				</div>

				<div class="shop_box">
					<div class="left_image">
						<a href="#nogo"><img src="css/img/foreman.png"></a>
						<div class="image-background_1"></div>
						<div class="image-background_2"></div>
					</div>
					<div class="right_summary">
						<div class="shop_name">
							<h2>和馨园项目经理店铺</h2>
							<img src="css/img/icon-certification.png">
							<img src="css/img/icon-accreditation.png">
						</div>
						<div class="shop_introduce">
							<p>常住地址: <span>江苏省苏州市吴中区</span></p>
							<p>服务范围: <span>苏州市姑苏区附近</span></p>
							<p>擅长风格: <span>现代简约，新中式风格</span></p>
							<p>店铺年限：<span>2</span>年</p>
						</div>
						<div class="shop_icon clearfix">
							<div class="icon_pnumber">
								<img src="css/img/icon-pnumber-1.png">
								<span>14689</span>
							</div>
							<div class="icon_turnover">
								<img src="css/img/icon-turnover-1.png">
								<span>2547</span>
							</div>
						</div>
						<div class="shop_assess">
							<p>工程质量<span>8.5</span>分</p>
							<p>服务态度<span>7</span>分</p>
							<p>综合评价<span>9</span>分</p>
						</div>
						<div class="shop_button">
							<input type="button" class="collect_shop" value="收藏">
							<input type="button" class="enter_shop" value="进入店铺">
						</div>
					</div>
				</div>

				<div class="shop_box">
					<div class="left_image">
						<a href="#nogo"><img src="css/img/foreman.png"></a>
						<div class="image-background_1"></div>
						<div class="image-background_2"></div>
					</div>
					<div class="right_summary">
						<div class="shop_name">
							<h2>和馨园项目经理店铺</h2>
							<img src="css/img/icon-certification.png">
							<img src="css/img/icon-accreditation.png">
						</div>
						<div class="shop_introduce">
							<p>常住地址: <span>江苏省苏州市吴中区</span></p>
							<p>服务范围: <span>苏州市姑苏区附近</span></p>
							<p>擅长风格: <span>现代简约，新中式风格</span></p>
							<p>店铺年限：<span>2</span>年</p>
						</div>
						<div class="shop_icon clearfix">
							<div class="icon_pnumber">
								<img src="css/img/icon-pnumber-1.png">
								<span>14689</span>
							</div>
							<div class="icon_turnover">
								<img src="css/img/icon-turnover-1.png">
								<span>2547</span>
							</div>
						</div>
						<div class="shop_assess">
							<p>工程质量<span>8.5</span>分</p>
							<p>服务态度<span>7</span>分</p>
							<p>综合评价<span>9</span>分</p>
						</div>
						<div class="shop_button">
							<input type="button" class="collect_shop" value="收藏">
							<input type="button" class="enter_shop" value="进入店铺">
						</div>
					</div>
				</div>

				<div class="shop_box">
					<div class="left_image">
						<a href="#nogo"><img src="css/img/foreman.png"></a>
						<div class="image-background_1"></div>
						<div class="image-background_2"></div>
					</div>
					<div class="right_summary">
						<div class="shop_name">
							<h2>和馨园项目经理店铺</h2>
							<img src="css/img/icon-certification.png">
							<img src="css/img/icon-accreditation.png">
						</div>
						<div class="shop_introduce">
							<p>常住地址: <span>江苏省苏州市吴中区</span></p>
							<p>服务范围: <span>苏州市姑苏区附近</span></p>
							<p>擅长风格: <span>现代简约，新中式风格</span></p>
							<p>店铺年限：<span>2</span>年</p>
						</div>
						<div class="shop_icon clearfix">
							<div class="icon_pnumber">
								<img src="css/img/icon-pnumber-1.png">
								<span>14689</span>
							</div>
							<div class="icon_turnover">
								<img src="css/img/icon-turnover-1.png">
								<span>2547</span>
							</div>
						</div>
						<div class="shop_assess">
							<p>工程质量<span>8.5</span>分</p>
							<p>服务态度<span>7</span>分</p>
							<p>综合评价<span>9</span>分</p>
						</div>
						<div class="shop_button">
							<input type="button" class="collect_shop" value="收藏">
							<input type="button" class="enter_shop" value="进入店铺">
						</div>
					</div>
				</div>
			</div>
			<!-- 具体内容end -->
			<!-- 右侧推荐start -->
			<div class="right_recommend"></div>
			<!-- 右侧推荐end -->
		</div>
		<!-- 内容区域end -->
		<div id="my_pagenumber" my-pagenumber></div>
	</div>
</div>