<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>装修订单详情</title>
		<link rel="stylesheet" href="../../lib/bootstrap/bootstrap.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/c_orderdetails/c_orderdetails.css" />
	</head>
	<body>
		<div id="orderdetaildiv" style="background: url(../../css/img/bj-header.png);background-attachment: fixed;">
			<div id="odcontainer">
				<div id="odcontent">
					<div class="od_info_box">
						<div class="od_owner">
							<div class="od_owner_head">
								<p class="chname">业主信息</p>
								<p class="enname">Owner Information</p>
							</div>
							<div class="od_owner_con">
								<div class="od_owner_tip">
									<img src="../../image/i_orderdetails/CnUfBV.jpg">
									<p><span>王文</span><span>Wangwen</span></p>
								</div>
								<dl>
									<dd><span class="col_686868">建筑面积</span><span class="fontsize_16">110㎡</span></dd>
									<dd><span class="col_686868">房屋地址</span><span class="fontsize_16">相城区丽景湾小区</span></dd>
									<dd><span class="col_686868">装修风格</span><span class="fontsize_16">现代简约风格</span></dd>
								</dl>
							</div>
						</div>
						<div class="od_store">
							<div class="od_store_head">
								<p class="chname">店铺信息</p>
								<p class="enname">Store Information</p>
							</div>
							<div class="od_store_con">
								<div class="od_store_tip">
									<img src="../../image/i_orderdetails/CnUfBV.jpg">
									<p><span>项目经理店铺</span><span>ProjectManagerStore</span></p>
								</div>
								<dl>
									<dd><span class="col_686868">服务范围</span><span class="fontsize_16">吴中区、相城区</span></dd>
									<dd><span class="col_686868">擅长风格</span><span class="fontsize_16">新中式、北欧风格</span></dd>
									<dd><span class="callme">联系我</span></dd>
								</dl>
							</div>
						</div>
						<div class="od_foreman">
							<img src="../../image/i_orderdetails/CnUfBV.jpg">
							<p>
								<span>杨春平</span>
								<span class="fontsize_14">YangChunPing</span>
								<span style="color: #EEC988;font-size: 16px;">&bull;&nbsp;&nbsp;<em style="color: #999;">工长</em>&nbsp;&nbsp;&bull;</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
