<!-- 订单顶部start -->
<div id="orderdetaildiv" style="background: url(css/img/bj-header.png);background-attachment: fixed;">
	<div id="odcontainer">
		<div id="odcontent">
			<div class="od_info_box">
				<div class="od_owner">
					<div class="od_owner_head">
						<p class="chname">业主信息</p>
						<p class="enname">Owner Information</p>
					</div>
					<div class="od_owner_con">
						<div class="od_owner_tip">
							<img src="image/i_orderdetails/CnUfBV.jpg">
							<p><span>王文</span><span>Wangwen</span></p>
						</div>
						<dl>
							<dd><span class="col_686868">建筑面积</span><span class="fontsize_16">110㎡</span></dd>
							<dd><span class="col_686868">房屋地址</span><span class="fontsize_16">相城区丽景湾小区</span></dd>
							<dd><span class="col_686868">装修风格</span><span class="fontsize_16">现代简约风格</span></dd>
						</dl>
					</div>
				</div>
				<div class="od_store">
					<div class="od_store_head">
						<p class="chname">店铺信息</p>
						<p class="enname">Store Information</p>
					</div>
					<div class="od_store_con">
						<div class="od_store_tip">
							<img src="image/i_orderdetails/CnUfBV.jpg">
							<p><span>项目经理店铺</span><span>ProjectManagerStore</span></p>
						</div>
						<dl>
							<dd><span class="col_686868">服务范围</span><span class="fontsize_16">吴中区、相城区</span></dd>
							<dd><span class="col_686868">擅长风格</span><span class="fontsize_16">新中式、北欧风格</span></dd>
							<dd><span class="callme">联系我</span></dd>
						</dl>
					</div>
				</div>
				<div class="od_foreman">
					<img src="image/i_orderdetails/CnUfBV.jpg">
					<p>
						<span>杨春平</span>
						<span class="fontsize_14">YangChunPing</span>
						<span style="color: #EEC988;font-size: 16px;">&bull;&nbsp;&nbsp;<em style="color: #999;">工长</em>&nbsp;&nbsp;&bull;</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 订单顶部end -->
<!-- 悬浮菜单start -->
<div id="suspension_menu">
	<ul>
		<li class="current">
			<a href="javascript:void(0)" tab="&stage_1">进场准备</a>
		</li>
		<li>
			<a href="javascript:void(0)" tab="&stage_sdg">水电工阶段</a>
		</li>
		<li>
			<a href="javascript:void(0)" tab="&stage_wg">瓦工阶段</a>
		</li>
		<li>
			<a href="javascript:void(0)" tab="&stage_mg">木工阶段</a>
		</li>
		<li>
			<a href="javascript:void(0)" tab="&stage_yqg">油漆工阶段</a>
		</li>
		<li>
			<a href="javascript:void(0)" tab="&axis_end">工期完成</a>
		</li>
		<li>
			<a href="javascript:void(0)" tab="&commonhead">回到顶部</a>
		</li>
	</ul>
</div>
<!-- 悬浮菜单end -->
<!-- 时间轴start -->
<div id="time_axis">
	<div class="axis_content">
		<div class="axis_start">
			<h2>进场准备</h2>
			<h3>READING..</h3>
		</div>
		<!-- 初始阶段start -->
		<div class="stage_1 bar">
			<div class="stage_1_title">
				<span class="date">2016.10.20</span>
				<i></i>
				<b></b>
			</div>
			<div class="stage_1_content">
				<div class="stage_1_pic">
					<div class="pic_1"></div>
					<div class="pic_2"></div>
					<a href="#nogo">
						<div class="worker_add"></div>
					</a>
				</div>
				<p>准备开工啦.....</p>
				<div class="stage_line"></div>
			</div>
		</div>
		<!-- 初始阶段end -->
		<!-- 水电工阶段start -->
		<div class="stage_sdg bar">
			<div class="worker_sdg">
				<img src="css/img/worker_type.png">
				<p>
					<span class="worker_cname">宋小磊</span>
					<span class="worker_ename">songsiaolei</span>
					<span class="worker_price"><em>40</em>元/m<sup>2</sup></span>
				</p>
			</div>
			<div class="sdg_content">
				<div class="sdg_stage_1">
					<div class="sdg_stage_1_title">
						<b></b>
						<span class="date">2016.10.24</span>
						<em></em>
						<b></b>
						<span>水电工开工</span>
					</div>
					<div class="sdg_stage_1_content">
						<a href="#nogo">
							<div class="worker_add"></div>
						</a>
						<p>准备开工啦.....</p>
						<div class="stage_line"></div>
					</div>
				</div>
				<div class="sdg_stage_2">
					<div class="sdg_stage_2_title">
						<span class="date">2016.10.25</span>
						<em></em>
						<b></b>
						<span class="process">水电材料<span class="strong">(待支付)</span></span>
					</div>
					<div class="sdg_stage_2_content">
						<a href="#nogo">
							<div class="worker_add"></div>
						</a>
						<p>准备开工啦.....</p>
						<div class="stage_line"></div>
					</div>
				</div>
				<div class="sdg_stage_3">
					<div class="sdg_stage_3_title">
						<span class="date">2016.11.02</span>
						<em></em>
						<b></b>
						<span>工长上传图片</span>
					</div>
					<div class="sdg_stage_3_content">
						<div class="sdg_stage_3_pic">
							<div class="pic_1"></div>
							<div class="pic_2"></div>
							<div class="pic_3"></div>
							<div class="worker_add"></div>
						</div>
						<p>前期完工了.....</p>
						<div class="stage_line"></div>
					</div>
				</div>
				<div class="sdg_stage_4">
					<div class="sdg_stage_4_title">
						<i></i>
						<b></b>
						<span>水电改造完成</span>
						<input type="button" value="结算清单" class="balance">
					</div>
					<div class="sdg_stage_4_content"></div>
				</div>
			</div>
		</div>
		<!-- 水电工阶段end -->
		<!-- 瓦工阶段start -->
		<div class="stage_wg bar">
			<div class="worker_wg">
				<img src="css/img/worker_type.png">
				<p>
					<span class="worker_cname">宋小磊</span>
					<span class="worker_ename">songsiaolei</span>
					<span class="worker_price"><em>40</em>元/m<sup>2</sup></span>
				</p>
			</div>
			<div class="wg_stage_1">
				<div class="wg_stage_1_title">
					<b></b>
					<span class="date">2016.11.03</span>
					<em></em>
					<b></b>
					<span>瓦工开工</span>
				</div>
				<div class="wg_stage_1_content">
					<div class="wg_stage_1_pic">
						<div class="pic_1"></div>
						<div class="pic_2"></div>
						<a href="#nogo">
							<div class="worker_add"></div>
						</a>
					</div>
					<p>前期完工啦.....</p>
					<div class="stage_line"></div>
				</div>
			</div>
			<div class="wg_stage_2">
				<div class="wg_stage_2_title">
					<span class="date">2016.11.03</span>
					<em></em>
					<b></b>
					<span class="process">瓦工铺材<span class="strong">(已配送)</span></span>
				</div>
				<div class="wg_stage_2_content">
					<div class="wg_stage_2_pic">
						<div class="pic_1"></div>
						<a href="#nogo">
							<div class="worker_add"></div>
						</a>
					</div>
					<p>材料配送完工.....</p>
					<div class="stage_line"></div>
				</div>
			</div>
			<div class="wg_stage_3">
				<div class="wg_stage_3_title">
					<span class="date">2016.11.08</span>
					<em></em>
					<b></b>
					<span>工长上传</span>
				</div>
				<div class="wg_stage_3_content">
					<div class="wg_stage_3_pic">
						<div class="pic_1"></div>
						<div class="pic_2"></div>
						<a href="#nogo">
							<div class="worker_add"></div>
						</a>
					</div>
					<p>前期完工啦.....</p>
					<div class="stage_line"></div>
				</div>
			</div>
			<div class="wg_stage_4">
				<div class="wg_stage_4_title">
					<i></i>
					<b></b>
					<span>瓦工工作完成</span>
					<input type="button" value="结算清单" class="balance">
				</div>
				<div class="wg_stage_4_content"></div>
			</div>
		</div>
		<!-- 瓦工阶段end -->
		<!-- 木工阶段start -->
		<div class="stage_mg bar">
			<div class="worker_mg">
				<img src="css/img/worker_type.png">
				<p>
					<span class="worker_cname">宋小磊</span>
					<span class="worker_ename">songsiaolei</span>
					<span class="worker_price"><em>40</em>元/m<sup>2</sup></span>
				</p>
			</div>
			<div class="mg_stage_1">
				<div class="mg_stage_1_title">
					<b></b>
					<span class="date">2016.11.09</span>
					<em></em>
					<b></b>
					<span>木工开工</span>
				</div>
				<div class="mg_stage_1_content">
					<div class="mg_stage_1_pic">
						<div class="pic_1"></div>
						<div class="pic_2"></div>
						<a href="#nogo">
							<div class="worker_add"></div>
						</a>
					</div>
					<p>前期完工啦.....</p>
					<div class="stage_line"></div>
				</div>
			</div>
			<div class="mg_stage_2">
				<div class="mg_stage_2_title">
					<span class="date">2016.11.09</span>
					<em></em>
					<b></b>
					<span class="process">木工铺材<span class="strong">(已送达)</span></span>
				</div>
				<div class="mg_stage_2_content">
					<div class="mg_stage_2_pic">
						<div class="pic_1"></div>
						<a href="#nogo">
							<div class="worker_add"></div>
						</a>
					</div>
					<p>材料配送完工.....</p>
					<div class="stage_line"></div>
				</div>
			</div>
			<div class="mg_stage_3">
				<div class="mg_stage_3_title">
					<span class="date">2016.11.15</span>
					<em></em>
					<b></b>
					<span>工长上传</span>
				</div>
				<div class="mg_stage_3_content">
					<div class="mg_stage_3_pic">
						<div class="pic_1"></div>
						<div class="pic_2"></div>
						<a href="#nogo">
							<div class="worker_add"></div>
						</a>
					</div>
					<p>前期完工啦.....</p>
					<div class="stage_line"></div>
				</div>
			</div>
			<div class="mg_stage_4">
				<div class="mg_stage_4_title">
					<i></i>
					<b></b>
					<span>木工工作完成</span>
					<input type="button" value="结算清单" class="balance">
				</div>
				<div class="mg_stage_4_content"></div>
			</div>
		</div>
		<!-- 木工阶段end -->
		<!-- 油漆工阶段start -->
		<div class="stage_yqg bar">
			<div class="worker_yqg">
				<img src="css/img/worker_type.png">
				<p>
					<span class="worker_cname">宋小磊</span>
					<span class="worker_ename">songsiaolei</span>
					<span class="worker_price"><em>40</em>元/m<sup>2</sup></span>
				</p>
			</div>
			<div class="yqg_stage_1">
				<div class="yqg_stage_1_title">
					<b></b>
					<span class="date">2016.11.16</span>
					<em></em>
					<b></b>
					<span>油漆工开工</span>
				</div>
				<div class="yqg_stage_1_content">
					<div class="yqg_stage_1_pic">
						<div class="pic_1"></div>
						<div class="pic_2"></div>
						<a href="#nogo">
							<div class="worker_add"></div>
						</a>
					</div>
					<p>前期完工啦.....</p>
					<div class="stage_line"></div>
				</div>
			</div>
			<div class="yqg_stage_2">
				<div class="yqg_stage_2_title">
					<span class="date">2016.11.16</span>
					<em></em>
					<b></b>
					<span class="process">油漆工铺材<span class="strong">(已送达)</span></span>
				</div>
				<div class="yqg_stage_2_content">
					<div class="yqg_stage_2_pic">
						<div class="pic_1"></div>
						<a href="#nogo">
							<div class="worker_add"></div>
						</a>
					</div>
					<p>材料配送完工.....</p>
					<div class="stage_line"></div>
				</div>
			</div>
			<div class="yqg_stage_3">
				<div class="yqg_stage_3_title">
					<span class="date">2016.11.23</span>
					<em></em>
					<b></b>
					<span>工长上传</span>
				</div>
				<div class="yqg_stage_3_content">
					<div class="yqg_stage_3_pic">
						<div class="pic_1"></div>
						<div class="pic_2"></div>
						<a href="#nogo">
							<div class="worker_add"></div>
						</a>
					</div>
					<p>完美收工</p>
					<div class="stage_line"></div>
				</div>
			</div>
		</div>
		<!-- 油漆工阶段end -->
		<div class="axis_end bar">
			<i></i>
			<h2>工期完成</h2>
			<h3>FINISH</h3>
			<input type="button" value="提交" class="submit">
		</div>
	</div>

</div>
<!-- 时间轴end -->