#foreman_shop {
	position: relative;
	-moz-box-shadow:0px 0px 15px #939393; 
	-webkit-box-shadow:0px 0px 15px #939393; 
	border: 1px solid #FFFFFF;
	margin: 0 auto;
	width: 1320px;
	box-shadow:0px 0px 28px #939393
}

#foreman_shop .foreman_shopcnt {
	width: 1190px;
	margin: 0 auto
}

#foreman_shop .shop_content {
	position: relative;
	width: 1190px;
	margin: 0 auto
}

#foreman_shop .shop_content .content_title {
	position: relative;
	font-family: FZLTHJW;
	font-size: 14px;
	color: #656565
}

#foreman_shop .shop_content .content_title .default {
	cursor: pointer;
	margin: 0 15px 0 0
}

#foreman_shop .shop_content .content_title .trading,.score {
	margin: 0 15px 0 15px;
	cursor: pointer
}

#foreman_shop .shop_content .content_title .active,.number {
	font-weight: bold;
	color: #E88226!important
}

#foreman_shop .shop_content .content_title .count {
	position: absolute;
	right: 270px;
	top: 0
}

#foreman_shop .shop_content .right_recommend {
	width: 216px;
	position: absolute;
	height: 900px;
	background-color: #939393;
	top: 0;
	right: 0
}

#foreman_shop .shop_content .shop_summary {
	position: relative;
	height: 1060px
}

#foreman_shop .shop_content .shop_summary .shop_box {
	position: relative;
	width: 950px;
	height: 290px;
	padding-top: 42px;
	border-bottom: 1px solid #eee
}

#foreman_shop .shop_content .shop_summary .shop_box:first-child {
	margin-top: 20px
}

#foreman_shop .shop_content .shop_summary .shop_box:last-child {
	border-bottom: 0
}

#foreman_shop .shop_content .shop_summary .shop_box:hover {
	transition: all 0.3s;
	-moz-box-shadow: 0 0 6px #999;
    -o-box-shadow: 0 0 6px #999;
    -webkit-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 6px #999
}

#foreman_shop .shop_content .shop_box .left_image {
	position: relative;
	width: 270px;
	height: 221px;
	margin-left: 20px;
	float: left
}

#foreman_shop .shop_content .shop_box .left_image img {
	width: 100%;
	height: 100%
}

#foreman_shop .shop_content .shop_box .left_image .image-background_1 {
	position: absolute;
	width: 200px;
	height: 8px;
	background-color: #EEC988;
	top: -8px;
	left: 78px
}

#foreman_shop .shop_content .shop_box .left_image .image-background_2 {
	position: absolute;
	width: 8px;
	height: 172px;
	background-color: #EEC988;
	top: -8px;
	right: -8px
}

#foreman_shop .shop_content .shop_box .right_summary {
	float: left;
	margin-left: 76px;
	position: relative
}

#foreman_shop .shop_content .shop_box .right_summary .shop_name {
	font-family: FZLTZHK;
	margin-bottom: 16px;
	font-size: 18px;
	color: #E88226
}

#foreman_shop .shop_content .shop_box .right_summary .shop_name h2 {
	float: left;
	font-size: 18px;
	margin-right: 29px
}

#foreman_shop .shop_content .shop_box .right_summary .shop_name img {
	margin-top: 2px;
	height: 18px
}

#foreman_shop .shop_content .shop_box .right_summary .shop_introduce {
	position: relative;	
	margin-bottom: 25px
}

#foreman_shop .shop_content .shop_box .right_summary .shop_introduce p {
	color: #656565;
	margin-bottom: 14px;
	font-family: FZLTHJW;
	font-size: 14px
}

#foreman_shop .shop_content .shop_box .right_summary .shop_introduce p:nth-child(3) span {
	display: inline-block;
	border: 1px solid #656565;
	margin-right: 10px;
	padding: 3px
}

#foreman_shop .shop_content .shop_box .right_summary .shop_introduce p:nth-child(3) span:last-child {
	margin: 0
}

#foreman_shop .shop_content .shop_box .shop_icon div {
	position: relative;
	width: 70px;
	float: left;
	font-family: FZLTHJW;
	cursor: pointer;
	font-size: 14px;
	color: #656565;
	margin-right: 43px
}

#foreman_shop .shop_content .shop_box .shop_icon span {
	position: absolute;
	top: 5px;
	left: 35px
}

#foreman_shop .shop_content .shop_box .shop_assess {
	position: absolute;
	top: 35px;
	left: 440px;
	width: 125px;
	font-family: FZLTHJW;
	font-size: 14px;
	color: #656565
}

#foreman_shop .shop_content .shop_box .shop_assess span {
	display: inline-block;
	width: 30px;
	text-align: right;
	margin: 0 8px 0 17px;
	font-family: HelveticaNeueLTPro HvIt;
	color: #E88226;
	font-size: 18px
}

#foreman_shop .shop_content .shop_box .shop_button {
	position: absolute;
	top: 170px;
	left: 305px;
	width: 265px
}

#foreman_shop .shop_content .shop_box .shop_button .collect_shop {
	border: 0;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	color: #FFFFFF;
	font-family: FZLTHJW;
	font-size: 18px;
	background-color: #525252;
	width: 118px;
	height: 42px;
	float: left
}

#foreman_shop .shop_content .shop_box .shop_button .enter_shop {
	border: 1px solid #D7D7D7;
	border-radius: 4px;
	background-color: #FFFFFF;
	color: #262626;
	font-family: FZLTHJW;
	font-size: 18px;
	margin-left: 27px;
	float: left;
	width: 118px;
	height: 42px;
	line-height: 42px;
	cursor: pointer;
	text-align: center
}

#foreman_shop .shop_content .shop_box .shop_button .enter_shop:hover {
	color: #EEC988;
	background-color: #363636;
	transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear
}

#foreman_shop .shop_content .shop_box .shop_button .collect_shop:hover {
	transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background-color: #363636
}
