<div id="header">
	<div class="commonhead">
		<div id="topNavWrapper">
			<div id="topNavPanel">
				<div id="topLogin">
					<span>您好，欢迎访问嘿吼（heeyhome.com）！</span>
					<span>请先</span>
					<a class="login" rel="nofollow" href="register.html?#dl">登录</a>
					<span>或</span>
					<a class="register" rel="nofollow" href="register.html?#zc">注册</a>
				</div>
				<ul id="topNav">
					<li id="c_myhh" class>
						<a class="item_hover_0" href="javascrpit:void(0);">我的嘿吼</a>
						<div class="">
							<div class="userinfo clearfix">
								<div class="sprite mypic"></div>
								<p>您好，<a rel="nofollow" href="register.html?#dl" class="please_login">请登录</a> </p>
							</div>
							<div class="myinfo clearfix">
								<span>
									<a rel="nofollow" href="">我的订单</a>
									<a rel="nofollow" href="">我的收藏</a>
								</span>
								<span>
									<a rel="nofollow" href="">我的信息</a>
									<a rel="nofollow" href="">会员中心</a>
								</span>
							</div>
						</div>
					</li>
					<li id="c_news">
						<a href="javascrpit:void(0);"><em class="sprite news"></em>消息</a>
					</li>
					<li>
						<span>全国服务热线：400-800-8820</span>
					</li>
				</ul>
			</div>
		</div>
		<div id="headerWrapper">
			<div id="pageheader" class="clearfix">
				<div class="logo_style">
					<div class="logo" title="嘿吼网">
						<a rel="nofollow" href="http://www.heeyhome.com/" target="_blank">
							<img src="image/logo.png" />
						</a>
					</div>
					<div id="nowCity">
						<div class="rightPicture">
							<a href="JavaScript:;">
								<span id="Jcity">苏州</span>
								<img src="image/header-bj.png" alt="热线电话">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="menuNavOuter">
			<div id="menuNavWrapper">
				<div id="menuNavPanel">
					<ul id="menuNav">
						<li data-type="2000"><a class="" href="" ui-sref=".home" ui-sref-active="current">首页</a></li>
						<li data-type="2000" class><a href="" ui-sref=".cal" ui-sref-active="current">成本计算</a></li>
						<li data-type="2000" class><a href="" ui-sref=".panorama" ui-sref-active="current">虚拟现实</a></li>
						<li data-type="2000" class><a href="" ui-sref=".shoplist" ui-sref-active="current">工长店铺</a></li>
						<li data-type="2000" class><a href="" ui-sref=".gonglve" ui-sref-active="current">家装百科</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>	
