html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,form,fieldset,legend,input,select,textarea,button,caption,th,td,blockquote,pre {
    margin: 0;
    padding: 0
}

body {
    color: #333;
    font: normal normal normal 12px/20px Arial,sans-serif
}

input,select,textarea,button {
    vertical-align: middle;
    font-size: 100%;
    outline: 0;
    font-family: 'Microsoft YaHei',Arial,sans-serif
}

h1,h2,h3,h4,h5,h6,strong,th,b {
    font-weight: 400
}

h1,h2,h3,h4,h5,h6 {
    font-size: 14px;
    line-height: 24px
}

li {
    list-style: none
}

table {
    border-spacing: 0
}

caption,th {
    text-align: left
}

fieldset,img {
    border: 0
}

address,cite,dfn,em,var,i {
    font-style: normal
}

code,dfn,kbd,samp,tt,var,pre {
    font-family: monospace
}

del,ins,s {
    text-decoration: none
}

small {
    font-size: 100%
}

q:before {
    content: ''
}

q:after {
    content: ''
}

img {
    border: 0
}

a {
    color: #005bb5;
    text-decoration: none;
    outline: 0
}

a:visited {
    text-decoration: none !important;
}

a:focus {
    text-decoration: none !important;
}

a:hover {
    color: #f60;
    text-decoration: none
}

.clearfix {
    zoom: 1
}

.clearfix:after,.clearfix:before {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both
}

.display {
    display: none
}

.col_eec988 {
	color: #EEC988 !important
}

.col_686868 {
	color: #686868
}

.border_eec988 {
	border: 1px solid #EEC988 !important
}

.after_eec988:after {
	border-top: 8px solid #EEC988 !important
}

label.error{
    position: absolute;
    padding: 0 8px;
    line-height: 30px;
    color: #ff5704;
    cursor: text;
 	visibility: hidden; 
    opacity: 0;
    font-size: 14px;
    -ms-filter: "alpha(Opacity=0)";
    -webkit-transform: translate(20px,0);
    -ms-transform: translate(20px,0);
    transform: translate(20px,0);
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
    
}

label.error.whether{
    visibility: visible;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    /*animation: fadeOut 5s linear forwards;*/
}

label.error.roomerror{
    visibility: visible;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    animation: fadeOut 3s linear forwards;
}

@keyframes fadeOut {
    0%  { opacity: 0; transform: translate(20px,0);}
    10% { opacity: 1; transform: translate(0,0);}
    90% { opacity: 1; transform: translate(0,0);}
    99% { opacity: 0; transform: translate(20px,0);}
    100% { opacity: 0; }
}

.commonhead,#Head1,#header,#footer {
    font: normal normal normal 12px/20px 'Microsoft YaHei',Arial,sans-serif
}

#header {
    background: #fff
}

#topNavWrapper,#headerWrapper,#menuNavOuter {
    min-width: 1190px
}

#topNavPanel,#pageheader,#menuNavPanel {
    width: 1190px
}

#topNavWrapper {
    background: #fafafa;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    z-index: 9999
}

#topNavPanel {
    height: 28px;
    margin: 0 auto;
    line-height: 28px
}

#topNavPanel a {
    color: #666
}

#topLogin {
    width: 705px;
    float: left;
    height: 28px;
    overflow: hidden
}

#topLogin a,#topLogin>span {
    float: left;
    color: #999
}

#topLogin .login, #topLogin .register {
    padding: 0 5px
}

#topLogin .login {
    /*margin-left: 5px;*/
    color: #EEC988
}

#topLogin .register:hover {
    color: #EEC988
}

#topNav {
    float: right
}

#topNav span {
    color: #737373
}

#topNav li {
    float: left;
    border-style: solid;
    border-width: 0 1px;
    position: relative;
    border-color: transparent
}

#topNav li.open {
    border-color: #ddd;
    background: #fff;
    box-shadow: 0 0 8px 0 #ccc
}

#topNav li>span {
    display: block;
    padding: 0 9px;
    position: relative;
    z-index: 2;
    height: 28px
}

#topNav li>a {
    display: block;
    padding: 0 20px;
    position: relative;
    z-index: 2;
    height: 28px;
    color: #eec988
}

#topNav li.open>a {
    background: #fff
}

#topNav li>div {
    position: absolute;
    top: 28px;
    height: 0px;
    right: -1px;
    overflow: hidden;
    -moz-transition: .2s height ease-in-out;
    -webkit-transition: .2s height ease-in-out;
    -o-transition: .2s height ease-in-out;
    transition: .2s height ease-in-out
}

#c_myhh>div {
	left: -1px;
    line-height: 20px;
    background: #fff;
    z-index: 1;
    width: 162px;
    padding: 0 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
}

#c_myhh.open>div {
	border-bottom: 1px solid #ddd;
 	box-shadow: 0 0 8px 0 #ccc
}

#topNav #c_myhh>a {
    color: #737373
}

#topNav #c_myhh>a:after {
	content: "";
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #999;
    display: inline-block;
    top: 12px;
    right: 8px;
    position: absolute
}

#topNav #c_myhh>a:hover {
	transition: all .3s;
	color: #EEC988
}

#topNav #c_myhh>a:hover:after {
	border-top: 4px solid #eec988;
    /*transform: rotate(180deg);
    transition: transform 0.3s*/
}

.userinfo {
	padding: 15px 0 8px
}

.userinfo>div, .userinfo p {
    float: left
}

.userinfo p {
	margin-top: 8px
}

.mypic {
    background: url(../img/BfCGPi.png) no-repeat 0 -175px
}

.myno {
    background-position: 0 -248px
}

#c_myhh .mypic, #c_myhh .myno {
    width: 36px;
    height: 36px;
    margin-right: 10px
}

#c_myhh p a {
    color: #0185c6
}

.please_login {
    display: inline-block;
    max-width: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right
}

.user_information {
	margin-left: 10px;
	max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	color: #333 !important
}

.user_information:hover,.uinfo>span:hover {
	color: #E88226 !important
}

.exit {
	cursor: pointer;
	color: #333 !important;
	margin-left: 20px
}

.exit:hover {
	color: #E88226!important
}

.uinfo {
	max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.uinfo>span {
	color: #666 !important
}

#topNavPanel #c_myhh p a:hover {
    color: #EEC988
}

.myinfo {
	position: relative
}

.myinfo:before {
    content: "";
    background-color: #fff;
    position: absolute;
    left: 67px;
    top: 0;
    height: 5px;
    width: 3px
}

.myinfo span {
    float: left;
    display: block;
    width: 65px;
    text-align: right
}

.myinfo span:first-child {
    border-right: 1px solid #ddd;
    text-align: left
}

.myinfo span:first-child:before {
    position: absolute;
    content: "";
    background-color: #fff;
    left: 68px;
    height: 5px;
    width: 2px;
    top: 37px
}

.myinfo a {
    line-height: 20px;
    display: block
}
#topNavPanel .myinfo span>a:hover {
    color: #EEC988;
}

#c_news>a em {
    display: inline-block;
    width: 19px;
    height: 13px;
    margin: -3px 8px 0 0;
    background: url(../img/icon-news.png) no-repeat;
    background-position: 0 0;
    vertical-align: middle
}

#pageheader {
    margin: 0 auto;
    line-height: 0
}

#pageheader .logo_style {
    height: 90px;
    float: left;
    position: relative
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    visibility: hidden
}

.logo {
    display: block;
    height: 100%
}

.logo a {
    text-align: center;
    display: block;
    height: 90px
}

.logo a img {
    margin-top: 19px
}

#pageheader .logo {
    float: left
}

#nowCity {
    line-height: 24px;
    position: relative;
    margin: 46px 0 0;
    float: left
}

#nowCity>div {
    font-size: 14px;
    color: #333;
    display: block;
    z-index: 1002;
    position: relative;
    padding: 0 60px
}

#nowCity>div em {
    display: inline-block;
    width: 14px;
    height: 19px;
    margin-right: 5px;
    background: url(../img/icon-location.png) no-repeat;
    background-position: 0 0;
    vertical-align: sub
}

#nowCity>div label {
	color: #767676
}

#nowCity>div a:hover {
	color: #eec988
}

.s_box_outer {
    float: right
}

#headerWrapper .searchcon {
    font-family: Microsoft YaHei,Simsun,serif;
    padding-top: 43px;
    float: left;
    position: relative;
    margin-right: 35px
}

#headerWrapper .searchcon input {
	width: 400px;
    display: inline-block;
    border: 1px solid #eec988;
    height: 32px;
    line-height: 30px;
    text-indent: 12px;
    color: #666;
    font-size: 14px;
    border-radius: 4px;
    float: left
}

#headerWrapper .searchcon .search-btn {
    width: 32px;
    display: inline-block;
    height: 32px;
    text-align: center;
    background: #ffffff;
    vertical-align: middle;
    border: 0;
    padding-left: 10px;
    cursor: pointer
}

.c_searchpop {
    width: 400px;
    position: absolute;
    left: 0;
    top: 75px;
    padding: 10px 10px 0;
    background: #fff;
    z-index: 1000;
    border: 1px solid #dfdfdf;
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.1);
    font-size: 14px
}

.c_searchpop .c_searchpoptit {
    color: #666
}

.c_searchpoptit {
    width: 100%;
    float: left
}

.c_searchpop .c_searchpoptit h3 {
    font-weight: 700;
    color: #666
}

.c_searchpop .c_pop_city {
    float: left;
    padding: 7px 0 14px;
    width: 100%;
    line-height: 24px
}

.c_searchpop .c_pop_dlcity {
    padding-top: 0
}

.c_pop_dlcity dl {
    padding: 0 20px;
    overflow: hidden
}

.c_pop_dlcity dd {
    width: 330px;
    float: right;
    height: 35px;
    padding: 5px;
    border-bottom: dotted 1px #ccc;
    overflow: hidden
}

.c_pop_dlcity dd span {
    display: inline-block;
    background: #ff6815;
    border-radius: 6px;
    font-size: 12px;
    -webkit-text-size-adjust: none;
    color: #fff;
    padding: 1px 0px;
    line-height: 13px;
    width: 20px;
    text-align: center
}

.c_searchpop .c_pop_city a {
	margin-left: 10px;
    line-height: 24px;
    color: #666;
    cursor: pointer
}

.c_searchpop a.col_ff6815 {
    color: #ff6815
}

.c_pop_dlcity dd span.bgcol_005bb5 {
    background: #005bb5
}

/*#pageheader .rightLogin {
	margin: 36px 0px 0 28px;
    position: relative
}

#pageheader .rightLogin>a {
	display: block;
	float: left;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: #eecf88;
    margin: 0 5px;
    padding: 19px 25px;
    border: 1px solid #eecf88;
    border-radius: 4px
}

#pageheader .rightLogin>a.register {
	background: #eecf88;
	color:#fff
}*/

#pageheader .rightPicture {
    margin: 12px 0px 0 28px;
    position: relative
}

#pageheader .rightPicture>a {
	height: 103px;
    cursor: default
}

#pageheader .rightPicture>a>span {
	position: absolute;
    font-size: 16px;
    color: #EEC988;
    bottom: 20px;
    left: 14px;
    font-weight: 700;
    text-shadow: #fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0
}

#menuNavOuter {
    position: relative;
    z-index: 999
}

#menuNavWrapper {
    padding-top: 10px
}

#menuNavPanel {
    margin: 0 auto;
    position: relative
}

#menuNav {
	height: 46px;
    padding-left: 110px
}

#menuNav li {
    padding: 10px 56px 6px;
    float: left;
    position: relative
}

#menuNav li>a {
    display: block;
    color: #4B4948;
    height: 30px;
    padding: 0 12px;
    line-height: 30px;
    font-size: 18px;
    vertical-align: middle;
    text-decoration:none;
    position: relative
}

#menuNav li>a:hover {
    color: #eecf88
}

#menuNav .current {
    color: #eecf88
}

#footer {
    background: #000;
    opacity: 0.9
}

#footer>ul {
    width: 1190px;
    margin: 10px auto 0;
    padding: 200px 0 150px 0
}

#footer>ul>li {
    float: left
}

#footer li>a {
    display: block;
    color: #EEC988;
    height: 30px;
    padding: 0px 75px;
    line-height: 30px;
    font-size: 16px;
    vertical-align: middle;
    position: relative
}

#footer li>a>img {
    margin-top: -75px
}

#footer>div {
	padding-bottom: 60px;
	position: relative
}

#footer>div>ul {
    width: 440px;
    margin: 10px auto 0
}

#footer>div>ul>li {
    padding:8px
}

#footer>div>ul>li>em {
    display: inline-block;
    width: 19px;
    height: 21px;
    margin: -3px 12px 0 0;
    background-position: 0 0;
    vertical-align: middle
}

#footer>div>ul>li>em.icon-home {
    background: url(../img/icon-home.png) no-repeat
}

#footer>div>ul>li>em.icon-iphone {
    background: url(../img/icon-iphone.png) no-repeat
}

#footer>div>ul>li>span {
	color:#EEC988;
	font-size: 16px
}