html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, form, fieldset, legend, input, select, textarea, button, caption, th, td, blockquote, pre {
    margin: 0;
    padding: 0
}

body {
    color: #333;
    font: normal normal normal 12px/20px Arial, sans-serif;
    font-family: 'Microsoft YaHei', Arial, sans-serif
}

input, select, textarea, button {
    vertical-align: middle;
    font-size: 100%;
    outline: 0;
    font-family: 'Microsoft YaHei', Arial, sans-serif
}

h1, h2, h3, h4, h5, h6, strong, th, b {
    font-weight: 400
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    line-height: 24px
}

li {
    list-style: none
}

table {
    border-spacing: 0
}

caption, th {
    text-align: left
}

fieldset, img {
    border: 0
}

address, cite, dfn, em, var, i {
    font-style: normal
}

code, dfn, kbd, samp, tt, var, pre {
    font-family: monospace
}

del, ins, s {
    text-decoration: none
}

small {
    font-size: 100%
}

q:before {
    content: ''
}

q:after {
    content: ''
}

img {
    border: 0
}

a {
    color: #005bb5;
    text-decoration: none;
    outline: 0
}

a:visited {
    text-decoration: none !important;
}

a:focus {
    text-decoration: none !important;
}

a:hover {
    color: #f60;
    text-decoration: none
}

.clearfix {
    zoom: 1
}

.clearfix:after, .clearfix:before {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both
}

.display {
    display: none;
}

.col_eec988 {
    color: #EEC988 !important
}

.col_686868 {
    color: #686868
}

.bg_eec988 {
    background-color: #EEC988 !important;
}

.border_eec988 {
    border: 1px solid #EEC988 !important
}

.after_eec988:after {
    border-top: 8px solid #EEC988 !important
}

.cursor {
    cursor: pointer !important;
}

label.error {
    position: absolute;
    padding: 0 8px;
    line-height: 30px;
    color: #ff5704;
    cursor: text;
    visibility: hidden;
    opacity: 0;
    font-size: 14px;
    -ms-filter: "alpha(Opacity=0)";
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    transform: translate(20px, 0);
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;

}

label.error.whether {
    visibility: visible;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    /*animation: fadeOut 5s linear forwards;*/
}

label.error.roomerror {
    visibility: visible;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    animation: fadeOut 3s linear forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        transform: translate(20px, 0);
    }
    10% {
        opacity: 1;
        transform: translate(0, 0);
    }
    90% {
        opacity: 1;
        transform: translate(0, 0);
    }
    99% {
        opacity: 0;
        transform: translate(20px, 0);
    }
    100% {
        opacity: 0;
    }
}

.fixed {
    position: fixed !important;
}

.sprite {
    background: url(../img/sprite-icon.png) no-repeat;
}

.sprite-image {
    background: url(../img/sprite-img.png) no-repeat;
}

.loagbg {
    background: url(../../image/icon-loading.gif) center no-repeat;
    /*height: 148px*/
}

.commonhead, #Head1, #header, #footer {
    font: normal normal normal 12px/20px 'Microsoft YaHei', Arial, sans-serif
}

#header {
    background: #fff
}

#topNavWrapper, #headerWrapper, #menuNavOuter {
    min-width: 1190px
}

#topNavPanel, #pageheader, #menuNavPanel {
    width: 1190px
}

#topNavWrapper {
    background: #fafafa;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    z-index: 9999
}

#topNavPanel {
    height: 28px;
    margin: 0 auto;
    line-height: 28px
}

#topNavPanel a {
    color: #666
}

#topLogin {
    width: 705px;
    float: left;
    height: 28px;
    overflow: hidden
}

#topLogin a, #topLogin > span {
    float: left;
    color: #999
}

#topLogin .login, #topLogin .register {
    padding: 0 5px
}

#topLogin .login {
    /*margin-left: 5px;*/
    color: #EEC988
}

#topLogin .register:hover {
    color: #EEC988
}

#topNav {
    float: right
}

#topNav span {
    color: #737373
}

#topNav li {
    float: left;
    border-style: solid;
    border-width: 0 1px;
    position: relative;
    border-color: transparent
}

#topNav li.open {
    border-color: #ddd;
    background: #fff;
    box-shadow: 0 0 8px 0 #ccc
}

#topNav li > span {
    display: block;
    padding: 0 9px;
    position: relative;
    z-index: 2;
    height: 28px
}

#topNav li > a {
    display: block;
    padding: 0 20px;
    position: relative;
    z-index: 2;
    height: 28px;
    color: #eec988
}

#topNav li.open > a {
    background: #fff
}

#topNav li > div {
    position: absolute;
    top: 28px;
    height: 0px;
    right: -1px;
    overflow: hidden;
    -moz-transition: .2s height ease-in-out;
    -webkit-transition: .2s height ease-in-out;
    -o-transition: .2s height ease-in-out;
    transition: .2s height ease-in-out
}

#c_myhh > div {
    left: -1px;
    line-height: 20px;
    background: #fff;
    z-index: 1;
    width: 162px;
    padding: 0 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
}

#c_myhh.open > div {
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px 0 #ccc
}

#topNav #c_myhh > a {
    color: #737373
}

#topNav #c_myhh > a:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #999;
    display: inline-block;
    top: 12px;
    right: 8px;
    position: absolute
}

#topNav #c_myhh > a:hover {
    transition: all .3s;
    color: #EEC988
}

#topNav #c_myhh > a:hover:after {
    border-top: 4px solid #eec988;
    /*transform: rotate(180deg);
    transition: transform 0.3s*/
}

.userinfo {
    padding: 15px 0 8px
}

.userinfo > div, .userinfo p {
    float: left
}

.userinfo p {
    margin-top: 8px
}

.mypic {
    background-position: -85px -87px
}

#c_myhh .mypic, #c_myhh .myno {
    width: 36px;
    height: 36px;
    margin-right: 10px
}

#c_myhh p a {
    color: #EEC988
}

.please_login {
    display: inline-block;
    max-width: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right
}

.user_information {
    margin-left: 10px;
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333 !important
}

.user_information:hover, .uinfo > span:hover {
    color: #E88226 !important
}

.exit {
    cursor: pointer;
    color: #333 !important;
    margin-left: 20px
}

.exit:hover {
    color: #E88226 !important
}

.uinfo {
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.uinfo > span {
    color: #666 !important
}

#topNavPanel #c_myhh p a:hover {
    color: #E88226
}

.myinfo {
    position: relative
}

.myinfo:before {
    content: "";
    background-color: #fff;
    position: absolute;
    left: 67px;
    top: 0;
    height: 5px;
    width: 3px
}

.myinfo span {
    float: left;
    display: block;
    width: 65px;
    text-align: right
}

.myinfo span:first-child {
    border-right: 1px solid #ddd;
    text-align: left
}

.myinfo span:first-child:before {
    position: absolute;
    content: "";
    background-color: #fff;
    left: 68px;
    height: 5px;
    width: 2px;
    top: 37px
}

.myinfo a {
    line-height: 20px;
    display: block
}

#topNavPanel .myinfo span > a:hover {
    color: #EEC988;
}

#c_news > a em.news {
    display: inline-block;
    width: 19px;
    height: 13px;
    margin: -3px 8px 0 0;
    background-position: -62px -221px;
    vertical-align: middle
}

#pageheader {
    margin: 0 auto;
    line-height: 0
}

#pageheader .logo_style {
    height: 90px;
    float: left;
    position: relative
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    visibility: hidden
}

.logo {
    display: block;
    height: 100%
}

.logo a {
    text-align: center;
    display: block;
    height: 90px
}

.logo a img {
    margin-top: 19px
}

#pageheader .logo {
    float: left
}

#nowCity {
    line-height: 24px;
    position: relative;
    float: left
}

#nowCity > div {
    font-size: 14px;
    color: #333;
    /*display: block;*/
    z-index: 1002;
    position: relative;
    padding: 0 60px
}

#nowCity > div a:hover {
    color: #eec988
}

#pageheader .rightPicture {
    margin: 5px 0px 0 45px;
    position: relative
}

#pageheader .rightPicture > a {
    height: 103px;
    cursor: default
}

#pageheader .rightPicture > a > span {
    position: absolute;
    font-size: 16px;
    bottom: 35px;
    left: 5px;
    border: 1px solid #767676;
    border-radius: 5px;
    padding: 6px 24px;
    color: #767676;
}

#menuNavOuter {
    position: relative;
    z-index: 999
}

#menuNavWrapper {
    /*padding: 10px 0;*/
}

#menuNavPanel {
    margin: 0 auto;
    padding: 10px 0;
    position: relative
}

#menuNav {
    height: 46px;
    padding-left: 110px
}

#menuNav li {
    padding: 10px 56px 6px;
    float: left;
    position: relative
}

#menuNav li > a {
    display: block;
    color: #4B4948;
    height: 30px;
    padding: 0 12px;
    line-height: 30px;
    font-size: 18px;
    vertical-align: middle;
    text-decoration: none;
    position: relative
}

#menuNav li > a:hover {
    color: #eecf88
}

#menuNav .current {
    color: #eecf88
}

.now_location {
    width: 1190px;
    height: 24px;
    line-height: 24px;
    color: #656565;
    font-size: 14px;
    margin: 20px auto
}

.now_location em {
    display: inline-block;
    width: 19px;
    height: 20px;
    vertical-align: middle;
    background: url(../img/sprite_remain.png) no-repeat -442px -161px;
}

.now_location a {
    color: #656565 ;
}

#footer {
    background: #000;
    opacity: 0.9;
    min-width: 1190px;
}

#footer > ul {
    width: 1190px;
    margin: 0 auto;
    padding: 135px 0 95px 0;
}

#footer > ul > li {
    float: left
}

#footer li > a {
    display: block;
    color: #EEC988;
    height: 30px;
    padding: 0px 75px;
    line-height: 30px;
    font-size: 16px;
    vertical-align: middle;
    position: relative
}

#footer li > a > img {
    margin-top: -75px
}

#footer > div {
    padding-bottom: 35px;
    position: relative
}

#footer > div > ul {
    width: 440px;
    margin: 10px auto 0
}

#footer > div > ul > li {
    padding: 8px
}

#footer > div > ul > li > em {
    display: inline-block;
    width: 19px;
    height: 21px;
    margin: -3px 12px 0 0;
    vertical-align: middle
}

#footer > div > ul > li > em.icon-home {
    background-position: -102px -217px
}

#footer > div > ul > li > em.icon-iphone {
    background-position: -19px -216px
}

#footer > div > ul > li > span {
    color: #EEC988;
    font-size: 16px
}

.navigation {
    width: 60px;
    position: fixed;
    right: 25px;
    bottom: 30px;
    z-index: 999999;
}

.navigation .nav_item {
    position: relative;
    height: 60px;
    margin: 8px 0;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 8px #999999;
    -moz-box-shadow: 0px 0px 8px #999999;
    box-shadow: 0px 0px 8px #999999;
    background: url(../img/sprite-nav.png) no-repeat;
    background-color: #fff;
}

.navigation li.onlineQA {
    background-position: 0px 0px;
}

.navigation li.onlineQA:hover {
    background-position: 0px -70px;
}

.navigation li.qrCode {
    background-position: -68px -4px;
}

.navigation li.qrCode:hover {
    background-position: -68px -74px;
}

.navigation li.top {
    background-position: -142px 1px;
    background-color: #ddd;
    -webkit-box-shadow: 0px 0px 0px #999999;
    -moz-box-shadow: 0px 0px 0px #999999;
    box-shadow: 0px 0px 0px #999999;
}

.navigation li.top:hover {
    background-color: #e9e9e9;
}

.navigation li span {
    position: absolute;
    height: 47px;
    left: -100px;
    top: 7px;
    text-align: center;
    background: #636363;
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
    line-height: 47px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    border-radius: 3px
}

.navigation li span i {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #636363;
    border-bottom: 5px solid transparent;
    top: 50%;
    margin-top: -5px
}

.navigation li .qr_con i {
    left: 319px;
}

.navigation li .online_con i {
    left: 85px;
}

.navigation li:hover span {
    left: -94px;
    opacity: 1;
    visibility: visible
}

.navigation li span.qr_con {
    width: 320px;
    height: 150px;
    padding: 20px;
    position: absolute;
    margin-left: -234px;
    margin-top: -50px;
    color: #333;
    text-align: left;
    border-radius: 3px
}

.navigation li span img {
    float: left;
    width: 110px;
    height: 110px
}

.navigation li span p {
    float: right
}

.navigation li span p em {
    font-size: 16px;
    display: block;
    margin-bottom: 6px;
    color: #fff
}

.navigation li span p em.qr_title {
    font-size: 20px;
    font-weight: bold
}

.navigation li span.collect_text {
    width: 339px;
    padding: 5px;
    position: absolute;
    margin-left: -263px;
    margin-top: -5px;
    color: #fff;
    text-align: center;
    border-radius: 3px
}

.userImg {
    border-radius: 50%;
}
