.page_number {
    position: relative;
    margin: 125px 0 125px 0;
    text-align: center
}

.number_content {
    overflow: hidden;
    width: 505px;
    margin: 0 auto
}

.pageWrap .page_number .previous,.pageWrap .page_number .next {
    float: left;
    width: 99px;
    height: 38px;
    line-height: 38px;
    color: #FFFFFF;
    font-family: FZLTHJW;
    font-size: 17px;
    cursor: pointer;
    background-color: #525252;
    border-radius: 18px;
    padding: 0 0
}

.page_number .number {
    padding-top: 2px;
    float: left
}

.pageWrap .page_number .num_page {
    background-color: #E2E2E2;
    width: 34px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    cursor: pointer;
    border-radius: 17px;
    font-family: HelveticaNeueLTPro Roman;
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 13px;
    padding: 0 0
}

.pageWrap .page_number .num_page:hover,.pageWrap .page_number .num_page:focus {
    background-color: #E88226;
    border-color: #E88226
}

.page_number .num_page:first-child {
    margin-left: 15px
}

.page_number .number .point {
    font-family: HelveticaNeueLTPro BdIt;
    color: #A2A2A2;
    font-size: 14px;
    margin: 0 11px 0 8px
}

.pageWrap .pagination > .active > span,.pageWrap .pagination > .active > span:hover,.pageWrap .pagination > .active > span:focus {
    background-color: #E88226;
    border-color: #E88226
}

/* 分页css */
/*.page-list .pagination {
    width: 635px;
    margin: 22px auto;
}*/

.page-list .pagination span {
    cursor: pointer;
}

.pageWrap .page-list .pagination .separate span {
    cursor: default;
    border-top: none;
    border-bottom: none;
    border-color: white;
    color: #e88226;
    background-color: white;
}

.page-list .pagination .separate span:hover {
    background: none;
}

.page-list .page-total {
    float: left;
    margin: 25px 20px;
}

.page-list .page-total input, .page-list .page-total select {
    height: 26px;
    border: 1px solid #ddd;
}

.page-list .page-total input {
    width: 40px;
    padding-left: 3px;
}

.page-list .page-total select {
    width: 50px;
}
