<div class="fliter_area">
	<span class="fliter_name">建筑面积</span>
	<ul class="fliter_tab">
		<li ng-repeat="x in areas"  ng-class="$first ? 'active' : ''" ng-click="fliterArea(x)">
			<a href="javascript:void(0)" >{{x}}</a>
		</li>
		<!--<li>
			<a href="#nogo">100平米以下</a>
		</li>
		<li>
			<a href="#nogo">100-120平米</a>
		</li>
		<li>
			<a href="#nogo">120-150平米</a>
		</li>
		<li>
			<a href="#nogo">150平米以上</a>
		</li>-->
	</ul>
</div>
<div class="fliter_type">
	<span class="fliter_name">户型</span>
	<ul class="fliter_tab">
		<li ng-repeat="y in housetypes"  ng-class="$first ? 'active' : ''" ng-click="fliterType(y)">
			<a href="javascript:void(0)">{{y}}</a>
		</li>
		<!--<li>
			<a href="#nogo">两室一厅一卫</a>
		</li>
		<li>
			<a href="#nogo">三室两厅两卫</a>
		</li>-->
	</ul>
</div>
<div class="fliter_style">
	<span class="fliter_name">装修风格</span>
	<ul class="fliter_tab">
		<li ng-repeat="z in servicetags track by $index"  ng-class="$first ? 'active' : ''" ng-click="fliterStyle(z)">
			<a href="javascript:void(0)">{{z}}</a>
		</li>
		<!--<li>
			<a href="#nogo">现代简约</a>
		</li>
		<li>
			<a href="#nogo">田园风格</a>
		</li>
		<li>
			<a href="#nogo">新中式风格</a>
		</li>
		<li>
			<a href="#nogo">地中海风格</a>
		</li>
		<li>
			<a href="#nogo">东南亚风格</a>
		</li>
		<li>
			<a href="#nogo">田园风格</a>
		</li>
		<li>
			<a href="#nogo">新中式风格</a>
		</li>
		<li>
			<a href="#nogo">地中海风格</a>
		</li>
		<li>
			<a href="#nogo">东南亚风格</a>
		</li>-->
	</ul>
</div>