<div class="sc_content">
	<div class="main_content">
		<div class="sc_title clearfix">
			<div class="titlename fl ">已完成</div>
			<div class="titlename fl">未完成</div>
			<div id="title_active" class="title_active"></div>
			<!-- 隐藏域-->
			<input type="hidden" id="Jgz" value="">	<!-- 工长ID-->
		</div>
		<div class="sc_contents">
			<div class="product-3">
				<ul>
					<li>
						<div class="image">
							<a href="javascript:void(0)">
								<img src="css/img/center_bg.png">
							</a>
							<div class="image_title">
								<div class="roomtype">两室一厅一卫</div>
								<div class="roomicon">
									<em class="sc_icon_love"></em>
									<span>1111</span>
								</div>
								<div class="roomicon">
									<em class="sc_icon_look"></em>
									<span>1111</span>
								</div>
							</div>
						</div>
						<div class="introduce">
							<strong>新中式风格 120m<sup>2</sup></strong>
							<div class="introduce-icon">
								<em class="sc_icon_love"></em>
								<span>江苏省苏州市相城区</span>
							</div>
							<div class="introduce-icon">
								<em class="sc_icon_love"></em>
								<span>2015.10.16-2016.10.16</span>
							</div>
						</div>
					</li>
					<li>
						<div class="image">
							<a href="javascript:void(0)">
								<img src="css/img/center_bg.png">
							</a>
							<div class="image_title">
								<div class="roomtype">两室一厅一卫</div>
								<div class="roomicon">
									<em class="sc_icon_love"></em>
									<span>1111</span>
								</div>
								<div class="roomicon">
									<em class="sc_icon_look"></em>
									<span>1111</span>
								</div>
							</div>
						</div>
						<div class="introduce">
							<strong>新中式风格 120m<sup>2</sup></strong>
							<div class="introduce-icon">
								<em class="sc_icon_love"></em>
								<span>江苏省苏州市相城区</span>
							</div>
							<div class="introduce-icon">
								<em class="sc_icon_love"></em>
								<span>2015.10.16-2016.10.16</span>
							</div>
						</div>
					</li>
					<li>
						<div class="image">
							<a href="javascript:void(0)">
								<img src="css/img/center_bg.png">
							</a>
							<div class="image_title">
								<div class="roomtype">两室一厅一卫</div>
								<div class="roomicon">
									<em class="sc_icon_love"></em>
									<span>1111</span>
								</div>
								<div class="roomicon">
									<em class="sc_icon_look"></em>
									<span>1111</span>
								</div>
							</div>
						</div>
						<div class="introduce">
							<strong>新中式风格 120m<sup>2</sup></strong>
							<div class="introduce-icon">
								<em class="sc_icon_love"></em>
								<span>江苏省苏州市相城区</span>
							</div>
							<div class="introduce-icon">
								<em class="sc_icon_love"></em>
								<span>2015.10.16-2016.10.16</span>
							</div>
						</div>
					</li>
					<li>
						<div class="image">
							<a href="javascript:void(0)">
								<img src="css/img/center_bg.png">
							</a>
							<div class="image_title">
								<div class="roomtype">两室一厅一卫</div>
								<div class="roomicon">
									<em class="sc_icon_love"></em>
									<span>1111</span>
								</div>
								<div class="roomicon">
									<em class="sc_icon_look"></em>
									<span>1111</span>
								</div>
							</div>
						</div>
						<div class="introduce">
							<strong>新中式风格 120m<sup>2</sup></strong>
							<div class="introduce-icon">
								<em class="sc_icon_love"></em>
								<span>江苏省苏州市相城区</span>
							</div>
							<div class="introduce-icon">
								<em class="sc_icon_love"></em>
								<span>2015.10.16-2016.10.16</span>
							</div>
						</div>
					</li>
					<li>
						<div class="image">
							<a href="javascript:void(0)">
								<img src="css/img/center_bg.png">
							</a>
							<div class="image_title">
								<div class="roomtype">两室一厅一卫</div>
								<div class="roomicon">
									<em class="sc_icon_love"></em>
									<span>1111</span>
								</div>
								<div class="roomicon">
									<em class="sc_icon_look"></em>
									<span>1111</span>
								</div>
							</div>
						</div>
						<div class="introduce">
							<strong>新中式风格 120m<sup>2</sup></strong>
							<div class="introduce-icon">
								<em class="sc_icon_love"></em>
								<span>江苏省苏州市相城区</span>
							</div>
							<div class="introduce-icon">
								<em class="sc_icon_love"></em>
								<span>2015.10.16-2016.10.16</span>
							</div>
						</div>
					</li>
					<li>
						<div class="image">
							<a href="javascript:void(0)">
								<img src="css/img/center_bg.png">
							</a>
							<div class="image_title">
								<div class="roomtype">两室一厅一卫</div>
								<div class="roomicon">
									<em class="sc_icon_love"></em>
									<span>1111</span>
								</div>
								<div class="roomicon">
									<em class="sc_icon_look"></em>
									<span>1111</span>
								</div>
							</div>
						</div>
						<div class="introduce">
							<strong>新中式风格 120m<sup>2</sup></strong>
							<div class="introduce-icon">
								<em class="sc_icon_love"></em>
								<span>江苏省苏州市相城区</span>
							</div>
							<div class="introduce-icon">
								<em class="sc_icon_love"></em>
								<span>2015.10.16-2016.10.16</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>