<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>店铺详细页面-施工团队-水电工</title>
		<link rel="stylesheet" href="../../lib/bootstrap/bootstrap.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/c_shopdetails/c_shopdetail_team-sdg.css" />
	</head>
	<body>
		<div id="teamdiv">
			<div id="teamcontainer">
				<h3>施工团队 <span>CONSTRUCTION TEAM</span></h3>
				<!-- 水电工 start-->
				<div>
					<!-- 水电工标题 start-->
					<div class="teamtitle">
						<h4><i class="icon_sdg"></i>水电工</h4>
						<h5><i class="icon_splitL"></i>PLUMBER<i class="icon_splitR"></i></h5>
					</div>
					<!-- 水电工标题 end-->
					<!-- 水电工人卡片 start-->
					<div class="team_con">
						<div class="wrapper">
							<div class="wrapper_box">
								<div class="click_prev prev"><a href="javascript:;"></a></div>
								<div class="click_next next"><a href="javascript:;"></a></div>
								<div class="wrapper_ul">
									<ul>
										<li>
											<div class="sliderworker_item">
												<p class="masklayer">添加</p>
												<div class="workertext">
													<em class="workerimg"></em>
													<p class="workername"><span>董大伟1</span><span class="english">DongDaWei</span></p>
													<p class="workerinfo"><span>男</span><span>42岁</span><span>江苏苏州</span></p>
													<p class="workermoney"><em>200</em>元<span>&nbsp;/&nbsp;天</span></p>
													<p class="workerother"><span>从业时间&nbsp;&nbsp;<em>3</em>年</span><span>订单数&nbsp;&nbsp;<em>150</em></span></p>
													<p class="workerexplain" title="程意专享 : 同程会员独立成团，不拼团、不转团，品质出行精华景点：深度游览张家界，想您所想，天门山玻璃栈道vs大峡谷玻璃桥任性自选专线优势：特别安排一餐张家界特色土鸡特色宴，品土鸡浓汤、舌尖上的湘味特别赠送：百龙天梯绿色通道、天门山索道、扶梯与排队Say bye bye同价"猴赛雷"：当地接送机、车载WiFi">
														<em>程意专享 : 同程会员独立成团，不拼团、不转团，品质出行
														精华景点：深度游览张家界，想您所想，天门山玻璃栈道vs大峡谷玻璃桥任性自选
														专线优势：特别安排一餐张家界特色土鸡特色宴，品土鸡浓汤、舌尖上的湘味
														特别赠送：百龙天梯绿色通道、天门山索道、扶梯与排队Say bye bye
														同价"猴赛雷"：当地接送机、车载WiFi</em>											
													</p>
												</div>
											</div>
										</li>
										<li>
											<div class="sliderworker_item">
												<p class="masklayer">添加</p>
												<div class="workertext">
													<em class="workerimg"></em>
													<p class="workername"><span>董大伟2</span><span class="english">DongDaWei</span></p>
													<p class="workerinfo"><span>男</span><span>42岁</span><span>江苏苏州</span></p>
													<p class="workermoney"><em>200</em>元<span>&nbsp;/&nbsp;天</span></p>
													<p class="workerother"><span>从业时间&nbsp;&nbsp;<em>3</em>年</span><span>订单数&nbsp;&nbsp;<em>150</em></span></p>
													<p class="workerexplain" title="程意专享 : 同程会员独立成团，不拼团、不转团，品质出行精华景点：深度游览张家界，想您所想，天门山玻璃栈道vs大峡谷玻璃桥任性自选专线优势：特别安排一餐张家界特色土鸡特色宴，品土鸡浓汤、舌尖上的湘味特别赠送：百龙天梯绿色通道、天门山索道、扶梯与排队Say bye bye同价"猴赛雷"：当地接送机、车载WiFi">
														<em>程意专享 : 同程会员独立成团，不拼团、不转团，品质出行
														精华景点：深度游览张家界，想您所想，天门山玻璃栈道vs大峡谷玻璃桥任性自选
														专线优势：特别安排一餐张家界特色土鸡特色宴，品土鸡浓汤、舌尖上的湘味
														特别赠送：百龙天梯绿色通道、天门山索道、扶梯与排队Say bye bye
														同价"猴赛雷"：当地接送机、车载WiFi</em>											
													</p>
												</div>
											</div>
										</li>
										<li>
											<div class="sliderworker_item">
												<p class="masklayer">添加</p>
												<div class="workertext">
													<em class="workerimg"></em>
													<p class="workername"><span>董大伟3</span><span class="english">DongDaWei</span></p>
													<p class="workerinfo"><span>男</span><span>42岁</span><span>江苏苏州</span></p>
													<p class="workermoney"><em>200</em>元<span>&nbsp;/&nbsp;天</span></p>
													<p class="workerother"><span>从业时间&nbsp;&nbsp;<em>3</em>年</span><span>订单数&nbsp;&nbsp;<em>150</em></span></p>
													<p class="workerexplain" title="程意专享 : 同程会员独立成团，不拼团、不转团，品质出行精华景点：深度游览张家界，想您所想，天门山玻璃栈道vs大峡谷玻璃桥任性自选专线优势：特别安排一餐张家界特色土鸡特色宴，品土鸡浓汤、舌尖上的湘味特别赠送：百龙天梯绿色通道、天门山索道、扶梯与排队Say bye bye同价"猴赛雷"：当地接送机、车载WiFi">
														<em>程意专享 : 同程会员独立成团，不拼团、不转团，品质出行
														精华景点：深度游览张家界，想您所想，天门山玻璃栈道vs大峡谷玻璃桥任性自选
														专线优势：特别安排一餐张家界特色土鸡特色宴，品土鸡浓汤、舌尖上的湘味
														特别赠送：百龙天梯绿色通道、天门山索道、扶梯与排队Say bye bye
														同价"猴赛雷"：当地接送机、车载WiFi</em>											
													</p>
												</div>
											</div>
										</li>
										<li>
											<div class="sliderworker_item">
												<p class="masklayer">添加</p>
												<div class="workertext">
													<em class="workerimg"></em>
													<p class="workername"><span>董大伟3</span><span class="english">DongDaWei</span></p>
													<p class="workerinfo"><span>男</span><span>42岁</span><span>江苏苏州</span></p>
													<p class="workermoney"><em>200</em>元<span>&nbsp;/&nbsp;天</span></p>
													<p class="workerother"><span>从业时间&nbsp;&nbsp;<em>3</em>年</span><span>订单数&nbsp;&nbsp;<em>150</em></span></p>
													<p class="workerexplain" title="程意专享 : 同程会员独立成团，不拼团、不转团，品质出行精华景点：深度游览张家界，想您所想，天门山玻璃栈道vs大峡谷玻璃桥任性自选专线优势：特别安排一餐张家界特色土鸡特色宴，品土鸡浓汤、舌尖上的湘味特别赠送：百龙天梯绿色通道、天门山索道、扶梯与排队Say bye bye同价"猴赛雷"：当地接送机、车载WiFi">
														<em>程意专享 : 同程会员独立成团，不拼团、不转团，品质出行
														精华景点：深度游览张家界，想您所想，天门山玻璃栈道vs大峡谷玻璃桥任性自选
														专线优势：特别安排一餐张家界特色土鸡特色宴，品土鸡浓汤、舌尖上的湘味
														特别赠送：百龙天梯绿色通道、天门山索道、扶梯与排队Say bye bye
														同价"猴赛雷"：当地接送机、车载WiFi</em>											
													</p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					<!-- 水电工人卡片 end-->
				</div>
				<!-- 水电工 end-->
			</div>
		</div>
		<script type="text/javascript" src="../../lib/jquery/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="../../lib/superslide/jquery.SuperSlide2.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				
				/* 图片滚动效果 */
				$(".wrapper_box").slide({
					titCell: "",
					mainCell: ".wrapper_ul ul",
					autoPage: true,
					effect: "leftLoop",
					autoPlay: false,
					vis: 4
				});
				
				// /* 鼠标悬停图片效果 */
				// $(".mr_zhe_hover").css("top", $('.mr_zhe').eq(0).height());
				// $("li").mouseout(function (e) {
				// 	if ((e.pageX < $(this).offset().left || e.pageX > ($(this).offset().left + $(this).width())) || (e.pageY < $(this).offset().top || e.pageY > ($(this).offset().top + $(this).height()))) {
				// 		$(this).find('.mr_zhe_i').show();
				// 		$(this).find('.mr_zhe_hover').hide().stop().animate({ top: '190px' }, { queue: false, duration: 190 });
				// 		return false;
				// 	}
			
				// });
				// $('.mr_zhe').mouseover(function (event) {
				// 	$(this).find('.mr_zhe_i').hide();
				// 	$(this).find('.mr_zhe_hover').show().stop().animate({ top: '190px' }, { queue: false, duration: 190 });
				// 	return false;
				// });
				
			});
		</script>
	</body>
</html>
