<!-- 工长个人店铺顶部start -->
<div id="selfshop_top">
	<div class="now_location">
		您所在位置：
		<a href="index.html" title="嘿吼首页"><em></em></a>
		<span>&gt;</span>
		<a href="index.html#/shoplist">工长店铺</a>
		<span>&gt;</span>
		<span class="sname"></span>
	</div>
	<div class="selfshop_content clearfix">
		<!-- 左侧轮播图start -->
		<div class="picBtnTop" id="demo1">
			<div class="hd">
				<ul></ul>
			</div>
			<div class="bd">
				<ul></ul>
			</div>
		</div>
		<!-- 左侧轮播图end -->
		<!-- 右侧店铺信息start -->
		<div class="shop_information">
			<div class="scontent"></div>
			<div class="shop_button">
				<div class="shop_order">
					<input id="JReservation" type="button" value="一键预约">
				</div>
				<div class="shop_like clearfix">
					<a href="javascript:;" class="collect_shop" id="collect_shop"><span class="sprite"></span><i>收藏</i></a>
					<a href="javascript:;" class="share_shop"><span class="sprite"></span>分享</a>
				</div>
			</div>
		</div>
		<!-- 右侧店铺信息end -->
	</div>
</div>
<!-- 工长个人店铺顶部end -->
<div class="tab_content">
	<!--导航start-->
	<div id="tabUl">
		<ul class="tabUl clearfix">
			<li class="tab_active first_tab">
				<a href="javascript:;" tab="&manager_information">店长信息</a>
			</li>
			<li>
				<a href="javascript:;" tab="&our_process">本店工艺</a>
			</li>
			<li>
				<a href="javascript:;" tab="&success">成功案例</a>
			</li>
			<li>
				<a href="javascript:;" tab="&water_electrician">水电工</a>
			</li>
			<li>
				<a href="javascript:;" tab="&bricklayer">瓦工</a>
			</li>
			<li>
				<a href="javascript:;" tab="&woodworking">木工</a>
			</li>
			<li>
				<a href="javascript:;" tab="&painter">油漆工</a>
			</li>
			<li class="last_tab">
				<a href="javascript:;" tab="&shop_price">价格明细</a>
			</li>
		</ul>
	</div>
	<!--导航end-->
	<!-- 店长信息start -->
	<div class="same_class" id="manager_information">
		<!-- 店长信息标题start -->
		<h3>店长信息 <span>MANAGER INFORMATION</span></h3>
		<!-- 店长信息标题end -->
		<!-- 店长信息内容start -->
		<div class="manager_content clearfix">
			<!-- 店长简介start -->
			<div class="manager_introduce">
				<div class="sprite border_line"></div>
			</div>
			<!-- 店长简介end -->
			<!-- 从业经历start -->
			<div class="work_experience">
				<div class="icon_experience">
					<em class="sprite"></em>
					<span>从业经历</span>
				</div>
				<ul></ul>
				<div class="sprite border_line"></div>
			</div>
			<!-- 从业经历end -->
			<!-- 装修小区start -->
			<div class="decoration_history">
				<div class="icon_decoration">
					<em class="sprite"></em>
					<span>装修小区</span>
				</div>
				<ul></ul>
			</div>
			<!-- 装修小区end -->
		</div>
		<!-- 店长信息内容end -->
	</div>
	<!-- 店长信息end -->
	<!-- 本店工艺start -->
	<div class="same_class" id="our_process">
		<!-- 本店工艺标题start -->
		<h3>本店工艺 <span>OUR PROCESS</span></h3>
		<!-- 本店工艺标题end -->
		<!-- 具体工艺start -->
		<div class="process_content clearfix"></div>
		<!-- 具体工艺end -->
	</div>
	<!-- 本店工艺end -->
	<!-- 成功案例start -->
	<div class="same_class" id="success">
		<div id="sdcontent">
			<h3>成功案例 <span>SUCCESS CASE</span><span class="s_more"><a class="Jmore" href="" target="_blank">查看更多</a></span></h3>
			<div class="sdcon">
				<ul id="sd_hexgrid"></ul>
			</div>
		</div>
	</div>
	<!-- 成功案例end -->
	<!-- 施工团队start -->
	<div id="teamdiv">
		<div id="teamcontainer">
			<h3>施工团队 <span>CONSTRUCTION TEAM</span></h3>
			<!-- 水电工 start-->
			<div class="same_class" id="water_electrician">
				<!-- 水电工标题 start-->
				<div class="teamtitle">
					<h4><i class="sprite icon_sdg"></i>水电工</h4>
					<h5><i class="sprite icon_splitL"></i>PLUMBER<i class="sprite icon_splitR"></i></h5>
				</div>
				<!--<div id="flyItem" class="fly_item"><img src="css/img/foreman.png" width="40" height="40"></div>-->
				<!-- 水电工标题 end-->
				<!-- 水电工人卡片 start-->
				<div class="team_con">
					<div class="wrapper">
						<div class="wrapper_box">
							<div class="click_prev prev">
								<a class="sprite" href="javascript:;"></a>
							</div>
							<div class="click_next next">
								<a class="sprite" href="javascript:;"></a>
							</div>
							<div class="wrapper_ul">
								<ul></ul>
							</div>
						</div>

					</div>
				</div>
				<!-- 水电工人卡片 end-->
			</div>
			<!-- 水电工 end-->
			<!-- 瓦工 start-->
			<div class="same_class" id="bricklayer">
				<!-- 瓦工标题 start-->
				<div class="teamtitle">
					<h4><i class="sprite icon_wg"></i>瓦工</h4>
					<h5><i class="sprite icon_splitL"></i>BRICKLAYER<i class="sprite icon_splitR"></i></h5>
				</div>
				<!-- 瓦工标题 end-->
				<!-- 瓦工工人卡片 start-->
				<div class="team_con">
					<div class="wrapper">
						<div class="wrapper_box">
							<div class="click_prev prev">
								<a class="sprite" href="javascript:;"></a>
							</div>
							<div class="click_next next">
								<a class="sprite" href="javascript:;"></a>
							</div>
							<div class="wrapper_ul">
								<ul></ul>
							</div>
						</div>

					</div>
				</div>
				<!-- 瓦工工人卡片 end-->
			</div>
			<!-- 瓦工 end-->
			<!-- 木工 start-->
			<div class="same_class" id="woodworking">
				<!-- 木工标题 start-->
				<div class="teamtitle">
					<h4><i class="sprite icon_mg"></i>木工</h4>
					<h5><i class="sprite icon_splitL"></i>WOODWORKING<i class="sprite icon_splitR"></i></h5>
				</div>
				<!-- 木工标题 end-->
				<!-- 木工工人卡片 start-->
				<div class="team_con">
					<div class="wrapper">
						<div class="wrapper_box">
							<div class="click_prev prev">
								<a class="sprite" href="javascript:;"></a>
							</div>
							<div class="click_next next">
								<a class="sprite" href="javascript:;"></a>
							</div>
							<div class="wrapper_ul">
								<ul></ul>
							</div>
						</div>

					</div>
				</div>
				<!-- 木工工人卡片 end-->
			</div>
			<!-- 木工 end-->
			<!-- 油漆工 start-->
			<div class="same_class" id="painter">
				<!-- 油漆工标题 start-->
				<div class="teamtitle">
					<h4><i class="sprite icon_yqg"></i>油漆工</h4>
					<h5><i class="sprite icon_splitL"></i>PAINTER<i class="sprite icon_splitR"></i></h5>
				</div>
				<!-- 油漆工标题 end-->
				<!-- 油漆工人卡片 start-->
				<div class="team_con">
					<div class="wrapper">
						<div class="wrapper_box">
							<div class="click_prev prev">
								<a class="sprite" href="javascript:;"></a>
							</div>
							<div class="click_next next">
								<a class="sprite" href="javascript:;"></a>
							</div>
							<div class="wrapper_ul">
								<ul></ul>
							</div>
						</div>

					</div>
				</div>
				<!-- 油漆工人卡片 end-->
			</div>
			<!-- 油漆工 end-->
		</div>
	</div>
	<!-- 施工团队end -->
	<!-- 店铺价格start -->
	<div class="same_class" id="shop_price">
		<h3>价格明细<span>PRICE DETAILS</span></h3>
		<div class="con_price clearfix">
			<ul>
				<li class="orderMust">
					<div class="sdg_price_warp">
						<div class="sdg_sprice_title">
							<span>水电工</span>
						</div>
						<div class="sdg_price_con"> 
							<div class="project_title clearfix">
								<span>名称</span>
								<span>单位</span>
								<span>价格</span>
							</div>
							<div class="price_list">
								<p class="clearfix"><span>局部改造</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>全部换线</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
							</div>
						</div>
					</div>
				</li>
				<li class="orderMust">
					<div class="sdg_price_warp">
						<div class="sdg_sprice_title">
							<span>瓦工</span>
						</div>
						<div class="sdg_price_con"> 
							<div class="project_title clearfix">
								<span>名称</span>
								<span>单位</span>
								<span>价格</span>
							</div>
							<div class="price_list autoheight">
								<p class="clearfix"><span>常规瓷砖方正贴</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>常规瓷砖菱形贴</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>条形木纹砖</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>瓷砖走边线</span><span>m</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>加工砖上墙方正贴</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>加工砖上墙菱形贴</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>普通马赛克铺贴</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>门槛石、挡水条</span><span>根</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>踢脚线铺贴</span><span>m</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>砖砌12cm墙(单面粉刷)</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>砖砌12cm墙(双面粉刷)</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>砖砌24cm墙(单面粉刷)</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>砖砌24cm墙(双面粉刷)</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>封下水管(单管)</span><span>根</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>封下水管(双管)</span><span>根</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>粉线糟</span><span>户</span><span class="Jprice">-</span></p>
								<p class="clearfix"><span>墙面粉刷(单面计算)</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>地面找平(5cm以内)</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>地面现浇(30mm以内)</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>刷防水涂料</span><span>间</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>墙面拉毛处理</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>修补门边</span><span>m</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>粉刷门框</span><span>m</span><span class="Jprice">--</span></p>
							</div>
							<div class="btndown pickup">
								<span>展开</span>
								<i></i>
							</div>
						</div>
					</div>
				</li>
				<li class="orderMust">
					<div class="sdg_price_warp">
						<div class="sdg_sprice_title">
							<span>木工</span>
						</div>
						<div class="sdg_price_con"> 
							<div class="project_title clearfix">
								<span>名称</span>
								<span>单位</span>
								<span>价格</span>
							</div>
							<div class="price_list autoheight">
								<p class="clearfix"><span>高柜制作(免漆板)</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>矮柜制作(免漆板)</span><span>m</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>抽屉制作(免漆板)</span><span>只</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>门板制作(免漆板)</span><span>扇</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>榻榻米制作(免漆板)</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>木龙骨或轻钢龙骨混搭</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>轻钢龙骨</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>门套基础(加门边)</span><span>m</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>降门头、封柜顶</span><span>m</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>窗帘套制作</span><span>m</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>电视背景制作</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>踢脚线安装</span><span>m</span><span class="Jprice">--</span></p>
							</div>
							<div class="btndown pickup">
								<span>展开</span>
								<i></i>
							</div>
						</div>
					</div>
				</li>
				<li class="orderMust">
					<div class="sdg_price_warp">
						<div class="sdg_sprice_title">
							<span>油漆工</span>
						</div>
						<div class="sdg_price_con"> 
							<div class="project_title clearfix">
								<span>名称</span>
								<span>单位</span>
								<span>价格</span>
							</div>
							<div class="price_list autoheight">
								<p class="clearfix"><span>原顶天花墙面乳胶漆</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>石膏板天花乳胶漆</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>天花墙面喷乳胶漆</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>铺纤维网</span><span>卷</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>木质硝基清漆</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>木质有色硝基透明漆</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>木质硝基白色显木纹</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>木质透明PU漆</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>装饰实木线条喷刷清漆</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>装饰实木线条喷刷索色</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
							</div>
							<div class="btndown pickup">
								<span>展开</span>
								<i></i>
							</div>
						</div>
					</div>
				</li>
				<li class="orderMust">
					<div class="sdg_price_warp">
						<div class="sdg_sprice_title">
							<span>杂工</span>
						</div>
						<div class="sdg_price_con"> 
							<div class="project_title clearfix">
								<span>名称</span>
								<span>单位</span>
								<span>价格</span>
							</div>
							<div class="price_list autoheight">
								<p class="clearfix"><span>原墙/顶面腻子铲除</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>墙面粉刷层凿除</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>墙地面旧瓷砖拆除</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>拆除墙面保温层</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>门洞移位(左右20cm以内)</span><span>个</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>12cm砌墙开门洞</span><span>个</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>12cm砌墙开门洞</span><span>个</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>混泥土24cm墙切割费</span><span>m</span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>拆除24cm混泥土墙</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>砖墙凿除半墙</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>混泥土墙凿除半墙</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>拆除12cm砖墙</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>拆除12cm混泥土墙</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>拆除24cm砖墙</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>拆除混泥土飘窗台</span><span>m<sup>2</sup></span><span class="Jprice">--</span></p>
								<p class="clearfix"><span>垃圾清运</span><span>次</span><span class="Jprice">--</span></p>
							</div>
							<div class="btndown pickup">
								<span>展开</span>
								<i></i>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- 店铺价格end -->
</div>
<!--tab_content-->
<div id="mui-mbar" >
	<div id="J_SelectedItems">
		<div class="selectItemList">
			<div class="selectItemContent">
			</div>
			<div class="settlement">
				<div class="settlement-con">
					<div class="settlement-total">
						<h3>已选<em>0</em>位</h3>
					</div>
					<div class="settlement-btn">
						<div class="settlement-btncon">去预定></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mui-mbar-tabs">
		<!-- 隐藏域-->
		<input type="hidden" id="JdpId" value="">	<!-- 店铺ID-->
		<input type="hidden" id="JgzId" value="">	<!-- 工长ID-->
		<div class="mui-mbar-tab ccs">
			<a class="hh-inline" target="_blank" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。"><span class="display">旺旺在线</span></a>
		</div>
		<div class="mui-mbar-tab mwwork item_hover_0">
			<div class="sprite hline line-left"></div>
			<em class="sprite_total"></em>
			<div class="h-text">我要的工人</div>
			<div id="shopCart" class="h-sup">
				<div class="h-bg">
					<div class="h-bd">0</div>
				</div>
				
			</div>
			<div class="sprite hline line-right"></div>
		</div>
		<div class="mui-mbar-tab gotop">
			<em class="sprite_total"></em>
		</div>
	</div>
</div>