<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>店铺详细页面-成功案例</title>
		<link rel="stylesheet" href="../../lib/bootstrap/bootstrap.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/c_shopdetails/c_shopdetail_sc.css" />
	</head>
	<body>
		<div id="shopdetaildiv">
			<div id="sdcontent">
				<h3>成功案例 <span>SUCCESS CASE</span><span class="s_more"><a>查看更多</a></span></h3>
				<div class="sd_swith">
					<div class="select sd_completed selected">已完成</div>
					<div class="select sd_unfinished">待完成</div>
				</div>
				<div class="sdcon">
					<ul id="sd_hexgrid">
						<li class="sd_hexli">
							<a>
								<img src="../../image/i_sd_hexgrid/1.jpg">
								<div class="sd_title">
									<span class="sd_area">90㎡</span>
									<span>三居室&middot;现代简约</span>
								</div>
								<div class="sd_stips">
									<span><em class="cr_icon_location"></em>江苏省苏州市相城区</span>
									<span>施工时间：三个月</span>
									<div>
										<em class="cr_icon_look"></em><span>14966</span>
										<em class="cr_icon_love"></em><span>15600</span>
									</div>
								</div>
							</a>
						</li>
						<li class="sd_hexli">
							<a>
								<img src="../../image/i_sd_hexgrid/1.jpg">
								<div class="sd_title">
									<span class="sd_area">90㎡</span>
									<span>三居室&middot;现代简约</span>
								</div>
								<div class="sd_stips">
									<span><em class="cr_icon_location"></em>江苏省苏州市相城区</span>
									<span>施工时间：三个月</span>
									<div>
										<em class="cr_icon_look"></em><span>14966</span>
										<em class="cr_icon_love"></em><span>15600</span>
									</div>
								</div>
							</a>
						</li>
						<li class="sd_hexli">
							<a>
								<img src="../../image/i_sd_hexgrid/1.jpg">
								<div class="sd_title">
									<span class="sd_area">90㎡</span>
									<span>三居室&middot;现代简约</span>
								</div>
								<div class="sd_stips">
									<span><em class="cr_icon_location"></em>江苏省苏州市相城区</span>
									<span>施工时间：三个月</span>
									<div>
										<em class="cr_icon_look"></em><span>14966</span>
										<em class="cr_icon_love"></em><span>15600</span>
									</div>
								</div>
							</a>
						</li>
						<li class="sd_hexli">
							<a>
								<img src="../../image/i_sd_hexgrid/1.jpg">
								<div class="sd_title">
									<span class="sd_area">90㎡</span>
									<span>三居室&middot;现代简约</span>
								</div>
								<div class="sd_stips">
									<span><em class="cr_icon_location"></em>江苏省苏州市相城区</span>
									<span>施工时间：三个月</span>
									<div>
										<em class="cr_icon_look"></em><span>14966</span>
										<em class="cr_icon_love"></em><span>15600</span>
									</div>
								</div>
							</a>
						</li>
						<li class="sd_hexli">
							<a>
								<img src="../../image/i_sd_hexgrid/1.jpg">
								<div class="sd_title">
									<span class="sd_area">90㎡</span>
									<span>三居室&middot;现代简约</span>
								</div>
								<div class="sd_stips">
									<span><em class="cr_icon_location"></em>江苏省苏州市相城区</span>
									<span>施工时间：三个月</span>
									<div>
										<em class="cr_icon_look"></em><span>14966</span>
										<em class="cr_icon_love"></em><span>15600</span>
									</div>
								</div>
							</a>
						</li>
						<li class="sd_hexli">
							<a>
								<img src="../../image/i_sd_hexgrid/1.jpg">
								<div class="sd_title">
									<span class="sd_area">90㎡</span>
									<span>三居室&middot;现代简约</span>
								</div>
								<div class="sd_stips">
									<span><em class="cr_icon_location"></em>江苏省苏州市相城区</span>
									<span>施工时间：三个月</span>
									<div>
										<em class="cr_icon_look"></em><span>14966</span>
										<em class="cr_icon_love"></em><span>15600</span>
									</div>
								</div>
							</a>
						</li>
						<li class="sd_hexli">
							<a>
								<img src="../../image/i_sd_hexgrid/1.jpg">
								<div class="sd_title">
									<span class="sd_area">90㎡</span>
									<span>三居室&middot;现代简约</span>
								</div>
								<div class="sd_stips">
									<span><em class="cr_icon_location"></em>江苏省苏州市相城区</span>
									<span>施工时间：三个月</span>
									<div>
										<em class="cr_icon_look"></em><span>14966</span>
										<em class="cr_icon_love"></em><span>15600</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
