@font-face {
    font-family: 'iconfont';  /* project id 158259 */
    src: url('//at.alicdn.com/t/font_9o2hsrq2y4hiwwmi.eot');
    src: url('//at.alicdn.com/t/font_9o2hsrq2y4hiwwmi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_9o2hsrq2y4hiwwmi.woff') format('woff'),
    url('//at.alicdn.com/t/font_9o2hsrq2y4hiwwmi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_9o2hsrq2y4hiwwmi.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 8px
}

a:visited {
    text-decoration: none !important;
}

a:focus {
    text-decoration: none !important;
}

#decoration_pedia {
    margin-top: 35px;
    position: relative
}

#decoration_pedia .pediacnt {
    width: 1205px;
    margin: 0 auto
}

#decoration_pedia .search_box {
    margin-bottom: 32px;
    float: right
}

#decoration_pedia .search_box .search_content {
    width: 237px;
    height: 31px;
    padding-left: 15px;
    background-color: #F9F9F9;
    border-radius: 4px;
    border: 1px solid #e0e0e0
}

#decoration_pedia .search_box .search_content:hover {
    border: 1px solid #EEC988
}

#decoration_pedia .search_box .search_btn {
    text-align: center;
    width: 46px;
    height: 26px;
    background-color: #525252;
    border-radius: 4px;
    font-family: FZLTHJW;
    font-size: 12px;
    border: 0;
    cursor: pointer;
    color: #FFFEFE
}

#decoration_pedia .pedia_content {
    position: relative;
    margin-top: 32px
}

#decoration_pedia .pedia_content .left_bar {
    float: left
}

#decoration_pedia .pedia_content .bar_content {
    width: 264px;
    height: 625px;
    background-color: #EFEFEF
}

#decoration_pedia .pedia_content .bar_content a {
    display: block;
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 264px;
    height: 63px
}

#decoration_pedia .pedia_content .bar_content a .border_line {
    position: absolute;
    width: 170px;
    height: 1px;
    background: url(../img/border-image.png);
    top: 62px;
}

#decoration_pedia .pedia_content .bar_content a > div {
    width: 170px;
    height: 62px;
    line-height: 63px;
    color: #656565;
    font-family: FZLTHJW;
    font-size: 18px;
    margin-left: 43px;
}

#decoration_pedia .pedia_content .bar_content a:hover > div {
    color: #428BCA
}

#decoration_pedia .pedia_content .bar_content a.active {
    position: relative;
    background-color: #EEC988
}

#decoration_pedia .pedia_content .bar_content a.active:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-right: 11px solid #FFFFFF;
    border-bottom: 11px solid transparent;
    right: -1px;
    bottom: 20px;
    position: absolute
}

#decoration_pedia .pedia_content .bar_content a.active div {
    border: 0;
    color: #FFFFFF
}

#decoration_pedia .pedia_content .bar_content a.active div li {
    list-style-type: disc
}

#decoration_pedia .pedia_content .bar_content a:first-child {
    /*margin-top: 18px*/
}

#decoration_pedia .pedia_content .bar_content a:last-child div {
    border: 0
}

#decoration_pedia .pedia_content .right_content {
    float: left;
    width: 823px;
    height: auto;
    margin-left: 100px;
}

#decoration_pedia .pedia_content .right_content .right_title {
    text-align: center;
    margin-bottom: 71px
}

#decoration_pedia .pedia_content .right_content .right_title h2 {
    font-family: FZLTHJW;
    font-size: 22px;
    color: #4B4948
}

#decoration_pedia .pedia_content .right_content .right_detail {
    display: block;
    height: 212px;
    border-bottom: 1px solid #e4e4e4;
}

/*#decoration_pedia .pedia_content .right_content .show {*/
    /*opacity: 1;*/
/*}*/

#decoration_pedia .pedia_content .right_content .right_detail .right_img {
    width: 194px;
    height: 139px;
    position: relative;
    margin-left: 10px;
    margin-top: 35px;
    float: left;
}

.right_wrap {
    height: 424px;
}

#decoration_pedia .pedia_content .right_content .right_detail .right_img img {
    width: 194px;
    height: 139px;
}

#decoration_pedia .pedia_content .right_content .right_detail .right_img div {
    position: absolute;
}

#decoration_pedia .pedia_content .right_content .right_detail .right_img .img_background_1 {
    width: 10px;
    height: 116px;
    bottom: 0;
    right: -10px;
    background-color: #eaeaea;
}

#decoration_pedia .pedia_content .right_content .right_detail .right_img .img_background_2 {
    width: 182px;
    height: 11px;
    bottom: -11px;
    right: -10px;
    background-color: #eaeaea;
}

#decoration_pedia .pedia_content .right_content .right_detail .detail_content {
    width: 570px;
    float: left;
    margin-left: 40px;
    margin-top: 45px;
}

#decoration_pedia .pedia_content .right_content .right_detail .detail_content .detail_title {
    height: 18px;
    line-height: 18px;
    border-left: 4px solid #eec988;
    padding-left: 8px;
    font-size: 18px;
    color: #2e2e2e;
}

#decoration_pedia .pedia_content .right_content .right_detail .detail_content .detail_des #detail_p {
    margin-top: 15px;
    font-size: 14px !important;
    color: #2e2e2e;
    overflow: hidden;
    height: 60px;
    line-height: 20px;
    position: relative;
    /* 3 times the line-height to show 3 lines */
}

#decoration_pedia .pedia_content .right_content .right_detail .detail_content .detail_des #detail_p p {
    line-height: 30px !important;
    font-size: 14px !important;
    color: #2e2e2e !important;
}

#decoration_pedia .pedia_content .right_content .right_detail .detail_content .detail_des #detail_p::after {
    content: "...";
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px 9px 45px;
    background: url(http://css88.b0.upaiyun.com/css88/2014/09/ellipsis_bg.png) repeat-y;
}

#decoration_pedia .pedia_content .right_content .right_detail .detail_content .detail_des .active_p::after {
    content: "";
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px 9px 45px;
    background: url(http://css88.b0.upaiyun.com/css88/2014/09/ellipsis_bg.png) repeat-y;
}

#decoration_pedia .pedia_content .right_content .right_detail .detail_content .detail_des .detail_bro {
    margin-top: 19px;
    font-size: 14px;
    color: #808080;
}

#decoration_pedia .pedia_content .right_content .right_detail .detail_content .detail_des .detail_bro i {
    font-size: 20px;
    padding-right: 6px;
    padding-left: 0;
}

#decoration_pedia .pedia_content .right_content .right_detail .detail_content .detail_des .detail_bro .icon_eye {
    margin-left: 15px;
}

#decoration_pedia .pedia_content .right_content .right_detail a {
    display: block;
    width: 868px;
    height: 61px;
    line-height: 61px;
    border-bottom: 1px solid #e4e4e4;
}

#decoration_pedia .pedia_content .right_content .right_detail li {
    list-style-type: disc
}

#decoration_pedia .pedia_content .right_content .right_detail a li {
    margin-left: 113px;
    color: #2E2E2E;
    font-family: FZLTHJW;
    font-size: 16px
}

#decoration_pedia .pedia_content .right_content .right_detail a li:hover {
    color: #449D44
}

.loading {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    position: absolute;
    top: 35%;
    left: 45%;
}

.loading img {
    width: 100%;
    height: 100%;
}
