.gonglve_detail {
    width: 1190px;
    height: auto;
    margin: 0 auto;
}

.now_location {
    font-size: 14px;
    color: #4b4948;
    margin-top: 35px;
    margin-bottom: 80px;
}

.now_location img {
    vertical-align: top;
}

.gonglve_title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

.gonglve_content {
    font-size: 14px;
    text-indent: 2em;
    margin-bottom: 50px;
    line-height: 30px;
}

.gonglve_content strong{
    font-weight: bold;
}

.gonglve_content p{
    line-height: 30px!important;
}
