@font-face {
    font-family: 'iconfont';  /* project id 158259 */
    src: url('//at.alicdn.com/t/font_w63youud491i3sor.eot');
    src: url('//at.alicdn.com/t/font_w63youud491i3sor.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_w63youud491i3sor.woff') format('woff'),
    url('//at.alicdn.com/t/font_w63youud491i3sor.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_w63youud491i3sor.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 6px;
}

.loagbg {
    background-position-y: 12px;
    height: 127px
}

.vrloagbg {
    background: url(../../image/icon-loading.gif) center no-repeat;
    background-position-y: 115px;
    height: 404px;
}

.bg_mongolia {
    position: absolute;
    width: 100%;
    height: 255px;
    left: 0;
    top: 0;
    opacity: 0;
    background: rgb(0, 0, 0);
    transition: all .3s linear;
    -ms-transition:  all .3s linear;
    -o-transition:  all .3s linear;
    -webkit-transition:  all .3s linear;
    -moz-transition:  all .3s linear;
}

#virtual_reality .vr_pic:hover .bg_mongolia {
    opacity: 0.6
}

.bg_mongolia .pic_hover img {
    width: 100%;
    height: 100%
}

#virtual_reality {
    position: relative
}

#virtual_reality .main_content {
    width: 1190px;
    margin: 0 auto
}

#virtual_reality .virtual_content .content_title {
    /*font-family: FZLTHJW;*/
    font-size: 14px;
    color: #656565;
    position: relative;
    margin-bottom: 24px
}

#virtual_reality .virtual_content .content_title .sort:hover {
    color: #EEC988 !important
}

#virtual_reality .virtual_content .content_title .active {
    font-weight: bold;
    color: #EEC988 !important
}

#virtual_reality .virtual_content .content_title .default {
    cursor: pointer;
    margin-right: 6px
}

#virtual_reality .virtual_content .content_title .page_view, .praise_number, .collect {
    cursor: pointer;
    margin: 0 6px
}

#virtual_reality .virtual_content .content_pic {
    overflow: hidden
}

#virtual_reality .virtual_content .pic_box {
    float: left;
    border: 1px solid #9D9D9D;
    margin: 0 6px 8px 0;
    position: relative;
    width: 291px;
    height: 400px
}

#virtual_reality .virtual_content .pic_box:hover {
    border: 1px solid #EEC988
}

#virtual_reality .virtual_content .pic_box:nth-child(4n) {
    margin-right: 0
}

#virtual_reality .virtual_content .pic_box .vr_pic {
    position: relative;
    overflow: hidden;
    width: 290px;
    height: 255px
}

#virtual_reality .virtual_content .pic_box .vr_pic a > img {
    transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear
}

#virtual_reality .virtual_content .pic_box .vr_pic a:hover > img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

#virtual_reality .virtual_content .pic_box .vr_pic img {
    width: 100%;
    height: 100%
}

#virtual_reality .virtual_content .pic_box .pic_hover {
    position: absolute;
    background-position: -72px -7px;
    width: 54px;
    height: 54px;
    top: 100px;
    left: 119px
}

/*#virtual_reality .virtual_content .pic_box .pic_hover img {
    width: 100%;
    height: 100%
}*/

#virtual_reality .virtual_content .pic_box .pic_style {
    margin: 20px 0 14px 24px
}

#virtual_reality .virtual_content .pic_box .pic_style h2 {
    font-size: 18px;
    float: left;
    padding-bottom: 10px;
    border-bottom: 1px dashed #939393;
    /*font-family: FZLTZHK;*/
    font-weight: bold;
    color: #4B4948
}

#virtual_reality .virtual_content .pic_box .pic_badge {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    top: 275px;
    left: 200px;
    background-position: -19px -87px
}

#virtual_reality .virtual_content .pic_box .pic_detail {
    display: inline-block;
    /*font-family: FZLTHJW;*/
    font-size: 14px;
    color: #656565;
    margin-left: 24px;
    margin-top: 15px;
}

#virtual_reality .virtual_content .pic_box .pic_detail p:first-child {
    margin-bottom: 5px
}

#virtual_reality .virtual_content .pic_box .pic_icon {
    display: inline-block;
    margin: 10px 0 0 35px;
    height: 15px
}

#virtual_reality .virtual_content .pic_box .pic_icon i {
    color: #EEC988;
    vertical-align: top;
}

#virtual_reality .virtual_content .pic_box .pic_icon .pic_view {
    cursor: default;
    float: left;
    margin-right: 30px
}

#virtual_reality .virtual_content .pic_box .pic_icon .pic_view i {
    font-size: 18px;
}

#virtual_reality .virtual_content .pic_box .pic_icon .pic_praise {
    cursor: default;
    float: left;
}

#virtual_reality .virtual_content .pic_box .pic_icon .pic_praise img {
    width: 15px;
    height: 15px
}

.nullpage {
    color: #999;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    padding: 145px 0 140px 0;
    border: 1px solid #D7D7D7
}

.nullpage i {
    position: relative;
    background: url(../img/noinfo.png) no-repeat;
    width: 86px;
    height: 85px;
    display: inline-block;

}

.nullpage span {
    display: block;
    float: left;
    width: 100%;
    margin: 10px 0;
}

.main_content .fliter {
    margin: 45px 0 32px 0;
}

