<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>预约自装</title>
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/c_index/appointment.css" />
	</head>
	<body>
		<div class="appointment_decoration">
			<div class="appointment_content">
				<!-- 预约按钮start -->
				<div class="button_decoration">
					<input class="btn_decoration" type="button" value="预约自装" name="decoration">
				</div>
				<!-- 预约按钮end -->
				<!-- 预约标题start -->
				<div class="title">
					<div class="line_left"></div>
					<div class="title_text"><h2>提升生活品质 创造你我魅力</h2></div>
					<div class="line_right"></div>
				</div>
				<!-- 预约标题end -->
				<!-- 右侧图标start -->
				<!--<ul class="right_bar">
					<div class="right_bar_1"></div>
					<div class="right_bar_2"></div>
					<div class="right_bar_3"></div>
					<div class="right_bar_4"></div>
					<div class="right_bar_5"></div>
				</ul>-->
				<!-- 右侧图标end -->
			</div>
		</div>
	</body>
</html>
