<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>家装流程</title>
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/c_index/improvement_process.css" />
	</head>
	<body>
		<div class="improvement_process">
			<div class="improvement_content">
				<!-- 标题start -->
				<h3>家装流程 <span>IMPROVEMENT PROCESS</span></h3>
				<!-- 标题end -->
				<!-- 流程图start -->
				<div class="process_picture">
					<img src="../../image/process-pic.png" title="家装流程图">
				</div>
				<!-- 流程图end -->
			</div>
		</div>		
	</body>
</html>
