<div class="contact_wrap">
    <div class="contact_top"></div><!--contact_top-->
    <div class="contact_content">
        <div class="contact_process clearfix">
            <div class="first_process fl contact_active">
                <i class="iconfont">&#xe630;</i>
                <span class="span_text">提交成功</span>
                <span class="span_line"></span>
            </div><!--first_process-->
            <div class="second_process fl contact_active">
                <i class="iconfont">&#xe630;</i>
                <span class="span_text">店铺处理中</span>
                <span class="span_line"></span>
            </div><!--second_process-->
            <div class="three_process fl">
                <i class="iconfont">&#xe630;</i>
                <span class="span_text">接单成功</span>
            </div><!--second_process-->
        </div><!--contact_process-->
        <div class="contact_detail">
        	<div class="contact_title">
        		<span>店铺名字：<em id="JshopId"></em></span>
        		<span>创建时间：<em id="JcreateTime"></em></span>
        		<span>预计店铺确认时间：<em>8个小时内</em></span>
        	</div>
        	<div class="bookingprocesscon">
        		<h4>预订处理进度<span class="change">刷新</span></h4>
        		<ul id="Jul">
        			<!--<li class="detail_active">
        				<em></em>
        				<p>
        					<span id="Jday1" class="date"></span>
        					<span id="Jtime1" class="time"></span>
        					<span class="detail_text">您的需求已提交给店小二</span>
        				</p>
        			</li>
        			<li class="detail_active">
        				<em></em>
        				<p>
        					<span id="Jday2" class="date"></span>
        					<span id="Jtime2" class="time"></span>
        					<span class="detail_text">店小二正在确认您的预约需求并会联系您，请您耐心等待</span>
        				</p>
        			</li>-->
        		</ul>
        	</div>
        </div><!--contact_detail-->
    </div><!--contact_content-->
</div><!--contact_wrap-->
<div id="orderMaterial_nav" ordermaterial_nav></div>
