<div class="remind" >
    <p>*为了保证您的账号安全，绑定新邮箱前请进行安全验证</p>
    <p>发送成功，
        <a href="#">收不到验证短信怎么办？</a>
    </p>
</div>
<div class="bind_phone">
    <h3>手机号码 &nbsp;<span id="old_phone">152****5498</span></h3>
    <!--<div class="phone_number">
        <span>手机号</span>
        <input type="text" name="phone_number" id="phone_number">
        <span>*请输入完整的当前号码</span>
    </div>-->
    <div class="confirm_code">
        <span>验证码</span>
        <input type="text" name="confirm_code" id="confirm_code">
        <input type="button" value="获取短信验证码" id="oldPhoneCaptcha">
    </div>
</div>
<a  class="next_section" href="" id="next_email1">下一步</a>
<!--<a ui-sref="center.bind.bind_phone_2" class="next_section" href="" id="next1">下一步</a>-->