<p class="info">以下有两种方式可以验证身份</p>
<div class="message_wrap">
    <div class="message clearfix">
        <div class="message_fl fl">
            <!--<img src="css/img/message.gif">-->
            <em class="sprite_team message_mes"></em>
            <span>短信验证</span>
        </div><!--message_fl-->
        <div class="message_fr fr">
            <a href="javascript:;" id="message">立即验证</a>
        </div><!--message_fr-->
    </div><!--message-->
</div><!--message_wrap-->
<div class="message_wrap password_wrap">
    <div class="message clearfix">
        <div class="message_fl fl">
            <!--<img src="css/img/lock.png">-->
            <em class="sprite_team message_lock"></em>
            <span>登录密码验证</span>
        </div><!--message_fl-->
        <div class="message_fr fr">
            <a href="javascript:;" id="password">立即验证</a>
        </div><!--message_fr-->
    </div><!--message-->
</div><!--message_wrap-->