<div class="user_right fr">
    <div class="right_title">
        <span>个人资料 &nbsp;&nbsp;&nbsp;PERSONAL INFORMATION</span>
    </div><!--right_title-->
    <div class="right_content_wrap">
        <div class="works_content">
            <div id="works_content_title" class="works_content_title personal_content_title clearfix">
                <div class="title_complete fl">基本资料</div>
                <div class="title_pending fl">头像照片</div>
                <div id="title_active" class="title_active"></div><!--title_active-->
            </div><!--works_content_title-->
            <div class="personal_content">
                <form>
                    <div class="personal_form">
                        <div class="personal_form_list">
                            <span>用户名</span>
                            <input class="personal_user_name" title="" type="text" placeholder="请输入您的用户名">
                            <b>*用户名可用于登录，一旦确认无法修改</b>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>昵称</span>
                            <input class="personal_user_nickname" title="" type="text" placeholder="请输入您的昵称">
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>性别</span>
                            <label><input title="" type="radio" name="sex" id="man">&nbsp;&nbsp;男</label>
                            <label><input title="" type="radio" name="sex" id="women">&nbsp;&nbsp;女</label>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>年龄</span>
                            <input class="personal_user_age" title="" type="text">
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>邮箱</span>
                            <p><i>您还没有绑定邮箱，点击去</i><a href="#/center/setting/email/email_1">绑定邮箱</a></p>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>联系电话</span>
                            <span class="personal_tel">152****1234</span>
                            <a href="#/center/setting/bind/bind_phone_1">修改绑定</a>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list clearfix">
                            <span class="fl">所在城市</span>
                            <div data-toggle="distpicker" class="distpickerDiv clearfix fl">
                                <div class="form-group fl">
                                    <label class="sr-only" for="province1">Province</label>
                                    <select class="form-control" id="province1"></select>
                                </div>
                                <div class="form-group fl">
                                    <label class="sr-only" for="city1">City</label>
                                    <select class="form-control" id="city1"></select>
                                </div>
                                <div class="form-group fl">
                                    <label class="sr-only" for="district1">District</label>
                                    <select class="form-control" id="district1"></select>
                                </div>
                            </div>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>详细住址</span>
                            <input class="personal_area_detail" title="" type="text" placeholder="请输入您的详细住址">
                        </div><!--personal_form_list-->
                        <div class="personal_form_list clearfix">
                            <span class="fl">家乡</span>
                            <div data-toggle="distpicker" class="distpickerDiv clearfix fl">
                                <div class="form-group fl">
                                    <label class="sr-only" for="province2">Province</label>
                                    <select class="form-control" id="province2"></select>
                                </div>
                                <div class="form-group fl">
                                    <label class="sr-only" for="city2">City</label>
                                    <select class="form-control" id="city2"></select>
                                </div>
                                <div class="form-group fl">
                                    <label class="sr-only" for="district2">District</label>
                                    <select class="form-control" id="district2"></select>
                                </div>
                            </div>
                        </div><!--personal_form_list-->
                        <a class="personal_submit" href="javascript:;">提交</a>
                    </div><!--personal_form-->
                </form>
            </div><!--personal_content-->
            <div class="update_head clearfix container hide">
                <div class="update_head_left fl">
                    <form>
                        <div class="imgWrap imageBox">
                            <div class="thumbBox hide"></div>
                            <div class="spinner" style="display: none">Loading...</div>
                        </div><!--imgWrap-->
                        <p class="only_support">仅支持JPG、GIF、PNG、BMP格式，文件小于4M</p>
                        <div class="local_update action">
                            <div class="new-contentarea tc">
                                <a class="update_img upload-img" href="javascript:;">
                                    <img src="css/img/personal_camera.png">本地上传
                                </a>
                                <input type="file" class="" name="upload-file" id="upload-file"/>
                            </div><!--new-contentarea-->
                            <input type="button" id="btnCrop" class="Btnsty_peyton" value="裁切">
                            <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+">
                            <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-">
                        </div><!--local_update-->
                        <p class="recommend_head">推荐头像</p>
                        <div class="head_wrap clearfix">
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head1.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head2.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head3.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head4.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head5.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head6.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head7.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head8.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head9.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head10.png">
                            </a>
                        </div><!--head_wrap-->
                        <a class="head_submit" href="javascript:;">提交</a>
                    </form>
                </div><!--update_head_left-->

                <div class="update_head_right fr">
                    <div class="head_right_title">
                        <p class="preview_result">效果预览</p>
                        <p class="result_detail">你上传的图片会自动生成2种尺寸，请注意小尺寸的头像是否清晰</p>
                    </div><!--head_right_title-->
                    <!--<div class="result_100"></div>&lt;!&ndash;result_100&ndash;&gt;
                    <p class="p_100">100x100像素（px）</p>
                    <div class="result_50"></div>&lt;!&ndash;result_50&ndash;&gt;
                    <p class="p_100">50x50像素（px）</p>-->
                    <div class="cropped">
                        <div class="result_100"></div>
                        <p class="p_100">100x100像素（px）</p>
                        <div class="result_50"></div>
                        <p class="p_50">50x50像素（px）</p>
                    </div>
                </div><!--update_head_right-->
            </div><!--update_head-->
        </div><!--works_content-->
    </div><!--right_content_wrap-->
</div><!--user_right-->