<!-- 订单顶部start -->
<div id="owner_information">
	<div class="owner_information">
		<div class="owner_informationcnt">
			<div class="title">
				<h3>业主信息</h3>
				<p>Owner Information</p>
			</div>
			<div class="owner_content">
				<div class="owner_summary">
					<div class="owner_picture">
						<img src="css/img/foreman.png">
					</div>
					<h3>王文</h3>
					<p>
						<em class="sprite_order"></em>
						<span>15835736987</span>
					</p>
				</div>
				<div class="owner_detail clearfix">
					<div class="owner_left">
						<div class="area">
							<h3>建筑面积</h3>
							<p><span>110</span>㎡</p>
						</div>
						<div class="order">
							<h3>订单号</h3>
							<p>142733623556523</p>
						</div>
					</div>
					<div class="owner_middle">
						<div class="type">
							<h3>户型</h3>
							<p>2室1厅1卫</p>
						</div>
						<div class="time">
							<h3>订单创建时间</h3>
							<p>2016.4.20 AM 10:00</p>
						</div>
					</div>
					<div class="owner_right">
						<div class="address">
							<h3>房屋地址</h3>
							<p>相城区丽景湾小区13幢1204室</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 订单顶部end -->
<!-- 悬浮菜单start -->
<div id="suspension_menu">
	<ul>
	</ul>
</div>
<!-- 悬浮菜单end -->
<!-- 时间轴start -->
<div id="time_axis">
	<div class="axis_content">
		
	</div>

</div>
<!-- 时间轴end -->