<!-- 订单顶部start -->
<div id="owner_information">
	<div class="owner_information">
		<div class="owner_informationcnt">
			<div class="title">
				<h3>业主信息</h3>
				<p>Owner Information</p>
			</div>
			<div class="owner_content">
				<div class="owner_summary">
					<div class="owner_picture">
						<img src="">
					</div>
					<h3></h3>
					<p>
						<em class="sprite_order"></em>
						<span></span>
					</p>
				</div>
				<div class="owner_detail clearfix">
					<div class="owner_left">
						<div class="area">
							<h3>建筑面积</h3>
							<p><span></span>㎡</p>
						</div>
						<div class="order">
							<h3>订单号</h3>
							<p></p>
						</div>
					</div>
					<div class="owner_middle">
						<div class="type">
							<h3>户型</h3>
							<p></p>
						</div>
						<div class="time">
							<h3>订单创建时间</h3>
							<p></p>
						</div>
					</div>
					<div class="owner_right">
						<div class="address">
							<h3>房屋地址</h3>
							<p></p>
						</div>
						<div class="housetype">
							<h3>装修风格</h3>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 订单顶部end -->
<!-- 悬浮菜单start -->
<div id="suspension_menu">
	<ul>
	</ul>
</div>
<!-- 悬浮菜单end -->
<!-- 时间轴start -->
<div id="time_axis">
	<div class="axis_content">
		
	</div>

</div>
<!-- 时间轴end -->
<div id="orderDetail_nav" orderdetail_nav></div>