<!-- 右侧内容start -->
<div id="user_right" class="clearfix">
    <div class="order_content order_content_wrap">
        <div class="right_title">
            <span>我的订单 &nbsp;&nbsp;&nbsp;<i>MY ORDER</i></span>
        </div>
        <div class="right_content">
            <div class="order_title">
                <div>房屋地址</div>
                <div>建筑面积</div>
                <div>当前状态</div>
                <div>金额</div>
                <div>交易状态</div>
                <div>操作</div>

            </div>
            <div id="orderContent">
                <div class="order_content">
                    <!-- 页码start -->
                    <div class="page_number">
                        <div style="display: inline-block;text-align: left">
                            <div class="page_div2 clearfix"></div>
                        </div>
                    </div>
                    <!-- 页码end -->
                </div>
            </div><!--orderContent-->
            <div class="not_information hide">
                <div class="not_information_img">
                    <img src="css/img/no_information_found.png">
                </div><!--not_information_img-->
                <div class="not_information_text"></div><!--not_information_text-->
            </div><!--not_information-->
        </div>
    </div>
</div>
<!-- 右侧内容end -->