<div class="user_right fr">
    <div class="right_title">
        <span>消息中心 &nbsp;&nbsp;&nbsp;MESSAGE　CENTER</span>
    </div>
    <div class="right_content_wrap">
        <div class="information_content">
            <div class="content_title">
                <span class="name">名称</span>
                <span class="content">消息内容</span>
                <span class="time">时间</span>
            </div>
            <div class="main_contentWrap">
                <!--<div class="main_content">
                    <span class="name">嗨吼网</span>
                    <span class="content">欢迎入驻嗨吼网！您已注册成功！<i>您可以收藏登陆地址：heeyhome.com</i></span>
                    <span class="time">2016.12.15</span>
                    <a class="delete" href="javascript:;"><img src="css/img/delete.png"></a>
                </div>
                <div class="main_content">
                    <span class="name">嗨吼网</span>
                    <span class="content">欢迎入驻嗨吼网！您已注册成功！<i>您可以收藏登陆地址：heeyhome.com</i></span>
                    <span class="time">2016.12.15</span>
                    <a class="delete" href="javascript:;"><img src="css/img/delete.png"></a>
                </div>
                <div class="main_content">
                    <span class="name">嗨吼网</span>
                    <span class="content">欢迎入驻嗨吼网！您已注册成功！<i>您可以收藏登陆地址：heeyhome.com</i></span>
                    <span class="time">2016.12.15</span>
                    <a class="delete" href="javascript:;"><img src="css/img/delete.png"></a>
                </div>
                <div class="main_content">
                    <span class="name">嗨吼网</span>
                    <span class="content">欢迎入驻嗨吼网！您已注册成功！<i>您可以收藏登陆地址：heeyhome.com</i></span>
                    <span class="time">2016.12.15</span>
                    <a class="delete" href="javascript:;"><img src="css/img/delete.png"></a>
                </div>-->
            </div>
            <div class="detail_cnt display">
            </div>
            <div class="information_choose">
                <input title="" type="checkbox">
                <span>全选</span>
                <a href="javascript:;">全部标记</a>
            </div>
            <!-- 页码start -->
            <div class="page_number">
                <div style="margin:80px auto;width:1000px;">
                    <div class="page_div2"></div>
                </div>
            </div>
            <!-- 页码end -->
        </div>
    </div>
</div><!--user_right-->
<div id="ReminderBox" class="display" style="position:fixed;width:100%;height:100%;top:0px;left:0px;z-index: 999;background: rgba(0,0,0,0.6);">
    <div class="remindebox" >
        <div class="remindemodel">
            <div class="remindemodel_header">
                <h1>提示</h1>
            </div>
            <div class="remindemodel_content">
                <div class="remindemodel_info">
                    <div class="info_header">
                        <span></span>
                    </div>
                </div>
                <div class="remindemodel_footer">
                    <input class="remindemodel_ok" type="button" data-select = "" value="好的"/>
                </div>
            </div>
        </div>
    </div>
</div>