<div class="user_right fr">
    <div class="right_title">
        <span>消息中心 &nbsp;&nbsp;&nbsp;MESSAGE　CENTER</span>
    </div><!--right_title-->
    <div class="right_content_wrap">
        <div class="information_content">
            <div class="content_title">
                <span class="name">名称</span>
                <span class="content">消息内容</span>
                <span class="time">时间</span>
            </div><!--content_title-->
            <div class="main_contentWrap">
                <div class="main_content">
                    <span class="name">嗨吼网</span>
                    <span class="content">欢迎入驻嗨吼网！您已注册成功！<i>您可以收藏登陆地址：heeyhome.com</i></span>
                    <span class="time">2016.12.15</span>
                    <a class="delete" href="javascript:;"><img src="css/img/delete.png"></a>
                </div><!--main_content-->
                <div class="main_content">
                    <span class="name">嗨吼网</span>
                    <span class="content">欢迎入驻嗨吼网！您已注册成功！<i>您可以收藏登陆地址：heeyhome.com</i></span>
                    <span class="time">2016.12.15</span>
                    <a class="delete" href="javascript:;"><img src="css/img/delete.png"></a>
                </div><!--main_content-->
                <div class="main_content">
                    <span class="name">嗨吼网</span>
                    <span class="content">欢迎入驻嗨吼网！您已注册成功！<i>您可以收藏登陆地址：heeyhome.com</i></span>
                    <span class="time">2016.12.15</span>
                    <a class="delete" href="javascript:;"><img src="css/img/delete.png"></a>
                </div><!--main_content-->
                <div class="main_content">
                    <span class="name">嗨吼网</span>
                    <span class="content">欢迎入驻嗨吼网！您已注册成功！<i>您可以收藏登陆地址：heeyhome.com</i></span>
                    <span class="time">2016.12.15</span>
                    <a class="delete" href="javascript:;"><img src="css/img/delete.png"></a>
                </div><!--main_content-->
            </div><!--main_contentWrap-->
            <div class="information_choose">
                <input title="" type="checkbox">
                <span>全选</span>
                <a href="javascript:;">批量删除</a>
            </div><!--information_choose-->
        </div><!--information_content-->
    </div><!--right_content_wrap-->
</div><!--user_right-->
