<div class="user_right fr">
    <div class="user_right_title clearfix">
        <div class="title_left fl clearfix">
            <div class="left_img fl">
                <img src="css/img/bigshop-1.png">
            </div><!--left_img-->
            <div class="left_user fl">
                <p><a href="javascript:;" class="user_name">晨曦</a></p>
                <p>用户名：<span>185****0217</span></p>
                <p class="level_p">安全等级</p>
                <div class="safe_level">
                    <div class="active_level"></div>
                </div><!--safe_level-->
                <div class="safe_name">
                    <span class="active_name">弱</span>
                    <span>中</span>
                    <span>强</span>
                </div><!--safe_name-->
            </div><!--left_user-->
        </div><!--title_left-->
        <div class="title_right fr clearfix">
            <div class="title_email fl clearfix">
                <img class="fl" src="css/img/title_email.png">
                <p class="email_bind fl">邮箱绑定</p>
                <p class="fl"><span>未绑定</span><a href="javascript:;">立即绑定</a></p>
            </div><!--title_email-->
            <div class="title_tel fl clearfix">
                <img class="fl" src="css/img/title_tel.png">
                <p class="email_bind fl">手机号码绑定</p>
                <p class="fl"><span>已绑定</span><a href="javascript:;">修改</a></p>
            </div><!--title_tel-->
        </div><!--title_right-->
    </div><!--user_right_title-->
    <div class="right_content">
        <div class="my_order">
            <a href="javascript:;" class="my_order_title">我的订单</a>
            <div class="my_order_content">
                <a class="ready_pay" href="javascript:;"><b>2</b><span>待付款</span></a>
                <p class="box"></p>
                <a class="ready_pay" href="javascript:;"><b>1</b><span>待收货</span></a>
                <p class="box"></p>
                <a class="ready_pay" href="javascript:;"><b>1</b><span>待验收</span></a>
            </div><!--my_order_content-->
        </div><!--my_order-->
        <div class="my_collection">
            <a href="javascript:;" class="my_collection_title">我的收藏</a>
            <div class="my_collection_content">
                <a href="javascript:;" class="rendering">
                    <img class="render_img" src="css/img/rendering.png">
                    <span>效果图</span>
                    <img class="line_img" src="css/img/user_line.png">
                    <b><i>20</i>套</b>
                </a><!--rendering-->
                <a href="javascript:;" class="bill">
                    <img class="render_img" src="css/img/bill.png">
                    <span>账单</span>
                    <img class="line_img" src="css/img/user_line.png">
                    <b><i>5</i>张</b>
                </a><!--bill-->
                <a href="javascript:;" class="store">
                    <img class="render_img" src="css/img/store.png">
                    <span>店铺</span>
                    <img class="line_img" src="css/img/user_line.png">
                    <b><i>33</i>家</b>
                </a><!--store-->
            </div><!--my_collection_content-->
        </div><!--my_collection-->
    </div><!--right_content-->
</div><!--user_right-->