<div class="user_right fr">
    <div class="user_right_title clearfix">
        <div class="title_left fl clearfix">
            <div class="left_img fl"></div><!--left_img-->
            <div class="left_user fl">
                <p><a href="javascript:;" class="user_name">晨曦</a></p>
                <p>用户名：<span id="user_phone">185****0217</span></p>
                <p class="level_p">安全等级</p>
                <div class="safe_level">
                    <div class="active_level" id="active_level"></div>
                </div><!--safe_level-->
                <div class="safe_name">
                    <span class="">弱</span>
                    <span>中</span>
                    <span>强</span>
                </div><!--safe_name-->
            </div><!--left_user-->
        </div><!--title_left-->
        <div class="title_right fr clearfix">
            <div class="title_email fl clearfix">
            	<em class="fl sprite-details icon-email"></em>
                <p class="email_bind fl">邮箱绑定</p>
                <p id="email" class="fl"><span>未绑定</span><a href="#/center/setting/email/email_1">立即绑定</a></p>
            </div><!--title_email-->
            <div class="title_tel fl clearfix">
            	<em class="fl sprite-details icon-tel"></em>
                <p class="email_bind fl">手机号码绑定</p>
                <p class="fl"><span>已绑定</span><a href="#/center/setting/bind/bind_phone_1">修改</a></p>
            </div><!--title_tel-->
        </div><!--title_right-->
    </div><!--user_right_title-->
    <div class="right_content home_not">
        <div class="my_order">
            <a href="javascript:;" class="my_order_title">我的订单</a>
            <div class="my_order_content">
                <div class="order_content_title clearfix">
               		<div class="order_title_left">
               			<div class="order_title_left_img" style="display: inline-block;"></div>
               			<!--<img src="">-->
               			<span></span>
               		</div>
               		<div class="order_title_right">
               			<em class="sprite-details icon-time"></em>
               			<span></span>
               		</div>
                </div>
                <div class="order_content_cnt clearfix">
                	<div class="order_cnt_left">
                		<ul>
                			<li class="status">
                				<span class="order_span_left">订单状态</span>
                				<span class="order_span_right"></span>
                			</li>
                			<li class="address">
                				<span class="order_span_left">预约地址</span>
                				<span class="order_span_right"></span>
                			</li>
                			<li class="house">
                				<span class="order_span_left">房屋信息</span>
                				<span class="order_span_right"><span class="area"></span>㎡/<span class="type"></span>/<span class="money"></span></span>
                			</li>
                			<li class="time">
                				<span class="order_span_left">预约时间</span>
                				<span class="order_span_right"></span>
                			</li>
                		</ul>
                	</div>
                	<div class="order_cnt_right">
                		<a href="javascript:;" target="_blank" class="detail">查看详情</a>
                		<a href="jacascript:;" class="operation">取消订单</a>
                	</div>
                </div>
            </div><!--my_order_content-->
        </div><!--my_order-->
        <div class="not_information hide">
            <div class="not_information_img">
                <img src="css/img/no_information_found.png">
            </div><!--not_information_img-->
            <div class="not_information_text"></div><!--not_information_text-->
        </div><!--not_information-->
        <div class="my_collection">
            <a href="javascript:;" class="my_collection_title">我的收藏</a>
            <div class="my_collection_content">
                <a href="#/center/mcollection?index=0" class="rendering">
                	<em class="sprite-details icon-rendering"></em>
                    <span>效果图</span>
                    <i class="sprite-details icon-inline"></i>
                    <b><i id="pic_total">0</i>套</b>
                </a><!--rendering-->
                <a href="#/center/mcollection?index=1" class="bill">
                	<em class="sprite-details icon-bill"></em>
                    <span>账单</span>
                    <i class="sprite-details icon-inline"></i>
                    <b><i id="bill_total">5</i>张</b>
                </a><!--bill-->
                <a href="#/center/mcollection?index=2" class="store">
                	<em class="sprite-details icon-store"></em>
                    <span>店铺</span>
                    <i class="sprite-details icon-inline"></i>
                    <b><i id="shop_total">0</i>家</b>
                </a><!--store-->
            </div><!--my_collection_content-->
        </div><!--my_collection-->
    </div><!--right_content-->
</div><!--user_right-->