html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,form,fieldset,legend,input,select,textarea,button,caption,th,td,blockquote,pre {
    margin: 0;
    padding: 0
}

body {
    color: #333;
    font: normal normal normal 12px/20px Arial,sans-serif
}

input,select,textarea,button {
    vertical-align: middle;
    font-size: 100%;
    outline: 0;
    font-family: 'Microsoft YaHei',Arial,sans-serif
}

h1,h2,h3,h4,h5,h6,strong,th,b {
    font-weight: 400
}

h1,h2,h3,h4,h5,h6 {
    font-size: 14px;
    line-height: 24px
}

li {
    list-style: none
}

table {
    border-spacing: 0
}

caption,th {
    text-align: left
}

fieldset,img {
    border: 0
}

address,cite,dfn,em,var,i {
    font-style: normal
}

code,dfn,kbd,samp,tt,var,pre {
    font-family: monospace
}

del,ins,s {
    text-decoration: none
}

small {
    font-size: 100%
}

q:before {
    content: ''
}

q:after {
    content: ''
}

img {
    border: 0
}

a {
    color: #005bb5;
    text-decoration: none;
    outline: 0
}

a:hover {
    color: #f60;
    text-decoration: none
}

.clearfix {
    zoom: 1
}

.clearfix:after,.clearfix:before {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both
}

.display {
    display: none
}

.col_eec988 {
	color: #EEC988
}

.col_686868 {
	color: #686868
}

.border_eec988 {
	border: 1px solid #EEC988 !important
}

.after_eec988:after {
	border-top: 8px solid #EEC988 !important;
}
