<h3 class="revise_phone">修改绑定手机号</h3>
<div class="revise_process clearfix">
	<!--<div class="process_1 active">
		<a ui-sref-active="active" ui-sref=".phone_1">1</a>
		<p>身份验证</p>
	</div>
	<div class="process_2">
		<a ui-sref-active="active" ui-sref=".phone_2">2</a>
		<p>设置新号码</p>
	</div>
	<div class="process_3">
		<a ui-sref-active="active" ui-sref=".phone_3">3</a>
		<p>完成</p>
	</div>-->
	<a >
		<span>1</span>身份验证
	</a>
	<a >
		<span>2</span>设置新号码
	</a>
	<a >
		<span>3</span>完成
	</a>
</div>
<div class="bind_phonecnt">
	<div class="phone_content" ui-view></div>
</div>
