<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/c_user_center/my_order.css" />
	</head>
	<body>
		<!-- 当前位置start -->
		<div id="selfcenter_top">
			<div class="now_location">
				<a href="#nogo"><img src="../../css/img/icon-toindex.png"></a>
				<span>&gt;</span>
				<span>个人中心</span>
				<span>&gt;</span>
				<span>个人主页</span>
			</div>
		</div>
		<!-- 当前位置end -->
		<!-- 左侧导航start -->
		<div class="master_user_wrap clearfix">
		    <div class="user_left ">
		        <ul class="left_ul">
		            <li>
		                <a class="a_content" href="#/"><span>&bull;</span>&nbsp;&nbsp;我的主页&nbsp;&nbsp;<span>&bull;</span></a>
		            </li>
		            <li>
		                <a class="a_content" href="#"><span>&bull;</span>&nbsp;&nbsp;个人资料&nbsp;&nbsp;<span>&bull;</span></a>
		            </li>
		            <li class="active">
		                <a class="a_content" href="#"><span>&bull;</span>&nbsp;&nbsp;我的订单&nbsp;&nbsp;<span>&bull;</span></a>
		            </li>
		            <li>
		                <a class="a_content" href="#"><span>&bull;</span>&nbsp;&nbsp;我的收藏&nbsp;&nbsp;<span>&bull;</span></a>
		            </li>
		            <li>
		                <a class="a_content" href="#"><span>&bull;</span>&nbsp;&nbsp;消息中心&nbsp;&nbsp;<span>&bull;</span></a>
		            </li>
		            <li>
		                <a class="a_content" href="#"><span>&bull;</span>&nbsp;&nbsp;安全设置&nbsp;&nbsp;<span>&bull;</span></a>
		            </li>
		            <li>
		                <a class="a_content" href="#"><span>&bull;</span>&nbsp;&nbsp;收货地址&nbsp;&nbsp;<span>&bull;</span></a>
		            </li>
		        </ul>
		    </div>
		    <!-- 左侧导航end -->
		    <!-- 右侧内容start -->
		    <div id="user_right" class="clearfix">
		    	<div class="content_wrap">
		    		<div class="right_title">
				        <span>我的订单 &nbsp;&nbsp;&nbsp;MY ORDER</span>
				    </div>
				    <div class="right_content">
				    	<div class="order_title">
				    		<div>房屋地址</div>
				    		<div>建筑面积</div>
				    		<div>当前状态</div>
				    		<div>金额</div>
				    		<div>交易状态</div>
				    		<div>全部</div>
				    		<div class="item_hover_0">
				    			<ul class="display">
				    				<li>订单已完成</li>
				    				<li>订单完成中</li>
				    			</ul>
				    		</div>
				    	</div>
				    	<div class="order_content">
				    		<div class="order_box">
				    			<div class="ordercnt_title clearfix">
				    				<span>2015.11.20</span>
				    				<span>订单号</span>
				    				<span>24679988005</span>
				    				<span>怡馨苑总经理店铺</span>
				    				<span></span>
				    			</div>
				    			<div class="ordercnt_content">
				    				<div class="block clearfix">
				    					<div class="address">
					    					<p>江苏省工业园区凤凰城一期33幢0802</p>
					    				</div>
					    				<div class="area">
					    					<p class="item_hover_0"><span>120</span>㎡</p>
					    				</div>
					    				<div class="now_stage">
					    					<p>木工阶段已完工</p>
					    				</div>
					    				<div class="money">
					    					<p>111,500</p>
					    				</div>
					    				<div class="trade_stage">
					    					<p>交易成功</p>
					    					<p> </p>
					    				</div>
					    				<div class="all">
					    					<a href="javascript:void(0)">查看详情</a>
					    					<input type="button" value="确认验货">
					    				</div>
				    				</div>
				    				<div class="hide display">
				    					<p>户型：三室两厅 &nbsp;&nbsp;餐厅、客厅、卧室、阳台、卫生间</p>
				    					<p>简介：起居室整体色彩干净清爽，浅色的背景墙和沙发让空间基调利落明快，而与之相对比的红色地毯则让空间现代化感更强，且不失活泼。利用侧面的“裸妆”墙体收货一个更为丰富且个性的立体装饰效果，同时也达到了客厅空间的收纳作用。</p>
				    				</div>
				    			</div>
				    		</div>
				    		<div class="order_box">
				    			<div class="ordercnt_title clearfix">
				    				<span>2015.11.20</span>
				    				<span>订单号</span>
				    				<span>24679988005</span>
				    				<span>怡馨苑总经理店铺</span>
				    				<span></span>
				    			</div>
				    			<div class="ordercnt_content">
				    				<div class="block clearfix">
				    					<div class="address">
					    					<p>江苏省工业园区凤凰城一期33幢0802</p>
					    				</div>
					    				<div class="area">
					    					<p class="item_hover_0"><span>120</span>㎡</p>
					    				</div>
					    				<div class="now_stage">
					    					<p>已完工</p>
					    				</div>
					    				<div class="money">
					    					<p>--</p>
					    				</div>
					    				<div class="trade_stage">
					    					<p>交易成功</p>
					    					<p>申请售后</p>
					    				</div>
					    				<div class="all">
					    					<a href="javascript:void(0)">查看详情</a>
					    					<input type="button" value="确认验货">
					    				</div>
				    				</div>
				    				<div class="hide display">
				    					<p>户型：三室两厅 &nbsp;&nbsp;餐厅、客厅、卧室、阳台、卫生间</p>
				    					<p>简介：起居室整体色彩干净清爽，浅色的背景墙和沙发让空间基调利落明快，而与之相对比的红色地毯则让空间现代化感更强，且不失活泼。利用侧面的“裸妆”墙体收货一个更为丰富且个性的立体装饰效果，同时也达到了客厅空间的收纳作用。</p>
				    				</div>
				    			</div>
				    		</div>
				    		<div class="order_box">
				    			<div class="ordercnt_title clearfix">
				    				<span>2015.11.20</span>
				    				<span>订单号</span>
				    				<span>24679988005</span>
				    				<span>怡馨苑总经理店铺</span>
				    				<span></span>
				    			</div>
				    			<div class="ordercnt_content">
				    				<div class="block clearfix">
				    					<div class="address">
					    					<p>江苏省工业园区凤凰城一期33幢0802</p>
					    				</div>
					    				<div class="area">
					    					<p class="item_hover_0"><span>120</span>㎡</p>
					    				</div>
					    				<div class="now_stage">
					    					<p>已完工</p>
					    				</div>
					    				<div class="money">
					    					<p>--</p>
					    				</div>
					    				<div class="trade_stage">
					    					<p>交易成功</p>
					    					<p>申请售后</p>
					    				</div>
					    				<div class="all">
					    					<a href="javascript:void(0)">查看详情</a>
					    					<input type="button" value="确认验货">
					    				</div>
				    				</div>
				    				<div class="hide display">
				    					<p>户型：三室两厅 &nbsp;&nbsp;餐厅、客厅、卧室、阳台、卫生间</p>
				    					<p>简介：起居室整体色彩干净清爽，浅色的背景墙和沙发让空间基调利落明快，而与之相对比的红色地毯则让空间现代化感更强，且不失活泼。利用侧面的“裸妆”墙体收货一个更为丰富且个性的立体装饰效果，同时也达到了客厅空间的收纳作用。</p>
				    				</div>
				    			</div>
				    		</div>
				    		<div class="button">
				    			<input type="checkbox" id="all_select">
				    			<label for="all_select">全选</label>
				    			<input type="button" value="批量删除">
				    		</div>
				    	</div>
				    </div>
		    	</div>
		    </div>
		    <!-- 右侧内容end -->
		</div>
	</body>
</html>
