<!-- 右侧内容start -->
<div id="user_right" class="user_right clearfix">
    <div class="content_wrap">
        <div class="right_title">
            <span>我的订单 &nbsp;&nbsp;&nbsp;MY ORDER</span>
        </div>
        <div class="order_right_content right_content">
            <div class="order_title">
                <div>业主</div>
                <div>房屋地址</div>
                <div>建筑面积</div>
                <div>当前状态</div>
                <div>交易金额</div>
                <div>全部</div>
                <div class="item_hover_0">
                    <ul class="display">
                        <li>订单已完成</li>
                        <li>订单完成中</li>
                    </ul>
                </div>
            </div>
            <div class="order_content">
                <div class="order_box">
                    <div class="ordercnt_title clearfix">
                        <span>2015.11.20</span>
                        <span>订单号</span>
                        <span>24679988005</span>
                        <span></span>
                    </div>
                    <div class="ordercnt_content">
                        <div class="block clearfix">
                            <div class="name">
                                <p>张先生</p>
                                <p>18539614937</p>
                            </div>
                            <div class="address">
                                <span>江苏省工业园区凤凰城一期33幢</span>
                            </div>
                            <div class="size">
                                <p class="item_hover_0">120㎡</p>
                            </div>
                            <div class="stage">
                                <span>--</span>
                            </div>
                            <div class="money">
                                <span>--</span>
                            </div>
                            <div class="all">
                                <a href="javascript:void(0)">进度更新</a>
                            </div>
                        </div>
                        <div class="hide display">
                            <p>户型：三室两厅 &nbsp;&nbsp;餐厅、客厅、卧室、阳台、卫生间</p>
                            <p>简介：起居室整体色彩干净清爽，浅色的背景墙和沙发让空间基调利落明快，而与之相对比的红色地毯则让空间现代化感更强，且不失活泼。利用侧面的“裸妆”墙体收货一个更为丰富且个性的立体装饰效果，同时也达到了客厅空间的收纳作用。</p>
                        </div>
                    </div>
                </div>
                <div class="order_box">
                    <div class="ordercnt_title">
                        <span>2015.11.20</span>
                        <span>订单号</span>
                        <span>24679988005</span>
                        <span></span>
                    </div>
                    <div class="ordercnt_content">
                        <div class="block clearfix">
                            <div class="name">
                                <p>张先生</p>
                                <p>18539614937</p>
                            </div>
                            <div class="address">
                                <span>工业园区怡馨苑12幢0803</span>
                            </div>
                            <div class="size">
                                <p class="item_hover_0">120㎡</p>
                            </div>
                            <div class="stage">
                                <span>--</span>
                            </div>
                            <div class="money">
                                <span>--</span>
                            </div>
                            <div class="all">
                                <a href="javascript:void(0)">进度更新</a>
                            </div>
                        </div>
                        <div class="hide display">
                            <p>户型：三室两厅 &nbsp;&nbsp;餐厅、客厅、卧室、阳台、卫生间</p>
                            <p>简介：起居室整体色彩干净清爽，浅色的背景墙和沙发让空间基调利落明快，而与之相对比的红色地毯则让空间现代化感更强，且不失活泼。利用侧面的“裸妆”墙体收货一个更为丰富且个性的立体装饰效果，同时也达到了客厅空间的收纳作用。</p>
                        </div>
                    </div>
                </div>
                <div class="order_box">
                    <div class="ordercnt_title">
                        <span>2015.11.20</span>
                        <span>订单号</span>
                        <span>24679988005</span>
                        <span></span>
                    </div>
                    <div class="ordercnt_content">
                        <div class="block clearfix">
                            <div class="name">
                                <p>张先生</p>
                                <p>18539614937</p>
                            </div>
                            <div class="address">
                                <span>工业园区怡馨苑12幢0803</span>
                            </div>
                            <div class="size">
                                <p class="item_hover_0">120㎡</p>
                            </div>
                            <div class="stage">
                                <span>木工阶段已完成</span>
                            </div>
                            <div class="money">
                                <span>2084,00</span>
                            </div>
                            <div class="all">
                                <a href="javascript:void(0)">进度更新</a>
                            </div>
                        </div>
                        <div class="hide display">
                            <p>户型：三室两厅 &nbsp;&nbsp;餐厅、客厅、卧室、阳台、卫生间</p>
                            <p>简介：起居室整体色彩干净清爽，浅色的背景墙和沙发让空间基调利落明快，而与之相对比的红色地毯则让空间现代化感更强，且不失活泼。利用侧面的“裸妆”墙体收货一个更为丰富且个性的立体装饰效果，同时也达到了客厅空间的收纳作用。</p>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <input type="checkbox" id="all_select">
                    <label for="all_select">全选</label>
                    <input type="button" value="批量删除">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 右侧内容end -->