<div class="user_right fr">
    <div class="right_title">
        <span>我的店铺 &nbsp;&nbsp;&nbsp;MY SHOP</span>
    </div><!--right_title-->
    <div class="right_content_wrap">
        <div class="shop_content">
            <div class="shop_detail">
                <span>用户名</span>
                <input class="shop_name" title="" type="text" placeholder="请输入您的店名">
            </div><!--shop_detail-->
            <div class="shop_detail">
                <span>店铺认证</span>
                <a class="shop_head" href="javascript:;"><img src="css/img/shop_head.png"></a>
            </div><!--shop_detail-->
            <div class="shop_detail">
                <span>开店年限</span>
                <input class="shop_age" title="" type="text" placeholder="请输入您的开店年限">
            </div><!--shop_detail-->
            <div class="shop_detail">
                <span>接单数</span>
                <input class="shop_age" title="" type="text" placeholder="请输入您的接单数">
            </div><!--shop_detail-->
            <div class="shop_detail shop_process">
                <span>本店工艺</span>
                <a class="shop_add" href="javascript:;">+</a>
                <input class="shop_add_input" title="" type="text">
            </div><!--shop_detail-->
            <div class="shop_detail">
                <span>效果图展示</span>
                <div class="renderings_show_wrap clearfix">
                    <div class="renderings_show fl first_renderings_show">
                        <a class="complete_del" href="javascript:;">
                            <img src="css/img/shop_del.png">
                        </a>
                        <img src="css/img/my_work1.jpg">
                        <div class="show_bg"></div><!--show_bg-->
                        <a class="renderings_show_a" href="javascript:;">更改</a>
                        <div class="renderings_bg"></div>
                    </div><!--renderings_show-->
                    <div class="renderings_show fl">
                        <a class="complete_del" href="javascript:;">
                            <img src="css/img/shop_del.png">
                        </a>
                        <img src="css/img/my_work1.jpg">
                        <div class="show_bg"></div><!--show_bg-->
                        <a class="renderings_show_a" href="javascript:;">更改</a>
                        <div class="renderings_bg"></div>
                    </div><!--renderings_show-->
                    <div class="renderings_show fl">
                        <a class="complete_del" href="javascript:;">
                            <img src="css/img/shop_del.png">
                        </a>
                        <img src="css/img/my_work1.jpg">
                        <div class="show_bg"></div><!--show_bg-->
                        <a class="renderings_show_a" href="javascript:;">更改</a>
                        <div class="renderings_bg"></div>
                    </div><!--renderings_show-->
                    <div class="renderings_show fl">
                        <a class="complete_del" href="javascript:;">
                            <img src="css/img/shop_del.png">
                        </a>
                        <img src="css/img/my_work1.jpg">
                        <div class="show_bg"></div><!--show_bg-->
                        <a class="renderings_show_a" href="javascript:;">更改</a>
                        <div class="renderings_bg"></div>
                    </div><!--renderings_show-->
                    <a class="renderings_add" href="javascript:;">+</a>
                </div><!--renderings_show_wrap-->
            </div><!--shop_detail-->
            <div class="shop_detail shop_detail_style">
                <span>擅长风格</span>
                <a class="personal_area" href="javascript:;">新中式</a>
                <a class="personal_area" href="javascript:;">北欧风格</a>
                <a class="personal_circle" href="javascript:;">+</a>
            </div><!--shop_detail-->
            <div class="shop_detail shop_detail_area">
                <span>服务区域</span>
                <a class="personal_area" href="javascript:;">园区</a>
                <a class="personal_area" href="javascript:;">姑苏区</a>
                <a class="personal_circle" href="javascript:;">+</a>
            </div><!--shop_detail-->
            <div class="shop_detail">
                <span>家庭住址</span>
                <input class="shop_name" title="" type="text" placeholder="请输入您的具体地址">
            </div><!--shop_detail-->
            <div class="shop_detail">
                <span>店铺理念</span>
                <input class="shop_name" title="" type="text" placeholder="请输入您的店铺理念">
            </div><!--shop_detail-->
            <a class="shop_save" href="javascript:;">保存</a>
        </div><!--shop_content-->
    </div><!--right_content_wrap-->
</div><!--user_right-->