<div class="user_right fr">
    <div class="right_title">
        <span>我的钱包 &nbsp;&nbsp;&nbsp;MY WALLET</span>
    </div><!--right_title-->
    <div class="right_content_wrap">
        <div class="wallet_content clearfix">
            <div class="wallet_content_top clearfix">
                <ul class="clearfix fl">
                    <li>
                        <p class="wallet_li_top">项目总额</p>
                        <p class="wallet_money"><span>8536,</span>00元</p>
                    </li>
                    <li>
                        <p class="wallet_li_top">滞留金额</p>
                        <p class="retention"><span>2000,</span>00元</p>
                    </li>
                    <li>
                        <p class="wallet_li_top">账户状态</p>
                        <p class="wallet_money">有效</p>
                    </li>
                </ul>
                <a href="javascript:;" class="wallet_withdrawal">提现</a>
                <a href="javascript:;" class="wallet_safe">安全中心</a>
            </div><!--wallet_content_top-->
            <div class="wallet_content_bottom">
                <div class="wallet_bottom_title clearfix">
                    <div class="bottom_title_left fl">
                        <div class="transaction_records">最近交易记录</div>
                        <div class="withdrawal_record">提现记录</div>
                        <div class="bottom_title_active"></div>
                    </div><!--bottom_title_left-->
                    <div class="bottom_title_right fr">
                        <a href="javascript:;" class="check_detail">查看明细<img src="css/img/cash_img.png"></a>
                    </div><!--bottom_title_right-->
                </div><!--wallet_bottom_title-->
                <div class="wallet_bottom_content">
                    <div class="wallet_dl">
                        <span class="wallet_time">时间</span>
                        <span class="wallet_account">账户</span>
                        <span class="wallet_coin">金额</span>
                        <span class="wallet_cash">交易状态</span>
                        <span class="wallet_opera">操作</span>
                    </div><!--wallet_dl-->
                    <div class="wallet_dd">
                        <span class="wallet_time">2016.2.13</span>
                        <span class="wallet_account">张新民（木工结尾阶段）</span>
                        <span class="wallet_coin">+2000.00</span>
                        <span class="wallet_cash">支付成功</span>
                        <a href="javascript:;" class="dd_opera">详情<i></i></a>
                    </div><!--wallet_dd-->
                    <div class="wallet_dd">
                        <span class="wallet_time">2016.2.13</span>
                        <span class="wallet_account">张新民（木工结尾阶段）</span>
                        <span class="wallet_coin">+2000.00</span>
                        <span class="wallet_cash">支付成功</span>
                        <a href="javascript:;" class="dd_opera">详情<i></i></a>
                    </div><!--wallet_dd-->
                    <div class="wallet_dd">
                        <span class="wallet_time">2016.2.13</span>
                        <span class="wallet_account">张新民（木工结尾阶段）</span>
                        <span class="wallet_coin">+2000.00</span>
                        <span class="wallet_cash">支付成功</span>
                        <a href="javascript:;" class="dd_opera">详情<i></i></a>
                    </div><!--wallet_dd-->
                    <div class="wallet_dd">
                        <span class="wallet_time">2016.2.13</span>
                        <span class="wallet_account">张新民（木工结尾阶段）</span>
                        <span class="wallet_coin">+2000.00</span>
                        <span class="wallet_cash">支付成功</span>
                        <a href="javascript:;" class="dd_opera">详情<i></i></a>
                    </div><!--wallet_dd-->
                    <a href="javascript:;" class="local_history fr">查看所有历史记录</a>
                </div><!--wallet_bottom_content-->
            </div><!--wallet_content_bottom-->
        </div><!--wallet_content-->
    </div><!--right_content_wrap-->
</div><!--user_right-->