<div class="user_right fr">
    <div class="right_title">
        <span>个人资料 &nbsp;&nbsp;&nbsp;PERSONAL INFORMATION</span>
    </div><!--right_title-->
    <div class="right_content_wrap">
        <div class="works_content">
            <div id="works_content_title" class="works_content_title personal_content_title clearfix">
                <div class="title_complete fl">基本资料</div>
                <div class="title_pending fl">头像照片</div>
                <div id="title_active" class="title_active"></div><!--title_active-->
            </div><!--works_content_title-->
            <div class="personal_content">
                <form>
                    <div class="personal_form">
                        <div class="personal_form_list">
                            <span>用户名</span>
                            <input class="personal_user_name" title="" type="text" placeholder="请输入您的用户名">
                            <b>*用户名可用于登录，一旦确认无法修改</b>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>昵称</span>
                            <input class="personal_user_nickname" title="" type="text" placeholder="请输入您的昵称">
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>性别</span>
                            <label><input title="" type="radio" name="sex">&nbsp;&nbsp;男</label><label><input title=""
                                                                                                              type="radio"
                                                                                                              name="sex">&nbsp;&nbsp;女</label>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>年龄</span>
                            <input class="personal_user_age" title="" type="text">
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>邮箱</span>
                            <p>您还没有绑定邮箱，点击去<a href="javascript:;">绑定邮箱</a></p>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>联系电话</span>
                            <span class="personal_tel">152****1234</span>
                            <a href="javascript:;">取消绑定</a>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list personal_form_area">
                            <span>从业经历</span>
                            <textarea title=""></textarea>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list personal_area_list">
                            <span>服务区域</span>
                            <a class="personal_area" href="javascript:;">吴中区</a>
                            <a class="personal_area" href="javascript:;">姑苏区</a>
                            <a class="personal_area" href="javascript:;">相城区</a>
                            <a class="personal_circle" href="javascript:;">+</a>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>装修小区</span>
                            <input class="personal_user_community" title="" type="text" placeholder="请输入您装修过的小区">
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>所在城市</span>
                            <select title="">
                                <option>安徽省</option>
                                <option>江苏省</option>
                                <option>浙江省</option>
                            </select>
                            <em>省</em>
                            <select title="">
                                <option>淮南市</option>
                                <option>苏州市</option>
                                <option>杭州市</option>
                            </select>
                            <em>市</em>
                            <select title="">
                                <option>姑苏区</option>
                                <option>吴中区</option>
                                <option>园区</option>
                            </select>
                            <em>区</em>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>详细住址</span>
                            <input class="personal_area_detail" title="" type="text" placeholder="请输入您的详细住址">
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>家乡</span>
                            <select title="">
                                <option>安徽省</option>
                                <option>江苏省</option>
                                <option>浙江省</option>
                            </select>
                            <em>省</em>
                            <select title="">
                                <option>淮南市</option>
                                <option>苏州市</option>
                                <option>杭州市</option>
                            </select>
                            <em>市</em>
                            <select title="">
                                <option>姑苏区</option>
                                <option>吴中区</option>
                                <option>园区</option>
                            </select>
                            <em>区</em>
                        </div><!--personal_form_list-->
                        <a class="personal_submit" href="javascript:;">提交</a>
                    </div><!--personal_form-->
                </form>
            </div><!--personal_content-->
            <div class="update_head hide clearfix">

                <div class="update_head_left fl">
                    <form>
                        <div class="local_update">
                            <a class="update_img" href="javascript:;">
                                <img src="css/img/personal_camera.png">本地上传
                            </a>
                            <a class="spot_shoot" href="javascript:;">
                                <img src="css/img/personal_shoot.png">现场拍摄
                            </a>
                        </div><!--local_update-->
                        <p class="only_support">仅支持JPG、GIF、PNG、BMP格式，文件小于4M</p>
                        <div class="imgWrap"></div><!--imgWrap-->
                        <p class="recommend_head">推荐头像</p>
                        <div class="head_wrap clearfix">
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head1.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head2.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head3.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head4.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head5.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head6.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head7.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head8.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head9.png">
                            </a>
                            <a class="fl" href="javascript:;">
                                <img src="css/img/head10.png">
                            </a>
                        </div><!--head_wrap-->
                        <a class="head_submit" href="javascript:;">提交</a>
                    </form>
                </div><!--update_head_left-->

                <div class="update_head_right fr">
                    <div class="head_right_title">
                        <p class="preview_result">效果预览</p>
                        <p class="result_detail">你上传的图片会自动生成2种尺寸，请注意小尺寸的头像是否清晰</p>
                    </div><!--head_right_title-->
                    <div class="result_100"></div><!--result_100-->
                    <p class="p_100">100x100像素（px）</p>
                    <div class="result_50"></div><!--result_50-->
                    <p class="p_100">50x50像素（px）</p>
                </div><!--update_head_right-->
            </div><!--update_head-->
        </div><!--works_content-->
    </div><!--right_content_wrap-->
</div><!--user_right-->