<div id="gonglve_title" gonglve_title></div>
<div id="decoration_pedia">
    <div class="pediacnt clearfix">
        <!-- 搜索功能start -->
        <!--<div class="search_box">
            <input type="text" name="search_content" class="search_content">
            <input type="button" name="search_btn" class="search_btn" value="搜索">
        </div>-->
        <!-- 搜索功能end -->
        <!-- 百科内容start -->
        <div class="pedia_content clearfix">
            <!-- 左侧导航start -->
            <div class="left_bar">
                <ul class="bar_content">
                    <a class="bar_list" ng-repeat="x in names" ng-click="barTab(x.cate_describe,x.id,x.cate_name)" id="{{x.id}}"
                       ng-class="$first ? 'active' : ''">
                        <div>
                            <li>{{x.cate_name}}</li>
                        </div>
                        <div class="border_line"></div>
                    </a>
                </ul>
            </div>
            <!-- 左侧导航end -->
            <!-- 右侧内容start -->
            <div class="right_content" id="right_content">
                <div class="right_title">
                    <h2></h2>
                </div>
                <!--<ul class="right_detail">
                    <a class="detail_article" href="gonglve_detail.html#/detail?id={{a.id}}" ng-repeat="a in lists" target="_blank">
                        <li>{{a.article_title}}</li>
                    </a>
                </ul>-->
                <div class="right_wrap"></div><!--right_wrap-->
                <!-- 页码start -->
                <div class="page_number">
                    <div style="display: inline-block;text-align: left">
                        <div class="page_div3 clearfix"></div>
                    </div>
                </div>
                <!-- 页码end -->
            </div>
            <!-- 右侧内容end -->
        </div>
        <!-- 百科内容end -->
    </div>
</div>