<div class="gonglve_detail">
    <div class="now_location">
        <a href="#nogo"><img src="css/img/icon-toindex.png"></a>
        <span>&gt;</span>
        <span>家装百科</span>
        <span>&gt;</span>
        <span class="stage">开工前准备阶段</span>
        <span>&gt;</span>
        <span class="attention">选择装修公司注意事项</span>
    </div>
    <div class="gonglve_content_wrap">
        <div class="gonglve_title"></div><!--gonglve_title-->
        <div class="gonglve_content">

        </div><!--gonglve_content-->
    </div><!--gonglve_content_wrap-->
</div><!--gonglve_detail-->