<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>嘿吼网|我能帮您解决</title>
		<link rel="icon" href="../../icon.png" type="image/x-icon">
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/c_register/register.css" />
		<script type="text/javascript" src="../../lib/jquery/jquery-1.11.3.js" ></script>
		<script type="text/javascript" src="../../js/j_register/j_register.js" ></script>
	</head>
	<body>
		<div class="container">
			<!-- 主体开始  -->
			<div class="main">
				<!-- 导航标签start -->
				<ul class="tab">
					<li class="tab_click_register"><div>注册</div></li>
					<li class="tab_click_login active"><div>登录</div></li>
				</ul>
				<!-- 导航标签end -->
				
				<!-- logo标题start -->
				<div class="main_header">
					<a href="index.html"><h1 class="logo"></h1></a>
					<h2 class="logo_text">欢迎回来!</h2>
				</div>
				<!-- logo标题end -->
				
				<!-- 文字说明start -->
				<div class="logo_title">
					<img src="../../image/login.png">
				</div>
				<!-- 文字说明end -->
				
				<!-- 注册start -->
				<div class="register display">
					<div class="registerItem">
						<img src="../../css/img/icon-phone.png">
						<span>|</span>
						<input class="zc_phone" type="text" name="phone" placeholder="请输入您的手机号" />
						<label class="error"></label>
					</div>
					<div class="registerItem">
						<img src="../../css/img/icon-psw.png">
						<span>|</span>
						<input class="zc_password" type="password" name="password" placeholder="请输入您的密码" />
						<label class="error"></label>
					</div>
					<div class="registerItem">
						<img src="../../css/img/icon-password.png">
						<span>|</span>
						<input class="zc_sure_password" type="password" name="surepassword" placeholder="请在此输入您的密码" />
						<label class="error"></label>
					</div>
					<div class="registerItem registerLeft">
						<img src="../../css/img/icon-code.png">
						<span>|</span>
						<input class="zc_codes" type="text" name="codes" placeholder="请输入验证码" />
						<label class="error"></label>
					</div>
					<div class="registerRight">
						<input class="zc_btnSendCode" type="button" name="btnSendCode" value="获取验证码" />
					</div>
				</div>
				<!-- 注册end -->
				
				<!--登录start-->
				<div class="login">
					<div class="registerItem">
						<img src="../../css/img/icon-phone.png">
						<span>|</span>
						<input class="zc_phone" type="text" name="phone" placeholder="请输入您的手机号" />
						<label class="error"></label>
					</div>
					<div class="registerItem">
						<img src="../../css/img/icon-password.png">
						<span>|</span>
						<input class="zc_password" type="password" name="password" placeholder="请输入您的密码" />
						<label class="error"></label>
					</div>
					<div class="do_password">
						<div class="remerber_password">
							<input class="remember" type="checkbox" name="remember">
							<span>记住密码</span>
						</div>
						<div class="forget_password">
							<a href="#" class="forfet">忘记密码&gt;&gt;</a>
						</div>
					</div>
				</div>
				<!-- 登录end -->
				
				<!-- 提交按钮start -->
				<div class="promptly">
					<input class="promptly_do" type="button" value="立即登录">
				</div>
				<!-- 提交按钮end -->
				
				<!-- 第三方登录start -->
				<div class="third_login">
					<div class="qq">
						<img src="../../image/icon-qq.png" title="QQ登录">
					</div>
					<div class="wechat">
						<img src="../../image/icon-weixin.png" title="微信登录">
					</div>
				</div>
				<!-- 第三方登录end-->
			</div>
			<!-- 主体结束  -->
			
			<!-- 底部开始  -->
			<div class="footer">
				<span>&copy;2016  苏州嗨吼网络科技有限公司</span>
				<span class="footer_split">|</span>
				<a href="#nogo">联系我们</a>
				<span class="footer_split">|</span>
				<a href="#nogo">来嗨吼工作</a>
				<span class="footer_split">|</span>
				<span>苏ICP备16006492号</span>
			</div>
			<!-- 底部结束  -->
		</div>
	</body>
</html>
