/* 公共样式 */
body {
    font-family: FZLTHJW
}

/* 私有样式 */
/* 左边导航开始 */
#selfcenter_top .now_location {
	width: 1190px;
	height: 17px;
	color: #656565;
	font-family: FZLTHJW;
	font-size: 14px;
	margin: 20px auto
}

.master_user_wrap {
    width: 1190px;
    height: auto;
    margin: 0 auto
}

.user_left {
    width: 304px;
    height: 682px;
    float: left;
    background: url("../../css/img/left_bg.png") no-repeat;
    border-radius: 4px
}

.left_ul {
    margin: 125px 60px 67px
}

.left_ul li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 15px 0;
    /*background:-webkit-radial-gradient(186px 1px at 93px 0.5px, #4b4a48, hsla(0, 0%, 100%, 0)) ;
    background:-moz-radial-gradient(186px 1px at 93px 0.5px, #4b4a48, hsla(0, 0%, 100%, 0)) ;
    background:-ms-radial-gradient(186px 1px at 93px 0.5px, #4b4a48, hsla(0, 0%, 100%, 0)) ;
    background:radial-gradient(186px 1px at 93px 0.5px, #4b4a48, hsla(0, 0%, 100%, 0)) ;
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: 0 100%;*/
    background: linear-gradient(to right, rgb(75, 75, 75) 20%, rgba(64, 64, 64, 0.6) 0, rgba(64, 64, 64, 0.6) 80%, rgb(75, 75, 75) 0);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 100%
}

.left_ul li:last-child {
    background: none
}

.left_ul li a:hover {
    color: #EEC988
}

.left_ul li a:hover span {
    color: #EEC988
}

.left_ul .active .a_content {
    color: #EEC988 !important
}

.left_ul .active .a_content span {
    color: #EEC988 !important
}

.left_ul li .a_content {
    color: #404040;
    font-size: 16px;
    width: 182px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px
}

.left_ul li .a_content span {
    color: #525252
}

/* 左边导航结束 */

#user_right {
	float: right
}

.right_title {
    height: 53px;
    line-height: 53px;
    background-color: #525252;
    border-radius: 5px
}

.right_title span {
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 29px
}

.content_wrap {
	border-radius: 5px;
    border: 1px solid #cdcdcd;
    border-top: none
}

.right_content {
	padding: 50px 20px
}

.order_title {
	width: 825px;
	height: 25px;
	line-height: 25px;
	margin-bottom: 16px
}

.order_title div {
	display: inline-block;
	font-size: 14px
}

.order_title div:nth-child(1) {
	margin-left: 60px
}

.order_title div:nth-child(2) {
	margin-left: 105px
}

.order_title div:nth-child(3) {
	margin-left: 75px
}

.order_title div:nth-child(4) {
	margin-left: 85px
}

.order_title div:nth-child(5) {
	margin-left: 60px
}

.order_title div:nth-child(6) {
	margin-left: 64px
}

.order_title div:nth-child(7) {
	position: relative;
	cursor: pointer;
	margin-left: 7px
}

.order_title div:nth-child(7):after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 8px solid #000000;
	position: absolute;
	top: -8px
}

.item_hover_0:after {
	transform: rotate(0deg);
    transition: transform 0.3s
}

.item_hover_180:after {
	transform: rotate(180deg);
    transition: transform 0.3s
}

.order_title div:nth-child(7) ul {
	position: absolute;
	width: 80px;
	border: 1px solid #E69628;
	color: #EEC988;
	left: -32px;
	top: 9px;
	text-align: center
}

.order_title div:nth-child(7) ul li:hover {
	background-color: #A2A2A2
}

.order_content .order_box {
	border: 1px solid #cdcdcd;
	margin-bottom: 20px;
	border-radius: 2px
}

.order_content .order_box .ordercnt_title {
	width: 823px;
	height: 34px;
	line-height: 34px;
	background-color: #979797;
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 14px
}

.order_content .order_box .ordercnt_title span {
	display: block;
	float: left
}

.order_content .order_box .ordercnt_title span:nth-child(1) {
	margin-left: 30px
}

.order_content .order_box .ordercnt_title span:nth-child(2) {
	margin-left: 70px
}

.order_content .order_box .ordercnt_title span:nth-child(3) {
	margin-left: 5px
}

.order_content .order_box .ordercnt_title span:nth-child(4) {
	position: relative;
	margin-left: 145px
}

.order_content .order_box .ordercnt_title span:nth-child(4):before {
	position: absolute;
	content: url(../img/icon-store.png);
	width: 14px;
	height: 12px;
	left: -22px;
	top: 1px;
	display: block
}

.order_content .order_box .ordercnt_title span:nth-child(5) {
	width: 17px;
	height: 17px;
	float: right;
	cursor: pointer;
	background: url(../img/icon-delete.png);
	margin: 8px 61px 0 0
}

.order_box .ordercnt_content .block {
	height: 123px
}

.order_box .ordercnt_content .block>div {
	float: left;
	text-align: center;
	color: #4B4948;
	font-size: 14px
}

.order_box .ordercnt_content .block .address {
	width: 156px;
	text-align: left;
	margin: 41px 25px 42px 25px
}

.order_box .ordercnt_content .block .area {
	width: 75px;
	height: 123px;
	position: relative;
	background-color: #F3F3F3;
	margin: 0 10px;
	border-radius: 2px
}

.order_box .ordercnt_content .block .area p {
	position: relative;
	padding: 46px 0 44px 0
}

.order_box .ordercnt_content .block .area p:after {
	content: "";
	width: 0;
	height: 0;
	display: block;
	cursor: pointer;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 12px solid #000000;
	position: absolute;
	top: 85px;
	left: 30px
}

.order_box .ordercnt_content .block .now_stage {
	width: 110px;
	margin: 52px 30px 51px 30px
}

.order_box .ordercnt_content .block .money {
	width: 80px;
	margin: 52px 20px 51px 20px
}

.order_box .ordercnt_content .block .trade_stage {
	width: 56px;
	height: 123px;
	position: relative;
	margin: 0px 15px 0px 15px
}

.order_box .ordercnt_content .block .trade_stage p:first-child {
	position: absolute;
	top: 50%;
	margin-top: -14px
}

.order_box .ordercnt_content .block .trade_stage p:last-child {
	position: absolute;
	top: 50%;
	margin-top: 4px
}

.order_box .ordercnt_content .block .all {
	margin: 22px 25px 22px 25px
}

.order_box .ordercnt_content .block .all a {
	display: block;
	width: 96px;
	height: 37px;
	line-height: 37px;
	background-color: #EEC988;
	color: #FFFFFF;
	margin-bottom: 6px;
	border-radius: 2px;
	text-align: center
}

.order_box .ordercnt_content .block .all a:hover {
	transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background-color: #E88226
}

.order_box .ordercnt_content .block .all input {
	width: 96px;
	height: 37px;
	text-align: center;
	line-height: 37px;
	cursor: pointer;
	background-color: #FFFFFF;
	color: #EEC988;
	font-size: 14px;
	border-radius: 2px;
	border: 1px solid #EEC988
}

.order_box .ordercnt_content .block .all input:hover {
	color: #363636;
	background-color: #EEC988;
	transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear
}

.order_box .ordercnt_content .hide {
	width: 760px;
	margin: 0 auto;
	border: 1px solid #EFEFEF
}

.order_box .ordercnt_content .hide p:first-child {
	font-size: 14px;
	color: #4B4948
}

.order_box .ordercnt_content .hide p:last-child {
	font-size: 12px;
	color: #4B4948
}

.button {
	position: relative
}

.button input:first-child {
	width: 14px;
	height: 14px
}

.button label {
	position: absolute;
	cursor: pointer;
	left: 21px;
	font-size: 14px
}

.button input:last-child {
	width: 71px;
	height: 22px;
	color: #4B4948;
	background-color: #FFFFFF;
	border: 1px solid #D0D0D0;
	margin-left: 40px;
	cursor: pointer;
	text-align: center;
	border-radius: 2px;
	font-size: 14px
}
