/* 公共样式 */
.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@font-face {
    font-family: 'iconfont';  /* project id："158259" */
    src: url('//at.alicdn.com/t/font_xzen7czhu5g919k9.eot');
    src: url('//at.alicdn.com/t/font_xzen7czhu5g919k9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_xzen7czhu5g919k9.woff') format('woff'),
    url('//at.alicdn.com/t/font_xzen7czhu5g919k9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_xzen7czhu5g919k9.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 20px
}

/* 私有样式 */
/* 左边导航开始 */
#selfcenter_top .now_location {
    width: 1190px;
    height: 17px;
    color: #656565;
    font-family: FZLTHJW;
    font-size: 14px;
    margin: 20px auto
}

.master_user_wrap {
    width: 1190px;
    height: auto;
    margin: 0 auto;
}

.master_user_wrap {
    margin-bottom: 107px;
}

.user_left {
    width: 304px;
    height: 898px;
    background: url("../../css/img/master_left_bg.png") no-repeat;
    border-radius: 4px;
}

.left_ul {
    margin: 120px 60px 110px;
}

.left_ul li {
    height: 70px;
    line-height: 70px;
    text-align: center;
    /*padding: 15px 0;*/
    /*background:-webkit-radial-gradient(186px 1px at 93px 0.5px, #4b4a48, hsla(0, 0%, 100%, 0)) ;
    background:-moz-radial-gradient(186px 1px at 93px 0.5px, #4b4a48, hsla(0, 0%, 100%, 0)) ;
    background:-ms-radial-gradient(186px 1px at 93px 0.5px, #4b4a48, hsla(0, 0%, 100%, 0)) ;
    background:radial-gradient(186px 1px at 93px 0.5px, #4b4a48, hsla(0, 0%, 100%, 0)) ;
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: 0 100%;*/
    background: linear-gradient(to right, rgb(75, 75, 75) 20%, rgba(64, 64, 64, 0.6) 0, rgba(64, 64, 64, 0.6) 80%, rgb(75, 75, 75) 0);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.left_ul li:last-child {
    background: none;
}

.left_ul li a:hover {
    transition: all .20s ease 0s;
    -webkit-transition: all .20s ease 0s;
    -moz-transition: all .20s ease 0s;
    -ms-transition: all .20s ease 0s;
    color: #EEC988;
}

.left_ul li a:hover span {
    transition: all .20s ease 0s;
    -webkit-transition: all .20s ease 0s;
    -moz-transition: all .20s ease 0s;
    -ms-transition: all .20s ease 0s;
    color: #EEC988;
}

.left_ul .left_active .a_content {
    color: #EEC988 !important;
}

.left_ul .left_active .a_content span {
    color: #EEC988 !important;
}

.left_ul li .a_content {
    color: #404040;
    font-size: 16px;
    width: 182px;
    height: 70px;
    display: block;
    text-align: center;
    line-height: 70px;
}

.left_ul li .a_content span {
    color: #525252;
}

/* 右边头部 */
.right_title {
    height: 53px;
    line-height: 53px;
    background-color: #525252;
    border-radius: 5px;
}

.right_title span {
    font-size: 16px;
    color: white;
    margin-left: 29px;
}

/* 右边边框 */
.right_content_wrap {
    height: 845px;
    border: 1px solid #cdcdcd;
    border-top: none;
}

/* 左边导航结束 */

/* 右边内容开始 */
.user_right {
    width: 872px;
    height: 898px;
}

.right_top {
    height: 300px;
    border: 1px solid white;
}

.top_head {
    height: 114px;
    width: 113px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px dashed #eec988;
    position: relative;
    margin-top: 14px;
}

.top_head_border {
    width: 103px;
    height: 103px;
    background-color: #eec988;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 5px;
}

.head {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 6px;
}

.head img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.store_name {
    text-align: center;
    margin-top: 13px;
}

.store_name span {
    font-size: 16px;
    color: #4b4948;
}

.store_name .real_name, .store_name .safe_name {
    display: inline-block;
    vertical-align: top;

}

.store_name .real_name {
    width: 19px;
    height: 18px;
    background: url("../../css/img/real_name.png") no-repeat;
    margin-left: 13px;
    margin-right: 15px;
}

.store_name .safe_name {
    width: 16px;
    height: 20px;
    background: url("../../css/img/safe_name.png") no-repeat;
}

.enter_storeWrap {
    width: 98px;
    height: 31px;
    margin: 0 auto;
}

.enter_storeWrap {
    margin-top: 16px;
}

.enter_storeWrap .enter_store {
    width: 98px;
    height: 31px;
    line-height: 33px;
    text-align: center;
    display: inline-block;
    border: 1px solid #eec988;
    color: #eec988;
    font-size: 14px;
}

.enter_storeWrap .enter_store:hover {
    background-color: #eec988;
    color: white;
}

.title_right {
    width: 380px;
    margin: 0 auto;
}

.title_right {
    margin-top: 28px;
}

.title_email {
    border-right: 1px solid #d9d9d9;
}

.title_right img {
    width: 43px;
    height: 43px;
    margin-right: 10px;
}

.email_bind {
    font-size: 14px;
    font-weight: bold;
    color: #4b4948;
}

.title_right span {
    color: #c1c1c1;
    margin-right: 10px;
}

.title_right a {
    color: #e88226;
}

.title_tel {
    margin-left: 40px;
}

.title_email {
    width: 182px;
    height: 44px;
}

.title_tel {
    width: 150px;
    height: 44px;
}

.fr_safe {
    margin-top: -120px;
}

.level_p {
    font-size: 14px;
    margin-top: 5px;
    color: #4b4948;
}

.safe_level {
    width: 142px;
    height: 5px;
    background-color: #ececec;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.active_level {
    width: 46px;
    height: 5px;
    background-color: #EEC988;
    border-radius: 5px;
}

.safe_name span {
    width: 46px;
    display: inline-block;
    text-align: center;
    color: #c7c7c7;
}

.safe_name .active_name {
    color: #EEC988;
}

.right_center {
    height: 250px;
    position: relative;
}

.center_bg_wrap {
    background: url("../../css/img/center_bg.png") no-repeat;
}

.center_bg {
    width: 872px;
    height: 174px;
    background-color: black;
    opacity: 0.5;
}

.engineering {
    width: 141px;
    height: 158px;
    background-color: white;
    position: absolute;
    top: 54px;
    box-shadow: 0 0 16px #939393;
}

.engineering:hover {
    cursor: pointer;
}

.first_engine {
    left: 43px;
}

.second_engine {
    left: 203px;
}

.three_engine {
    left: 364px;
}

.four_engine {
    left: 524px;
}

.five_engine {
    left: 685px;
}

.engineering img {

}

.engine_img {
    margin-top: 22px;
    text-align: center;
    height: 45px;
}

.engineering .quality_project {
    text-align: center;
    font-size: 14px;
    color: #4b4948;
    margin-top: 10px;
}

.engineering .score {
    text-align: center;
    margin-top: 14px;
    color: #4b4948;
}

.engineering .score span {
    font-size: 18px;
    color: #E88226;
    font-weight: bold;
    margin-right: 4px;
}

.bottom_team {
    width: 363px;
    height: 269px;
    background: url("../../css/img/bottom_team_bg.png") no-repeat -40px 100px;
    margin-left: 43px;
    box-shadow: 0 0 16px #939393;
    border: 1px solid white;
}

.bottom_order {
    background: url("../../css/img/bottom_order_bg.png") no-repeat 225px 120px;
    margin-left: 53px;
}

.bottom_team .home_team_img {
    margin-top: 43px;
    text-align: center;
}

.bottom_team .home_team_img img {

}

.bottom_team .home_team_img span {
    font-size: 16px;
    color: #4b4948;
}

.bottom_team .team_name {
    text-align: center;
    font-size: 14px;
    font-family: Verdana;
    margin-top: 7px;
}

.bottom_team .team_person {
    text-align: center;
    font-size: 14px;
    margin-top: 52px;
}

.bottom_team .team_person span {
    font-size: 18px;
    color: #e88226;
    font-weight: bold;
    margin-right: 4px;
}

.order_a {
    width: 110px;
    height: 113px;
    display: inline-block;
    margin-left: 71px;
    margin-top: 35px;
    text-align: center;
    background: url("../../css/img/line_order.png") no-repeat right top;
    padding-top: 14px;
    box-sizing: border-box;
}

.not_complete {
    background: none;
    margin-left: 0;
}

.order_a span {
    display: block;
    font-size: 14px;
    color: #4b4948;
}

.order_a .span_active {
    font-size: 18px;
    color: #e88226;
    margin-top: 30px;
    font-weight: bold;
}

/* 右边内容结束 */