#user_right {
    float: right
}

.right_title span {
    font-size: 16px;
    color: white;
    margin-left: 29px
}

.content_wrap {
    border-radius: 5px;
    height: 898px;
    margin-right: 50px
}

.right_content {
    padding: 50px 134px 50px 83px;
    border: 1px solid #cdcdcd;
    border-top: none
}

.security_top .security_score {
    padding-left: 9px;
    border-left: 3px solid #EEC988;
    height: 23px;
    line-height: 23px;
    color: #4B4948;
    font-size: 14px;
    position: relative;
    margin-bottom: 15px
}

.security_top .security_score i {
    display: inline-block;
    width: 24px;
    height: 23px;
    background: url(../img/icon-lstar.png);
}

.security_top .security_score i:last-of-type {
    background: url(../img/icon-astar.png);
}

.security_top .security_score .number {
    color: #E88226;
    font-size: 20px;
    font-weight: bold;
    font-family: FZLTDHK
}

.security_top .security_score .star {
    width: 150px;
    height: 23px;
    margin-left: 64px
}

.security_top .security_score .font {
    position: absolute;
    text-shadow: 2px 3px 5px #D0D0D0;
    left: 9px
}

.security_top .security_score .number {
    position: absolute;
    right: 380px;
    top: 0
}

.security_top .security_score .mark {
    position: absolute;
    right: 360px;
    top: 0
}

.security_top ul li {
    display: block;
    position: relative;
    width: 646px;
    padding: 28px 0;
    border-bottom: 1px dashed #D0D0D0;
    height: 40px
}

.security_top ul li:nth-child(1) em {
    display: inline-block;
    position: absolute;
    top: 40px;
    width: 24px;
    height: 18px;
    margin-right: 12px;
    background: url(../img/icon-id.png)
}

.security_top ul li:nth-child(1) em:after {
    content: "身份验证";
    width: 56px;
    height: 18px;
    color: #4B4948;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 39px
}

.security_top ul li:nth-child(2) em {
    display: inline-block;
    position: absolute;
    top: 35px;
    width: 18px;
    height: 24px;
    margin-right: 18px;
    background: url(../img/icon-gpassword.png)
}

.security_top ul li:nth-child(2) em:after {
    content: "修改密码";
    width: 56px;
    height: 18px;
    color: #4B4948;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 39px
}

.security_top ul li:nth-child(3) em {
    display: inline-block;
    width: 17px;
    height: 27px;
    position: absolute;
    top: 32px;
    margin-right: 19px;
    background: url(../img/icon-bphone.png)
}

.security_top ul li:nth-child(3) em:after {
    content: "绑定手机";
    width: 56px;
    height: 18px;
    color: #4B4948;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 39px
}

.security_top ul li:nth-child(4) em {
    display: inline-block;
    width: 24px;
    height: 18px;
    position: absolute;
    top: 40px;
    margin-right: 12px;
    background: url(../img/icon-bemail.png)
}

.security_top ul li:nth-child(4) em:after {
    content: "绑定邮箱";
    width: 56px;
    height: 18px;
    color: #4B4948;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 39px
}

.security_top ul li p {
    display: inline-block;
    font-size: 14px;
    color: #4B4948;
    width: 365px;
    margin-left: 120px
}

.security_top ul li a {
    display: block;
    width: 97px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #EEC988;
    color: #EEC988;
    font-size: 14px;
    border-radius: 2px;
    margin: 3px 0;
    float: right
}

.security_bottom {
    margin-top: 58px
}

.security_bottom .login_history h3 {
    padding-left: 9px;
    border-left: 3px solid #EEC988;
    color: #4B4948;
    font-size: 14px;
    margin-bottom: 13px;
    text-shadow: 2px 3px 5px #D0D0D0
}

.security_bottom .login_history p {
    color: #4B4948;
    font-size: 14px;
    padding-left: 14px;
    margin-bottom: 13px
}

.security_bottom .login_history p span {
    font-weight: bold;
    text-shadow: 2px 3px 5px #D0D0D0
}

.security_bottom .login_history p a {
    margin-left: 15px;
    color: #E88226
}

.security_bottom .login_note {
    width: 671px;
    height: 81px;
    border: 1px solid #D0D0D0
}

.security_bottom .login_note h3 {
    background-color: #CECECE;
    line-height: 32px;
    height: 32px
}

.security_bottom .login_note p {
    line-height: 58px;
    height: 58px
}


.security_bottom .login_note span {
    display: inline-block;
    width: 104px;
    text-align: center;
    color: #4B4948;
    font-size: 14px;
}