<div class="user_right fr">
    <div class="right_title">
        <span>我的收藏 &nbsp;&nbsp;&nbsp;MY COLLECTION</span>
    </div><!--right_title-->
    <div class="right_content_wrap">
        <div class="works_content collection_content">
            <div id="works_content_title" class="works_content_title clearfix">
                <div class="title_complete fl">效果图</div>
                <div class="title_pending fl">结账清单</div>
                <div class="title_pending fl">店铺</div>
                <div id="title_active" class="title_active"></div><!--title_active-->
            </div><!--works_content_title-->
            <div class="works_complete_wrap">
                <div class="complete_before clearfix">
                    <div class="works_detail works_detail_first fl complete_img">
                        <a class="complete_del" href="javascript:;">
                            <img src="css/img/my_work_del.png">
                        </a>
                        <div class="detail_img">
                            <img src="css/img/my_work1.jpg">
                        </div><!--detail_img-->
                        <div class="complete_bg"></div><!--complete_bg-->
                        <span>新中式风格</span>
                        <div class="bg"></div>
                    </div><!--works_detail-->
                    <div class="works_detail fl complete_img">
                        <a class="complete_del" href="javascript:;">
                            <img src="css/img/my_work_del.png">
                        </a>
                        <div class="detail_img">
                            <img src="css/img/my_work2.jpg">
                        </div><!--detail_img-->
                        <div class="complete_bg"></div><!--complete_bg-->
                        <span>简欧式风格</span>
                        <div class="bg"></div>
                    </div><!--works_detail-->
                    <div class="new_album works_new_album fl">
                        <img src="css/img/team_plus.png">
                        <p>添加新的作品</p>
                    </div><!--new_album-->
                </div><!--complete_before-->
                <div class="check_list_wrap hide">
                    <div class="check_list">
                        <div class="check_list_title">
                            <span class="village_name">小区名称</span>
                            <span class="covered_area">建筑面积</span>
                            <span class="room_number">厅数</span>
                            <span class="room">房间</span>
                            <span class="toilet">卫生间</span>
                            <span class="balcony">阳台</span>
                            <span class="clearing_time">结算时间</span>
                            <a class="collection_del" href="javascript:;">
                                <img src="css/img/my_work_del.png">
                            </a>
                        </div><!--check_list_title-->
                        <div class="check_list_content">
                            <span class="village_name">丽晶湾</span>
                            <span class="covered_area"><i>120</i>m<sup>2</sup></span>
                            <span class="room_number">2</span>
                            <span class="room">3</span>
                            <span class="toilet">2</span>
                            <span class="balcony">1</span>
                            <span class="clearing_time">2015.11.23</span>
                            <a class="collection_detail" href="javascript:;">查看详情</a>
                        </div><!--check_list_content-->
                    </div><!--check_list-->
                    <div class="check_list">
                        <div class="check_list_title">
                            <span class="village_name">小区名称</span>
                            <span class="covered_area">建筑面积</span>
                            <span class="room_number">厅数</span>
                            <span class="room">房间</span>
                            <span class="toilet">卫生间</span>
                            <span class="balcony">阳台</span>
                            <span class="clearing_time">结算时间</span>
                            <a class="collection_del" href="javascript:;">
                                <img src="css/img/my_work_del.png">
                            </a>
                        </div><!--check_list_title-->
                        <div class="check_list_content">
                            <span class="village_name">万水兰亭</span>
                            <span class="covered_area"><i>100</i>m<sup>2</sup></span>
                            <span class="room_number">1</span>
                            <span class="room">2</span>
                            <span class="toilet">1</span>
                            <span class="balcony">1</span>
                            <span class="clearing_time">2016.8.10</span>
                            <a class="collection_detail" href="javascript:;">查看详情</a>
                        </div><!--check_list_content-->
                    </div><!--check_list-->
                </div><!--check_list_wrap-->
                <div class="collection_shop_wrap hide">
                    <div class="collection_shop clearfix">
                        <div class="left_img fl">
                            <img src="css/img/bigshop-1.png">
                        </div><!--left_img-->
                        <div class="left_detail fl">
                            <p class="manager_shop">怡馨苑项目经理店铺<i class="iconfont first_i">&#xe687;</i><i
                                    class="iconfont">&#xe603;</i></p>
                            <p>常驻地址：<span>江苏省苏州市吴中区</span></p>
                            <p>服务范围：<span>苏州市姑苏区附近</span></p>
                            <p class="shop_evaluation">
                                <a class="eyes" href="javascript:;">
                                    <i class="iconfont">&#xe69c;</i><span>14689</span>
                                </a>
                                <a class="shake_hands" href="javascript:;">
                                    <i class="iconfont">&#xe626;</i><span>2547</span>
                                </a>
                            </p>
                        </div><!--left_detail-->
                        <div class="collection_shop_right fr">
                            <div class="shop_quality_wrap fl">
                                <p class="shop_quality">工程质量<span>8.5</span>分</p>
                                <p>服务态度<span>7</span>分</p>
                                <p>综合评价<span>9</span>分</p>
                            </div><!--shop_quality_wrap-->
                            <a class="collection_shop_del fl" href="javascript:;">
                                <img src="css/img/collection_shop_del.png">
                            </a>
                        </div><!--collection_shop_right-->
                    </div><!--collection_shop-->
                    <div class="collection_shop clearfix">
                        <div class="left_img fl">
                            <img src="css/img/bigshop-1.png">
                        </div><!--left_img-->
                        <div class="left_detail fl">
                            <p class="manager_shop">怡馨苑项目经理店铺<i class="iconfont first_i">&#xe687;</i><i
                                    class="iconfont">&#xe603;</i></p>
                            <p>常驻地址：<span>江苏省苏州市吴中区</span></p>
                            <p>服务范围：<span>苏州市姑苏区附近</span></p>
                            <p class="shop_evaluation">
                                <a class="eyes" href="javascript:;">
                                    <i class="iconfont">&#xe69c;</i><span>14689</span>
                                </a>
                                <a class="shake_hands" href="javascript:;">
                                    <i class="iconfont">&#xe626;</i><span>2547</span>
                                </a>
                            </p>
                        </div><!--left_detail-->
                        <div class="collection_shop_right fr">
                            <div class="shop_quality_wrap fl">
                                <p class="shop_quality">工程质量<span>8.5</span>分</p>
                                <p>服务态度<span>7</span>分</p>
                                <p>综合评价<span>9</span>分</p>
                            </div><!--shop_quality_wrap-->
                            <a class="collection_shop_del fl" href="javascript:;">
                                <img src="css/img/collection_shop_del.png">
                            </a>
                        </div><!--collection_shop_right-->
                    </div><!--collection_shop-->
                    <div class="collection_shop clearfix">
                        <div class="left_img fl">
                            <img src="css/img/bigshop-1.png">
                        </div><!--left_img-->
                        <div class="left_detail fl">
                            <p class="manager_shop">怡馨苑项目经理店铺<i class="iconfont first_i">&#xe687;</i><i
                                    class="iconfont">&#xe603;</i></p>
                            <p>常驻地址：<span>江苏省苏州市吴中区</span></p>
                            <p>服务范围：<span>苏州市姑苏区附近</span></p>
                            <p class="shop_evaluation">
                                <a class="eyes" href="javascript:;">
                                    <i class="iconfont">&#xe69c;</i><span>14689</span>
                                </a>
                                <a class="shake_hands" href="javascript:;">
                                    <i class="iconfont">&#xe626;</i><span>2547</span>
                                </a>
                            </p>
                        </div><!--left_detail-->
                        <div class="collection_shop_right fr">
                            <div class="shop_quality_wrap fl">
                                <p class="shop_quality">工程质量<span>8.5</span>分</p>
                                <p>服务态度<span>7</span>分</p>
                                <p>综合评价<span>9</span>分</p>
                            </div><!--shop_quality_wrap-->
                            <a class="collection_shop_del fl" href="javascript:;">
                                <img src="css/img/collection_shop_del.png">
                            </a>
                        </div><!--collection_shop_right-->
                    </div><!--collection_shop-->
                    <div class="collection_shop clearfix">
                        <div class="left_img fl">
                            <img src="css/img/bigshop-1.png">
                        </div><!--left_img-->
                        <div class="left_detail fl">
                            <p class="manager_shop">怡馨苑项目经理店铺<i class="iconfont first_i">&#xe687;</i><i
                                    class="iconfont">&#xe603;</i></p>
                            <p>常驻地址：<span>江苏省苏州市吴中区</span></p>
                            <p>服务范围：<span>苏州市姑苏区附近</span></p>
                            <p class="shop_evaluation">
                                <a class="eyes" href="javascript:;">
                                    <i class="iconfont">&#xe69c;</i><span>14689</span>
                                </a>
                                <a class="shake_hands" href="javascript:;">
                                    <i class="iconfont">&#xe626;</i><span>2547</span>
                                </a>
                            </p>
                        </div><!--left_detail-->
                        <div class="collection_shop_right fr">
                            <div class="shop_quality_wrap fl">
                                <p class="shop_quality">工程质量<span>8.5</span>分</p>
                                <p>服务态度<span>7</span>分</p>
                                <p>综合评价<span>9</span>分</p>
                            </div><!--shop_quality_wrap-->
                            <a class="collection_shop_del fl" href="javascript:;">
                                <img src="css/img/collection_shop_del.png">
                            </a>
                        </div><!--collection_shop_right-->
                    </div><!--collection_shop-->
                    <div class="information_choose">
                        <input title="" type="checkbox">
                        <span>全选</span>
                        <a href="javascript:;">批量删除</a>
                    </div><!--information_choose-->
                </div><!--collection_shop_wrap-->
            </div><!--works_complete_wrap-->
        </div><!--works_content-->
    </div><!--right_content_wrap-->
</div><!--user_right-->