body {
    font-family: "微软雅黑";
}

.paymentList_wrap {
    width: 1190px;
    height: auto;
    margin: 0 auto;
    border: 1px solid white;
}

.paymentList_wrap .contact_top {
    width: 651px;
    height: 99px;
    background: url(../img/start/start_top3.png) no-repeat;
    margin: 0 auto;
    margin-top: 20px;
}

.paymentList_wrap .paymentList_cont {
    border: 1px solid #eee;
    background-color: #fff;
    min-height: 680px;
    padding: 20px 18px;
    margin-top: 49px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.paymentList_wrap .paymentList_cont h3 {
    border-bottom: 2px solid #f4f4f4;
    padding: 0 20px 11px;
    font-size: 16px;
}

.paymentList_wrap .paymentList_cont .titlelist {
    margin-top: 12px;
    padding: 0 90px;
    /*border: 1px solid #f8e5bb;*/
    border: 1px solid #EEC988;
    background-color: #fefdee;
    color: #999;
    font-size: 14px;
}

.paymentList_wrap .paymentList_cont .titlelist ul {
    position: relative;
    display: block;
}

.paymentList_wrap .paymentList_cont .titlelist ul li {
    float: left;
    width: 160px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    position: relative;
}

.paymentList_wrap .paymentList_cont .titlelist ul li.payment_on:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #EEC988;
    display: inline-block;
    top: 39px;
    left: 72px;
    position: absolute;
}

.paymentList_wrap .paymentList_cont .titlelist ul li.payment_on:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #f8f8f6;
    display: inline-block;
    top: 40px;
    left: 73px;
    position: absolute;
}

.paymentList_wrap .paymentList_cont .paymentlist_cardtable {
    overflow: hidden;
    font-size: 14px;
}

.paymentList_wrap .paymentList_cont .paymentlist_cardtable table, .paymentList_wrap .paylist .paylist_cardtable table {
    width: 100%;
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
    border-top: 0;
}

.paymentList_wrap .paymentList_cont .paymentlist_cardtable table thead, .paymentList_wrap .paylist .paylist_cardtable table thead {
    cursor: default;
    border-bottom: 1px solid #e8e8e8;
}

.paymentList_wrap .paymentList_cont .paymentlist_cardtable table thead tr, .paymentList_wrap .paylist .paylist_cardtable table thead tr {
    height: 38px;
    line-height: 38px;
    font-size: 13px;
    background-color: #f8f8f6;

}

.paymentList_wrap .paymentList_cont .paymentlist_cardtable table tbody tr, .paymentList_wrap .paylist .paylist_cardtable table tbody tr {
    border-bottom: 1px solid #e8e8e8;
    opacity: 0;
    transition: opacity .1s ease-out;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

.paymentList_wrap .paymentList_cont .paymentlist_cardtable table tbody tr.shows, .paymentList_wrap .paylist .paylist_cardtable table tbody tr.shows {
    opacity: 1;
}

.paymentList_wrap .paymentList_cont .paymentlist_cardtable table tbody tr td, .paymentList_wrap .paylist .paylist_cardtable table tbody tr td {
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.border_eee {
    border-right: 1px solid #e8e8e8;
}

.paymentList_wrap .paymentList_cont .paylist {
    position: relative;
    padding-top: 35px;
}

.paymentList_wrap .paymentList_cont .paylist h5 {
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #4b4948;
    margin-top: 15px;
    margin-bottom: 30px;
}

.paymentList_wrap .paymentList_cont .paylist h5 > i {
    margin: auto;
    display: inline-block;
    width: 155px;
    height: 8px;
}

.paymentList_wrap .paymentList_cont .paylist h5 > i.icon-splitL {
    margin-right: 9px;
    background-position: -8px -437px;
}

.paymentList_wrap .paymentList_cont .paylist h5 > i.icon-splitR {
    margin-left: 10px;
    background-position: -8px -408px;
}

.paymentList_wrap .paylist .paylist_cardtable table {
    border-top: 1px solid #e8e8e8;
}

.paymentList_wrap .paylist .paylist_cardtable table .submit {
    padding: 0;
    display: inline-block;
    width: 160px;
    height: 36px;
    text-align: center;
    line-height: 34px;
    border-radius: 3px;
    border: 1px solid #cd461e;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    background-color: #e6501e;
}

.paymentList_wrap .paylist .paylist_cardtable table .submit.alreadyPaid {
    background: #999;
    border: 1px solid #999;
    color: #ddd;
    cursor: auto;
}

.paymentList_wrap .paylist .paylist_cardtable table .submit.alreadyPaid:hover {
    background: #999;
    border: 1px solid #999;
    color: #ddd;
    cursor: auto;
}

.paymentList_wrap .paylist .paylist_cardtable table .submit:hover {
    background-color: #eb734b;
    border-color: #dc5528;
}

.paymentList_wrap .paylist .paylist_cardtable table .lookit_default {
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
    display: block;
    width: 65%;
    float: left;
    text-align: right;
}

.paymentList_wrap .paylist .paylist_cardtable table .lookit_default input {
    margin: 0;
    padding: 0;
}

.paymentList_wrap .paylist .paylist_cardtable table .lookit_default em {
    background: url(../img/tc-search.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: -121px 0;
    background-color: #fff;
    position: absolute;
    top: 18.5px;
}

.paymentList_wrap .paylist .paylist_cardtable table .lookit_default .em {
    left: 160px;
}

.paymentList_wrap .paylist .paylist_cardtable table .lookit_default em.defalut_ico {
    background-position: -121px -35px;
}

.paymentList_wrap .paylist .paylist_cardtable table .lookit_default span {
    vertical-align: middle;
    padding-left: 24px;
    line-height: 22px;
    font-size: 12px;
    font-weight: 100;
}

.paymentList_wrap .paylist .paylist_cardtable table .err_check {
    line-height: 20px;
    font-size: 12px;
    background: url(../img/verify_img.png) 2px -40px no-repeat #fff4d9;
    position: relative;
    padding: 0 10px 0 20px;
    border: 1px solid #FFD5A1;
    color: #333;
    white-space: nowrap;
    margin-left: 20px;
    display: inline-block;
    float: left;
    margin-top: 15px;
}

.paymentList_wrap .paylist .paylist_cardtable table .yes_check {
    background: url(../img/verify_img.png) 2px 0px no-repeat;
    border: 1px solid #8ab923;
}

.paymentList_wrap .paylist .paylist_cardtable {
    position: relative;
    margin-bottom: 20px;
}

.paymentList_wrap .paylist .orderInfo {
    border: 1px solid #e8e8e8;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px 10px 0 15px;
    height: 363px;
    font-size: 12px
}

.paymentList_wrap .paylist .orderInfo dl {
    padding-bottom: 10px
}

.paymentList_wrap .paylist .orderInfo dl dt {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 7px
}

.paymentList_wrap .paylist .orderInfo dl dd {
    color: #666;
    padding-bottom: 7px
}

.paymentList_wrap .paylist .orderInfo dl dd .contract_info {
    width: 807px;
    padding: 10px
}

.paymentList_wrap .paylist .orderInfo dl dd .contract_info .contract_txt {
    color: #666
}

.paymentList_wrap .paylist .orderInfo dl dd .contract_info .contract_txt_title {
    font: 700 20px/32px simsun;
    text-align: center
}

.paymentList_wrap .paylist .orderInfo dl dd .contract_info .contract_txt_red {
    color: red
}

.paymentList_wrap .paylist .orderInfo dl dd .contract_info .contract_txt_bold {
    font-weight: 700
}

.nullpage {
    color: #999;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    padding: 60px 0 72px 0;
    border: 1px solid #D7D7D7
}

.nullpage i {
    position: relative;
    background: url(../img/noinfo.png) no-repeat;
    width: 86px;
    height: 85px;
    display: inline-block;

}

.nullpage span {
    display: block;
    float: left;
    width: 100%;
    margin: 10px 0;
}

