body {
    font-family: "微软雅黑";
}
.materialList_wrap {
    width: 1190px;
    height: auto;
    margin: 0 auto;
    border: 1px solid white;
}

.materialList_wrap .materialList_cont {
    border: 1px solid #eee;
    background-color: #fff;
    min-height: 680px;
    padding: 20px 18px;
        margin-top: 49px;
            -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.materialList_wrap .materialList_cont .materialPaylist {
    position: relative;
    padding-top: 35px;
}

.materialList_wrap .materialList_cont .materialPaylist  h5 {
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #4b4948;
    margin-top: 15px;
    margin-bottom: 30px;
}

.materialList_wrap .materialList_cont .materialPaylist  h5>i {
    margin: auto;
    display: inline-block;
    width: 155px;
    height: 8px;
}

.materialList_wrap .materialList_cont .materialPaylist  h5>i.icon-splitL {
    margin-right: 7px;
    background: url(../img/icon-splitL.png) no-repeat;
}

.materialList_wrap .materialList_cont .materialPaylist  h5>i.icon-splitR {
        margin-left: 10px;
    background: url(../img/icon-splitR.png) no-repeat;
}

.materialList_wrap .materialList_cont .titlelist {
    margin-top: 12px;
        padding: 0 90px;
    /*border: 1px solid #f8e5bb;*/
   	border: 1px solid #EEC988;
    background-color: #fefdee;
    color: #999;
    font-size: 14px;
}

.materialList_wrap .materialList_cont .titlelist dl {
    height: 40px;
}

.materialList_wrap .materialList_cont .titlelist dl dt {
	float: left;
	font-weight: 100;
  	margin: 0 15px 0px 0;
    line-height: 40px;
}

.materialList_wrap .materialList_cont .titlelist dl dd {
	float: left;
   	position: relative;
}

.materialList_wrap .materialList_cont .titlelist .airplane_rad li {
    float: left;
    margin-left: 20px;
    width: auto;
    height: 32px;
    color: #333;
    display: inline;
}

.airplane_rad li label {
	position: relative;
    padding-left: 26px;
    line-height: 40px;
    font-weight: 100;
    margin-bottom: 0;
}

.airplane_rad li label i {
	background: url(../img/tc-search.png) no-repeat;
    background-position: -1px -193px;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 0;
}

.airplane_rad li label .rep_radiao_check {
    background-position: 0 -151px;
}

.airplane_rad li label span {
	font-weight: 100;
}


.materialList_wrap .materialList_cont .material_cardtable {
	position: relative;
    overflow: hidden;
    font-size: 14px;
}

.materialList_wrap .materialList_cont .material_cardtable table  {
    width: 100%;
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
     border-top: 0;
}

.materialList_wrap .materialList_cont .material_cardtable table thead {
    cursor: default;
    border-bottom: 1px solid #e8e8e8;
}

.materialList_wrap .materialList_cont .material_cardtable table thead tr {
        height: 38px;
    line-height: 38px;
    font-size: 13px;
    background-color: #f8f8f6;
}

.materialList_wrap .materialList_cont .material_cardtable table tbody tr  {
    border-bottom: 1px solid #e8e8e8;
    opacity: 0;
    transition: opacity .1s ease-out;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

.materialList_wrap .materialList_cont .material_cardtable table tbody tr img  {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 9px #e3e3e3;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-shadow: 0 0 6px #999;
    -o-box-shadow: 0 0 6px #999;
    -webkit-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 9px #999;
}

.border_eee {
	border-right: 1px solid #e8e8e8;
}

.materialList_wrap .materialList_cont .material_cardtable table tbody tr.shows  {
    opacity: 1;
}

.materialList_wrap .materialList_cont .material_cardtable table tbody tr td  {
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.materialList_wrap .materialList_cont .material_cardtable table .set_default {
	margin-bottom: 0;
        position: relative;
    cursor: pointer;
    display: block;
}

.materialList_wrap .materialList_cont .material_cardtable table .set_default input {
	margin: 0;
	padding: 0;
}

.materialList_wrap .materialList_cont .material_cardtable table .set_default em {
	background: url(../img/tc-search.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: -121px 0;
    background-color: #fff;
    position: absolute;
    top: 11.5px;
    left: 20px;
}

.materialList_wrap .materialList_cont .material_cardtable table .set_default em.defalut_ico  {
	background-position: -121px -35px;
}

.materialList_wrap .materialList_cont .material_cardtable table tbody .set_default em {
    top: 15.5px;
}

.materialList_wrap .materialList_cont .settlement {
    padding: 20px 0;
    line-height: 1;
    text-align: right;
    font-size: 14px;
    color: #333;
}

.materialList_wrap .materialList_cont .settlement p {
   	text-align: left;
    line-height: 32px;
    color: #e6501e;
}

.materialList_wrap .materialList_cont .settlement .listnumber {
    margin: 10px 0 30px;
    line-height: 32px;
}

.materialList_wrap .materialList_cont .settlement span {
    display: inline-block;
    margin-right: 15px;
}

.materialList_wrap .materialList_cont .settlement em {
    font-size: 20px;
    font-weight: 700;
    color: #f74342;
}

.materialList_wrap .materialList_cont .settlement input {
    padding: 0;
    display: inline-block;
    width: 160px;
    height: 36px;
    text-align: center;
    line-height: 34px;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 2px;
}

.materialList_wrap .materialList_cont .settlement input.selfPurchase {
    border: 1px solid #cd461e;
    color: #e6501e;
    background-color: #fff;
    margin-right: 20px;
}

.materialList_wrap .materialList_cont .settlement input.payment {
    border: 1px solid #cd461e;
    color: #fff;
    background-color: #e6501e;
}
