<div id="foreman_shop">
    <div class="foreman_shopcnt">
        <!-- 筛选条件start -->
        <!-- 筛选条件start -->
		<div class="fliter loagbg" id="shop_fliter" shop-fliter></div>
		<!-- 筛选条件end -->
    </div>
    <!-- 内容区域start -->
    <div class="shop_content">
        <!-- 排序方式start -->
        <div class="content_title" data-name="orderKey" >
            <span class="default active sort" data-label="0" >默认排序</span>
            <span>|</span>
            <span class="trading sort" data-label="1" >成交量</span>
            <span>|</span>
            <span class="score sort" data-label="2" >评分</span>
            <span class="count">共有<span class="number"></span>个符合要求的店铺</span>
        </div>
        <!-- 排序方式end -->
        <!-- 具体内容start -->
        <div class="shop_summary slloagbg"></div>
        <!-- 具体内容end -->
        <!-- 右侧推荐start -->
        <div class="right_recommend">
            <a href="http://www.heeyhome.com/VR/2016080411/tour.html" target="_blank"></a>
        </div>
        <!-- 右侧推荐end -->
    </div>
    <!-- 内容区域end -->
    <!-- 页码start -->
    <!--<div class="pageWrap"></div>-->
    <div id="shop_pagewrap" shop_pagewrap ></div>
    <!-- 页码end -->
</div>
