<div id="foreman_shop">
    <div class="foreman_shopcnt">
        <!-- 筛选条件start -->
        <div class="fliter">
            <div class="fliter_area">
                <span class="fliter_name" ng-bind="serviceareaTitle"></span>
                <ul class="fliter_tab">
                    <li ng-repeat="area in servicearea" ng-class="$first ? 'active' : ''">
                        <a href="javascript:void(0)">{{area}}</a>
                    </li>
                </ul>
            </div>
            <div class="fliter_type">
                <span class="fliter_name" ng-bind="workernumTitle"></span>
                <ul class="fliter_tab">
                    <li ng-repeat="num in workernum" ng-class="$first ? 'active' : ''">
                        <a href="javascript:void(0)">{{num}}</a>
                    </li>
                </ul>
            </div>
            <div class="fliter_style">
                <span class="fliter_name" ng-bind="servicetagTitle"></span>
                <ul class="fliter_tab">
                    <li ng-repeat="tag in servicetag track by $index" ng-class="$first ? 'active' : ''">
                        <a href="javascript:void(0)">{{tag}}</a>
                    </li>
                </ul>
            </div>
            <div class="fliter_style">
                <span class="fliter_name" ng-bind="shopageTitle"></span>
                <ul class="fliter_tab">
                    <li ng-repeat="age in shopage" ng-class="$first ? 'active' : ''">
                        <a href="javascript:void(0)">{{age}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 筛选条件end -->
    <!-- 内容区域start -->
    <div class="shop_content">
        <!-- 排序方式start -->
        <div class="content_title">
            <span class="default active sort">默认排序</span>
            <span>|</span>
            <span class="trading sort">成交量</span>
            <span>|</span>
            <span class="score sort">评分</span>
            <span class="count">共有<span class="number">1000</span>个符合要求的店铺</span>
        </div>
        <!-- 排序方式end -->
        <!-- 具体内容start -->
        <div class="shop_summary">
            <div class="shop_box" ng-repeat="list in shopList">
                <div class="left_image">
                    <a href="#nogo"><img ng-src="http://hyu2387760001.my3w.com/{{list.shop_img}}"></a>
                    <div class="image-background_1"></div>
                    <div class="image-background_2"></div>
                </div>
                <div class="right_summary">
                    <div class="shop_name">
                        <h2>{{list.shop_name}}</h2>
                        <img src="css/img/icon-certification.png">
                        <img src="css/img/icon-accreditation.png">
                    </div>
                    <div class="shop_introduce">
                        <p>常住地址: <span>{{list.shop_address}}</span></p>
                        <p>服务范围: <span ng-repeat="service in list.servicearea">{{service}}&nbsp;</span></p>
                        <p>擅长风格: <span ng-repeat="tag in list.servicetag">{{tag}}</span>
                        <p>店铺年限：<span>2</span>年</p>
                    </div>
                    <div class="shop_icon clearfix">
                        <div class="icon_pnumber">
                            <img src="css/img/icon-pnumber-1.png">
                            <span>{{list.shop_scan}}</span>
                        </div>
                        <div class="icon_turnover">
                            <img src="css/img/icon-turnover-1.png">
                            <span>{{list.shop_volume}}</span>
                        </div>
                    </div>
                    <div class="shop_assess">
                        <p>工程质量<span>8.5</span>分</p>
                        <p>服务态度<span>7</span>分</p>
                        <p>综合评价<span>9</span>分</p>
                    </div>
                    <div class="shop_button">
                        <input type="button" class="collect_shop" value="{{list.iscollected}}" ng-click="collectShop($index)">
                        <input type="button" class="enter_shop" value="进入店铺">
                    </div>
                </div>
            </div>
        </div>
        <!-- 具体内容end -->
        <!-- 右侧推荐start -->
        <div class="right_recommend"></div>
        <!-- 右侧推荐end -->
    </div>
    <!-- 内容区域end -->
    <!-- 页码start -->
    <div class="pageWrap">
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div><!--pageWrap-->
    <!-- 页码end -->
</div>
