/* End hide from IE-mac*/

.display {
    display: none
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.l {
    float: left
}

.r {
    float: right
}

.sprite-details {
	background: url(../img/sprite-details.png) no-repeat;
}

.w990 {
    width: 990px;
    margin: 0 auto
}

.pic-head {
    background: #222;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #2b2b2b;
    color: #666;
    margin-bottom: 10px
}

.picHeard-title {
    text-align: center;
    color: #999;
    position: relative;
    font-size: 16px;
    width: 100%;
    /*font-family: "Microsoft YaHei"*/
}

.picHeard-title font {
    color: #999;
    font-size: 16px
}

.picHeard-title span {
    color: #666;
    position: absolute;
    top: 0;
    /*font-family: 'simsun';*/
    font-size: 12px
}

.picHeard-title a {
    color: #666
}

.picHeard-title a:hover {
    color: #999
}

.picHeard-title span {
    font-size: 12px
}

.picHeard-title span a {
    color: #666;
    font-size: 12px
}

.picHeard-title span label {
    display: inline-block;
    margin: 0 5px
}

.spanleftpic {
    left: 30px
}

.spanrightpic {
    right: 30px
}

.demo {
    text-align: center;
    width: 1000px;
    position: relative;
    z-index: 9
}

.bottom-lists {
    width: 750px;
    margin: 0 118px;
    text-align: center;
    overflow: hidden
}

.maxPic-box {
    padding: 40px 0;
    position: relative
}

.maxPic-box a {
    display: block;
    position: absolute;
    z-index: 99999999;
    width: 34px;
    height: 52px;
    top: 50%;
    margin-top: -26px;
    cursor: pointer
}

.maxPic-box a.maxBtn-l {
    left: 30px
}

.maxPic-box a.maxBtn-l:hover {
    background-position: 0 -52px;
    top: 50%
}

.maxPic-box a.maxBtn-r {
    right: 30px;
    background-position: -34px 0
}

.maxPic-box a.maxBtn-r:hover {
    background-position: -34px -52px;
    top: 50%
}

.minPic {
    width: 659px;
    height: 128px;
    overflow: hidden;
    position: relative
}

.maxPic {
    width: 800px;
    margin: 0 auto;
    height: 600px
}

.maxPicBox {
    width: 800px;
    height: 600px;
    display: table-cell;
    vertical-align: middle;
    margin-left: 95px;
    margin: 0 auto
}

.maxPic span {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.maxPic img {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%
}

.gallery_demo_unstyled {
    width: 100000px;
    position: absolute;
    left: 0
}

.gallery_demo_unstyled li {
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    height: 120px;
    line-height: 120px;
    cursor: pointer;
    border: 2px solid #D9D9D9;
    margin-right: 7px
}

/*.gallery_demo_unstyled li span {*/
/*width: 0;*/
/*height: 100%;*/
/*display: inline-block;*/
/*vertical-align: middle*/
/*}*/

.gallery_demo_unstyled li.actives {
    border: 2px solid #e88226
}

.gallery_demo_unstyled li a {
    width: 100px;
    height: 120px;
    display: block;
}

.gallery_demo_unstyled li img {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.Up-tuzu,
.Next-tuzu {
    float: left;
    width: 100px;
    height: 120px;
    border: 2px solid #303030;
    cursor: pointer;
    position: relative;
    overflow: hidden
}

.Up-tuzu a,
.Next-tuzu a {
    display: block
}

.outpic {
    width: 100px;
    height: 120px;
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.outpic span {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.outpic img {
    display: inline-block;
    text-align: center;
    vertical-align: middle
}

.Up-tuzu a.inpic,
.Next-tuzu a.inpic {
    position: absolute;
    width: 100px;
    text-align: center;
    left: 0;
    bottom: 5px;
    color: #fff;
    text-decoration: none;
    z-index: 9
}

.Next-tuzu {
    margin-left: 20px
}

.Up-tuzu {
    margin-right: 20px
}

.PicBtn-a {
    width: 50px;
    position: relative;
    height: 50px;
    float: left
}

.PicBtn-a a {
    display: block;
    width: 32px;
    position: absolute;
    top: 45px;
    left: 2px;
    height: 32px
}

.PicBtn-a a.PicBtn-left {
    background-position: -75px -114px;
}

.PicBtn-a:hover {
    background-color: #333333;
    cursor: pointer;
    transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear
}

.PicBtn-a a.PicBtn-right {
    background-position: -13px -114px;
}

.PicBtn-a-l {
    margin-right: 10px
}

.PicBtn-a-r {
    margin-left: 10px
}

.w-width2 .minPic {
    width: 659px;
    height: 83px;
    overflow: hidden;
    position: relative
}

.w-width2 .maxPic {
    width: 800px;
    margin: 0 auto;
    min-height: 600px
}

.w-width2 .maxPic img {
    display: block;
    margin: 0 auto
}

.w-width2 .gallery_demo_unstyled {
    width: 100000px;
    position: absolute;
    left: 0
}

.w-width2 .gallery_demo_unstyled li {
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
    border: 2px solid #101010;
    margin-right: 7px
}

.w-width2 .gallery_demo_unstyled li span {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.w-width2 .gallery_demo_unstyled li.actives {
    border: 2px solid #fff
}

.w-width2 .gallery_demo_unstyled li img {
    display: inline-block;
    text-align: center;
    vertical-align: middle
}

.w-width2 .Up-tuzu,
.w-width2 .Next-tuzu {
    float: left;
    width: 100px;
    height: 75px;
    border: 2px solid #303030;
    cursor: pointer;
    position: relative;
    overflow: hidden
}

.Up-tuzu a,
.Next-tuzu a {
    display: block
}

.w-width2 .outpic {
    width: 100px;
    height: 75px;
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.w-width2 .outpic span {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.w-width2 .outpic img {
    display: inline-block;
    text-align: center;
    vertical-align: middle
}

.w-width2 .Up-tuzu a.inpic,
.w-width2 .Next-tuzu a.inpic {
    position: absolute;
    width: 100px;
    text-align: center;
    left: 0;
    bottom: 5px;
    color: #fff;
    z-index: 9
}

.Next-tuzu {
    margin-left: 20px
}

.Up-tuzu {
    margin-right: 20px
}

.PicBtn-a {
    background-color: #D9D9D9;
    width: 35px;
    height: 124px;
    float: left
}

.w-width2 .PicBtn-a a {
    display: block;
    width: 30px;
    height: 83px
}

.Pic-pageln {
    border-top: 1px solid #939393;
    height: 43px;
    overflow: hidden;
    width: 800px;
    margin: 0 auto
}

.Pic-pageln span {
    display: inline-block;
    position: relative;
    height: 43px;
    line-height: 43px;
    color: #666
}

.Pic-pageln span a {
    _padding-top: 15px;
    display: inline-block;
    margin-left: 15px;
    height: 43px;
    line-height: 43px;
    color: #666
}

.Pic-pageln span a.information {
    padding-right: 15px
}

.Pic-pageln .page {
    margin: 3px
}

.pic-r-span a {
    padding-top: 3px
}

.pic-r-span a:hover {
    color: #5BA1CF !important
}

.pic-r-span a i {
    vertical-align: middle;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px
}

.pic-r-span a.realPic i {
    background-position: -156px -50px;
}

.pic-r-span a.information i {
    background-position: -156px -19px;
}

.pic-r-span a.download i {
    background-position: -180px -19px;
}

.pic-r-span a:hover {
    color: #fff
}

.bottom-footer {
    height: 224px;
    border: 1px solid #2b2b2b;
    background: #222;
    margin-top: 20px
}

.bf-p {
    height: 52px;
    line-height: 52px;
    color: #fff;
    font-size: 14px;
    font-weight: bold
}

.bfooteroDiv-img {
    width: 992px;
    height: 137px;
    overflow: hidden
}

.bfooteroDiv-img ul {
    width: 10000px
}

.bfooteroDiv-img ul li {
    border: 1px solid #303030;
    padding: 8px;
    width: 164px;
    float: left;
    margin-right: 20px
}

.bfooteroDiv-img ul li img {
    display: block
}

.bf-oDiv {
    width: 162px;
    height: 117px;
    position: relative;
    overflow: hidden
}

.bf-oDiv span {
    position: absolute;
    width: 162px;
    height: 26px;
    left: 0;
    bottom: 0;
    /*_bottom: -1px;*/
    background: #000;
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    opacity: .75
}

.bf-alink {
    position: absolute;
    left: 0;
    bottom: 0;
    /*_bottom: -2px;*/
    overflow: hidden;
    color: #ccc;
    line-height: 26px;
    height: 26px;
    padding-left: 7px
}

.belle2 a.lista-cars,
.belle1 a.lista-cars,
.carbelle-2 a.lista-cars {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    _background: #000;
    display: inline-block;
    float: left;
    /*font-family: arial;*/
    height: 20px;
    line-height: 20px;
    padding: 0 10px 0 10px;
    margin-left: 0;
    bottom: 10px;
    color: #fff
}

.belle2-2 {
    position: relative
}

.NoneDiv span {
    width: 240px
}

.carbelle-1 div.NoneDiv a.lista-cars {
    position: absolute;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    bottom: 0;
    background: 0
}

.w-width {
    padding-top: 20px;
    margin-left: 6px
}

#viewNum {
    font-style: normal
}

.prevspan {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    left: 0;
    text-align: center;
    display: block;
    height: 41px;
    width: 112px;
    z-index: 1
}

.nextspan {
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 9;
    left: 0;
    text-align: center;
    display: block;
    height: 41px;
    width: 112px;
    z-index: 1
}

* html .prevspan {
    _background: 0;
    /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../image/bottomimg-zu.png')*/
    width: 112px;
    height: 41px;
    display: block;
    position: absolute;
    z-index: 1
}

* html .nextspan {
    _background: 0;
    /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../image/bottomimg-zu.png');*/
    width: 112px;
    height: 41px;
    display: block;
    position: absolute;
    z-index: 1
}

.indexbody-main {
    position: relative;
    z-index: 99;
    width: 100%;
    background: red
}

.indexbody-left {
    width: 50%;
    height: 600px;
    position: absolute;
    left: 0;
    z-index: 99;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    background: #000
}

.indexbody-left:hover {
    cursor: url(../../image/pre.cur), auto
}

.indexbody-right {
    width: 50%;
    height: 600px;
    position: absolute;
    right: 0;
    z-index: 99;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    background: #000
}

.indexbody-right:hover {
    cursor: url(../../image/next.cur), auto
}

.btn-float {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 999
}

.btn-float a {
    display: block;
    position: absolute;
    top: 300px;
    z-index: 9999;

    width: 34px;
    height: 52px;
    margin-top: -26px;
    cursor: pointer
}

.btn-float a.maxBtn-l {
    background-position: -75px -19px;
    left: -200px
}

.btn-float a.maxBtn-l:hover {

    top: 300px
}

.btn-float a.maxBtn-r {
    right: -200px;
    background-position: -17px -19px;
}

.btn-float a.maxBtn-r:hover {
    top: 300px
}

#show_news {
    width: 220px;
    border: 1px solid #1d2127;
    background: #22252b;
    position: absolute;
    bottom: 100px;
    right: -122px;
    font-size: 12px
}

#show_news:hover {
    display: block;
}

#show_news .image_size {
    padding-left: 13px;
    height: 39px;
    line-height: 39px;
    color: #fff;
    border: 1px solid #262a30;
    border-bottom: 1px solid #1d2127
}

#show_news .image_size .size {
    margin-left: 22px
}

#show_news .album_info {
    padding-left: 13px;
    border: 1px solid #262a30;
    border-top: 1px solid #28303b;
    min-height: 39px
}

#show_news .album_info .from {
    margin-right: 10px;
    line-height: 29px;
    color: #a7b2bc
}

#show_news .album_info .album_text {
    color: #519cea;
    line-height: 29px
}

#show_news .album_info .album_text a {
    color: #519cea;
    text-decoration: none
}

.demo .tips {
    position: absolute;
    top: 30%;
    left: 30%;
    filter: alpha(opacity=60);
    opacity: .6;
    background-color: #fff;
    width: 400px;
    font-size: 16px;
    color: #333;
    padding: 20px 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 3px #4d5158;
    cursor: pointer !important
}

