<div id="pageheader" class="clearfix">
    <div class="logo_style">
        <div class="logo clearfix" title="嘿吼网">
            <a class="fl" rel="nofollow" href="http://www.heeyhome.com/" target="_blank">
                <img src="image/logo.png"/>
            </a>
            <span class="fl"></span>
        </div><!--logo-->
    </div><!--logo_style-->
    <div class="logo_withdraw">
        <p class="wChina">我的银行卡</p>
        <p>MY BANK CARD</p>
    </div><!--logo_withdraw-->
</div><!--pageheader-->
<div class="bankWrap">
    <!-- 当前位置start -->
    <div id="selfcenter_top">
        <div class="now_location">
            <a href="../"><em></em></a>
            <span>&gt;</span>
            <span>个人中心</span>
            <span>&gt;</span>
            <span>我的钱包</span>
            <span>&gt;</span>
            <span>我的银行卡</span>
            <span>&gt;</span>
            <span>添加银行卡</span>
        </div>
    </div>
    <!-- 当前位置end -->
    <div id="process2" class="add_bankWrap">
        <div class="add_bank_title">
            <!--<img src="css/img/add_bank_2.png">-->
            <em class="sprite_order add_bank_2"></em>
        </div><!--add_bank_title-->
        <div class="add_process2">
            <div class="cardtype">
                <span>卡类型</span>
                <input id="card_type" type="text" title="" placeholder="" readonly>
            </div><!--cardtype-->
            <div class="cardtype">
                <span>手机号</span>
                <input id="reserved_phone" type="text" title="" placeholder="请输入银行预留手机号">
            </div><!--cardtype-->
            <a id="process2_next" href="javascript:;" class="process1_next">下一步</a>
        </div><!--add_process1-->
    </div><!--add_bankWrap-->
</div><!--bankWrap-->
