<div id="pageheader" class="clearfix">
    <div class="logo_style">
        <div class="logo clearfix" title="嘿吼网">
            <a class="fl" rel="nofollow" href="http://www.heeyhome.com/" target="_blank">
                <img src="image/logo.png"/>
            </a>
            <span class="fl"></span>
        </div><!--logo-->
    </div><!--logo_style-->
    <div class="logo_withdraw">
        <p class="wChina">我的银行卡</p>
        <p>MY BANK CARD</p>
    </div><!--logo_withdraw-->
</div><!--pageheader-->
<div class="bankWrap">
    <!-- 当前位置start -->
    <div id="selfcenter_top">
        <div class="now_location">
            <a href="index.html"><img src="css/img/icon-toindex.png"></a>
            <span>&gt;</span>
            <span>个人中心</span>
            <span>&gt;</span>
            <span>我的钱包</span>
            <span>&gt;</span>
            <span>我的银行卡</span>
            <span>&gt;</span>
            <span>添加银行卡</span>
        </div>
    </div>
    <!-- 当前位置end -->
    <div id="process3" class="add_bankWrap">
        <div class="add_bank_title">
            <img src="css/img/add_bank_4.png">
        </div><!--add_bank_title-->
        <div class="add_process3">
            <p class="success"><img src="css/img/withdraw_complete.png">银行卡添加成功！</p>
            <a href="#bank/home" class="process3_next">返回我的银行卡</a>
        </div><!--add_process1-->
    </div><!--add_bankWrap-->
</div><!--bankWrap-->
