<div id="pageheader" class="clearfix">
    <div class="logo_style">
        <div class="logo clearfix" title="嘿吼网">
            <a class="fl" rel="nofollow" href="http://www.heeyhome.com/" target="_blank">
                <img src="css/img/logo.png"/>
            </a>
            <span class="fl"></span>
        </div><!--logo-->
    </div><!--logo_style-->
    <div class="logo_withdraw">
        <p class="wChina">我的银行卡</p>
        <p>MY BANK CARD</p>
    </div><!--logo_withdraw-->
</div><!--pageheader-->
<div class="bankWrap">
    <!-- 当前位置start -->
    <div id="selfcenter_top">
        <div class="now_location">
            <a href="index.html"><img src="css/img/icon-toindex.png"></a>
            <span>&nbsp;&gt;&nbsp;</span>
            <span>个人中心</span>
            <span>&nbsp;&gt;&nbsp;</span>
            <a href="/Pc.Heigh-ho.Renovation/heeyhome_web/src/master.html#/master/mwallet">我的钱包</a>
            <span>&nbsp;&gt;&nbsp;</span>
            <a href="#/bank/home">我的银行卡</a>
            <span>&nbsp;&gt;&nbsp;</span>
            <a href="javascript:;">添加银行卡</a>
        </div>
    </div>
    <!-- 当前位置end -->
    <div id="process1" class="add_bankWrap">
        <div class="add_bank_title">
            <img src="css/img/add_bank_1.png">
        </div><!--add_bank_title-->
        <div class="add_process1">
            <div class="cardholder">
                <span>持卡人</span>
                <input id="card_name" type="text" title="" placeholder="请输入持卡人的姓名">
            </div><!--cardholder-->
            <div class="cardnumber">
                <span>卡号</span>
                <input id="card_no" type="text" title="" placeholder="请输入您的卡号">
            </div><!--cardnumber-->
            <a id="process1_next" href="javascript:;" class="process1_next">下一步</a>
        </div><!--add_process1-->
    </div><!--add_bankWrap-->

</div><!--bankWrap-->
