<div class="user_right fr">
	<div class="right_title">
        <span>我的作品 &nbsp;&nbsp;&nbsp;MY CREATION</span>
    </div>
    <div class="right_content_wrap">
    	
    		<div class="new_work_content">
	    		<!-- 建筑面积start -->
	    		<div class="new_area">
	    			<h3>建筑面积</h3>
	    			<label class="error"></label>
	    			<div class="new_areacnt">
	    				<input type="text">
	    				<span>㎡</span>
	    			</div>   			
	    		</div>
	    		<!-- 建筑面积end -->
	    		<!-- 户型start -->
	    		<div class="new_type">
	    			<h3>户型</h3>
	    			<label class="error"></label>
	    			<div class="new_typecnt">
	    				<select class="room">
	    					<option>请选择</option>
	    					<option>1</option>
	    					<option>2</option>
	    					<option>3</option>
	    					<option>4</option>
	    					<option>5</option>
	    				</select>
	    				<span>室</span>
	    				<select class="hall">
	    					<option>请选择</option>
	    					<option>1</option>
	    					<option>2</option>
	    					<option>3</option>
	    					<option>4</option>
	    					<option>5</option>
	    				</select>
	    				<span>厅</span>
	    				<select class="toilet">
	    					<option>请选择</option>
	    					<option>1</option>
	    					<option>2</option>
	    					<option>3</option>
	    					<option>4</option>
	    					<option>5</option>
	    				</select>
	    				<span>卫</span>
	    				<select class="balcony">
	    					<option>请选择</option>
	    					<option>1</option>
	    					<option>2</option>
	    					<option>3</option>
	    					<option>4</option>
	    					<option>5</option>
	    				</select>
	    				<span>阳台</span>
	    			</div>   			
	    		</div>
	    		<!-- 户型end -->
	    		<!-- 装修风格start -->
	    		<div class="new_style">
	    			<h3>装修风格</h3>
	    			<label class="error"></label>
	    			<!--<div class="new_stylecnt">
	    				<span>现代简约</span>
	    				<span>北欧风格</span>
	    				<span>新中式风格</span>
	    				<span>田园风格</span>
	    				<span>欧美风格</span>
	    				<span>现代简约</span>
	    			</div>-->
	    		</div>
	    		<!-- 装修风格end -->
	    		<!-- 工期start -->
	    		<div class="new_schedule">
	    			<h3>工期</h3>
	    			<label class="error"></label>
	    			<div class="new_schedulecnt clearfix">
	    				<div class="last_time">
	    					<select name="year1" class="year1"></select>
							<select name="month1" class="month1"></select>
							<select name="day1" class="day1"></select>
	    				</div>
	    				<div class="sign">&mdash;</div>
	    				<div class="now_time">
	    					<select name="year2" class="year2"></select>
							<select name="month2" class="month2"></select>
							<select name="day2" class="day2"></select>
	    				</div>
	    			</div>
	    		</div>
	    		<!-- 工期end -->
	    		<!-- 房屋地址start -->
	    		<div class="new_address">
	    			<h3>房屋地址</h3>
	    			<label class="error"></label>
	    			<div class="new_addresscnt distpickerDiv clearfix" data-toggle="distpicker">
	    				<div class="form-group fl">
	                        <label class="sr-only" for="province1">Province</label>
	                        <select class="form-control" id="province1"></select>
	                    </div>
	                    <div class="form-group fl">
	                        <label class="sr-only" for="city1">City</label>
	                        <select class="form-control" id="city1"></select>
	                    </div>
	                    <div class="form-group fl">
	                        <label class="sr-only" for="district1">District</label>
	                        <select class="form-control" id="district1"></select>
	                    </div>
	                    <div class="detail_address fl">
	                    	<input type="text" placeholder="详细地址...">
	                    </div>
	    			</div>
	    		</div>
	    		<!-- 房屋地址end -->
				<!-- 施工图片start -->
				<div class="construction_picture">
					<h3>施工图片</h3>
					<label class="error"></label>
					<div class="construction_picturecnt clearfix">
						<div class="add_picture fl">
							<a href="javascript:;">
								<input type="file" title="上传新图片" id="file1">
							</a>
							<div class="close">
								<em class="sprite_total"></em>
							</div>
						</div>
						<div class="add_picture fl">
							<a href="javascript:;">
								<input type="file" title="上传新图片" id="file2">
							</a>
							<div class="close">
								<em class="sprite_total"></em>
							</div>
						</div>
						<div class="add_picture fl">
							<a href="javascript:;">
								<input type="file" title="上传新图片" id="file3">
							</a>
							<div class="close">
								<em class="sprite_total"></em>
							</div>
						</div>
						<div class="add_picture fl">
							<a href="javascript:;">
								<input type="file" title="上传新图片" id="file4">
							</a>
							<div class="close">
								<em class="sprite_total"></em>
							</div>
						</div>
						<div class="add_picture fl">
							<a href="javascript:;">
								<input type="file" title="上传新图片" id="file5">
							</a>
							<div class="close">
								<em class="sprite_total"></em>
							</div>
						</div>
					</div>
				</div>
				<!-- 施工图片end -->

				<!-- 确认提交start -->
	    		<input type="button" value="提交" class="submit">
	    		<!-- 确认提交end -->
	    	</div>
    	
    </div>
</div>
