
<!-- 右侧内容start -->
<div id="user_right" class="user_right clearfix">
    <div class="content_wrap">
        <div class="right_title">
            <span>安全设置 &nbsp;&nbsp;&nbsp;SECURITY SETTING</span>
        </div>
        <div class="safe_right_content clearfix">
            <h3 class="revise_phone">身份验证</h3>
            <!--<div class="revise_process clearfix">-->
                <!--<a href="javascript:void(0)" class="active auth_first">-->
                    <!--<span>1</span>-->
                <!--</a>-->
                <!--<a  href="javascript:void(0)" class="auth_second">-->
                    <!--<span>2</span>-->
                <!--</a>-->
            <!--</div>-->
            <div class="bind_phonecnt" >
                <div class="phone_content"  ui-view="authentication"></div>
            </div>
            <div id="new_info"></div>
        </div>
    </div>
</div>
<!-- 右侧内容end -->

