<div class="construction_sheet">
    <!-- 预算单头部start -->
    <div class="sheet_top">
        <h3>施工预算单</h3>
        <img src="css/img/budget-statement.png">
    </div>
    <!-- 预算单头部end -->
    <!-- 预算单主体start -->
    <div class="sheet_main clearfix">
        <!-- 施工前预算单start -->
        <div class="sheet_left">
            <h2>施工前<span>before</span></h2>
            <div class="explain">
                <span>品类</span>
                <span>单位</span>
                <span>工程量</span>
            </div>
            <div class="left_content">
                <!-- 工长模块start -->
                <div class="foreman clearfix">
                    <div class="worker_type">
                        <div class="type_picture">
                            <img src="css/img/icon-foreman.png">
                        </div>
                        <div class="type_detail">
                            <h3>工长</h3>
                            <p>FOREMAN</p>
                        </div>
                    </div>
                    <div class="worker_detail">
                        <ul class="foreman_ul"></ul>
                    </div>
                </div>
                <!-- 工长模块end -->
                <!-- 杂工模块start -->
                <div class="handyman clearfix">
                    <div class="worker_type">
                        <div class="type_picture">
                            <img src="css/img/icon-handyman.png">
                        </div>
                        <div class="type_detail">
                            <h3>杂工</h3>
                            <p>HANDYMAN</p>
                        </div>
                    </div>
                    <div class="worker_detail">
                        <ul class="handyman_ul"></ul>
                    </div>
                </div>
                <!-- 杂工模块end -->
                <!-- 水电工模块start -->
                <div class="plumber clearfix">
                    <div class="worker_type">
                        <div class="type_picture">
                            <img src="css/img/icon-painter.png">
                        </div>
                        <div class="type_detail">
                            <h3>水电工</h3>
                            <p>PLUMBER</p>
                        </div>
                    </div>
                    <div class="worker_detail">
                        <ul class="plumber_ul"></ul>
                    </div>
                </div>
                <!-- 水电工模块end -->
                <!-- 瓦工模块start -->
                <div class="bricklayer clearfix">
                    <div class="worker_type">
                        <div class="type_picture">
                            <img src="css/img/icon-bricklayer.png">
                        </div>
                        <div class="type_detail">
                            <h3>瓦工</h3>
                            <p>BRICKLAYER</p>
                        </div>
                    </div>
                    <div class="worker_detail">
                        <ul class="bricklayer_ul">
                            <li class="tip">
                                <p>注： 如有特殊工作内容可口头协商或咨询heeyhome客服查询</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 瓦工模块end -->
                <!-- 木工模块start -->
                <div class="bricklayer clearfix">
                    <div class="worker_type">
                        <div class="type_picture">
                            <img src="css/img/icon-woodworking.png">
                        </div>
                        <div class="type_detail">
                            <h3>木工</h3>
                            <p>WOODWORKING</p>
                        </div>
                    </div>
                    <div class="worker_detail">
                        <ul class="wood_ul">
                            <!--<li class="tip">-->
                                <!--<p>注： 如面积有争议，可清点用于吊顶的石膏板张数，按照130元/张*__(张数)</p>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
                <!-- 木工模块end -->
                <!-- 油漆工模块start -->
                <div class="painter clearfix">
                    <div class="worker_type">
                        <div class="type_picture">
                            <img src="css/img/icon-painter.png">
                        </div>
                        <div class="type_detail">
                            <h3>油漆工</h3>
                            <p>PAINTER</p>
                        </div>
                    </div>
                    <div class="worker_detail">
                        <ul class="painter_ul"></ul>
                    </div>
                </div>
                <!-- 油漆工模块end -->
                <a class="before_submit">提交</a>
                <div class="before_remark">
                    备注：<input id="before_remark" type="text" title="">
                </div>
            </div>
        </div>
        <!-- 施工前预算单end -->
        <!-- 施工后预算单start -->
        <div class="sheet_right">
            <div class="sheet_right">
                <h2>施工后<span>after</span></h2>
                <div class="explain">
                    <span>品类</span>
                    <span>单位</span>
                    <span>工程量</span>
                </div>
                <div class="right_content">
                    <!-- 工长模块start -->
                    <div class="foreman clearfix">
                        <div class="worker_type">
                            <div class="type_picture">
                                <img src="css/img/icon-foreman.png">
                            </div>
                            <div class="type_detail">
                                <h3>工长</h3>
                                <p>FOREMAN</p>
                            </div>
                        </div>
                        <div class="worker_detail">
                            <ul class="foreman_ul"></ul>
                        </div>
                    </div>
                    <!-- 工长模块end -->
                    <!-- 杂工模块start -->
                    <div class="handyman clearfix">
                        <div class="worker_type">
                            <div class="type_picture">
                                <img src="css/img/icon-handyman.png">
                            </div>
                            <div class="type_detail">
                                <h3>杂工</h3>
                                <p>HANDYMAN</p>
                            </div>
                        </div>
                        <div class="worker_detail">
                            <ul class="handyman_ul"></ul>
                        </div>
                    </div>
                    <!-- 杂工模块end -->
                    <!-- 水电工模块start -->
                    <div class="plumber clearfix">
                        <div class="worker_type">
                            <div class="type_picture">
                                <img src="css/img/icon-painter.png">
                            </div>
                            <div class="type_detail">
                                <h3>水电工</h3>
                                <p>PLUMBER</p>
                            </div>
                        </div>
                        <div class="worker_detail">
                            <ul class="plumber_ul"></ul>
                        </div>
                    </div>
                    <!-- 水电工模块end -->
                    <!-- 瓦工模块start -->
                    <div class="bricklayer clearfix">
                        <div class="worker_type">
                            <div class="type_picture">
                                <img src="css/img/icon-bricklayer.png">
                            </div>
                            <div class="type_detail">
                                <h3>瓦工</h3>
                                <p>BRICKLAYER</p>
                            </div>
                        </div>
                        <div class="worker_detail">
                            <ul class="bricklayer_ul">
                                <li class="tip">
                                    <p>注： 如有特殊工作内容可口头协商或咨询heeyhome客服查询</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 瓦工模块end -->
                    <!-- 木工模块start -->
                    <div class="bricklayer clearfix">
                        <div class="worker_type">
                            <div class="type_picture">
                                <img src="css/img/icon-woodworking.png">
                            </div>
                            <div class="type_detail">
                                <h3>木工</h3>
                                <p>WOODWORKING</p>
                            </div>
                        </div>
                        <div class="worker_detail">
                            <ul class="wood_ul">
                                <!--<li class="tip">-->
                                    <!--<p>注： 如面积有争议，可清点用于吊顶的石膏板张数，按照130元/张*__(张数)</p>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                    <!-- 木工模块end -->
                    <!-- 油漆工模块start -->
                    <div class="painter clearfix">
                        <div class="worker_type">
                            <div class="type_picture">
                                <img src="css/img/icon-painter.png">
                            </div>
                            <div class="type_detail">
                                <h3>油漆工</h3>
                                <p>PAINTER</p>
                            </div>
                        </div>
                        <div class="worker_detail">
                            <ul class="painter_ul"></ul>
                        </div>
                    </div>
                    <!-- 油漆工模块end -->
                    <a class="after_submit">提交</a>
                    <div class="after_remark">
                        备注：<input id="after_remark" type="text" title="">
                    </div>
                </div>
            </div>
            <!-- 施工后预算单end -->
        </div>
        <!-- 施工后预算单end -->
        <!-- 预算单主体end -->
    </div>
</div>