<div class="new_phone">
    <h3>请输入您需要绑定的邮箱</h3>
    <div class="newphone_num">
        <span>邮箱</span>
        <input type="email" name="newphone_num" id="new_email">
    </div>
    <div class="newphone_code">
        <span>验证码</span>
        <input type="text" name="newphone_code" id="newphone_code">
        <input type="button" value="获取邮箱验证码" id="email_code">
    </div>
    <p>*您可使用此邮箱找回密码及登录</p>
    <p>*请勿随意泄露邮箱，以防被不法分子利用，骗取账号信息</p>
</div>
<a class="sure" id="next_email2">下一步</a>
<!--
<a ui-sref="center.bind.bind_phone_3" class="sure" id="next2">下一步</a>-->
