<div class="user_right fr">
    <div class="right_title">
        <span>消息中心 &nbsp;&nbsp;&nbsp;MESSAGE　CENTER</span>
    </div>
    <div class="right_content_wrap">
        <div class="information_content">
            <div class="content_title">
                <span class="name">名称</span>
                <span class="content">消息内容</span>
                <span class="time">时间</span>
            </div>
            <div class="main_contentWrap">

            </div>
            <div class="detail_cnt display">
            </div>
            <div class="information_choose">
                <input title="" type="checkbox">
                <span>全选</span>
                <a href="javascript:;">全部标记</a>
            </div>
            <!-- 页码start -->
            <div class="page_number">
                <div style="margin:80px auto;width:1000px;">
                    <div class="page_div3"></div>
                </div>
            </div>
            <!-- 页码end -->
        </div>
    </div>
</div><!--user_right-->
