<!--右边内容start-->
<div class="user_right fr">
    <div class="right_top">
        <div class="top_head">
            <div class="top_head_border">
                <div class="head">
                    <img src="css/img/bigshop-1.png">
                </div><!--head-->
            </div><!--top_head_border-->
        </div><!--top_head-->
        <p class="store_name">
            <span id="shop_name">怡新苑项目工长店铺</span>
            <img id="real_name" class="real_name" src="">
            <img id="safe_name" class="safe_name" src="">
        </p>
        <div class="enter_storeWrap">
            <a href="javascript:;" class="enter_store">进入店铺</a>
        </div><!--enter_storeWrap-->
        <div class="title_right clearfix">
            <div class="title_email fl clearfix">
                <img class="fl" src="css/img/title_email.png">
                <p class="email_bind fl">邮箱绑定</p>
                <p id="email_p" class="fl"><span>未绑定</span><a href="#/master/setting/email/email_1">立即绑定</a></p>
            </div><!--title_email-->
            <div class="title_tel fl clearfix">
                <img class="fl" src="css/img/title_tel.png">
                <p class="phone_bind email_bind fl">手机号码绑定</p>
                <p class="fl"><span>已绑定</span><a href="#/master/setting/bind/bind_phone_1">修改</a></p>
            </div><!--title_tel-->
        </div><!--title_right-->
        <div class="fr_safe fr">
            <p class="level_p">安全等级</p>
            <div class="safe_level">
                <div class="active_level" id="active_level"></div>
            </div><!--safe_level-->
            <div class="safe_name">
                <span class="">弱</span>
                <span>中</span>
                <span>强</span>
            </div><!--safe_name-->
        </div>
    </div><!--right_top-->
    <div class="right_center">
        <div class="center_bg_wrap">
            <div class="center_bg"></div>
        </div><!--center_bg_wrap-->
        <div class="engineering first_engine">
            <p class="engine_img">
                <img src="css/img/engine1.png">
            </p>
            <p class="quality_project">工程质量</p>
            <p class="score"><span id="projectquality">8.5</span>分</p>
        </div><!--engineering-->
        <div class="engineering second_engine">
            <p class="engine_img">
                <img src="css/img/engine2.png">
            </p>
            <p class="quality_project">服务态度</p>
            <p class="score"><span id="serviceattitude">7.9</span>分</p>
        </div><!--engineering-->
        <div class="engineering three_engine">
            <p class="engine_img">
                <img src="css/img/engine3.png">
            </p>
            <p class="quality_project">综合评价</p>
            <p class="score"><span id="overallmerit">9.0</span>分</p>
        </div><!--engineering-->
        <div class="engineering four_engine">
            <p class="engine_img">
                <img src="css/img/engine4.png">
            </p>
            <p class="quality_project">浏览量</p>
            <p class="score"><span id="shop_scan">1486</span>次</p>
        </div><!--engineering-->
        <div class="engineering five_engine">
            <p class="engine_img">
                <img src="css/img/engine5.png">
            </p>
            <p class="quality_project">收藏量</p>
            <p class="score"><span id="collectnum">7631</span>次</p>
        </div><!--engineering-->
    </div><!--right_center-->
    <div class="right_bottom clearfix">
        <div class="bottom_team fl">
            <p class="home_team_img">
                <img src="css/img/left_line.png">
                <span>&nbsp;我的团队&nbsp;</span>
                <img src="css/img/right_line.png">
            </p>
            <p class="team_name">MY TEAM</p>
            <p class="team_person"><a href="javascript:;"><span id="team_person">20</span>人</a></p>
        </div><!--bottom_team-->
        <div class="bottom_team bottom_order fl">
            <p class="home_team_img">
                <img src="css/img/left_line.png">
                <span>&nbsp;我的订单&nbsp;</span>
                <img src="css/img/right_line.png">
            </p>
            <p class="team_name">MY ORDER</p>
            <a class="order_a" href="javascript:;">
                <span>已完成</span>
                <span id="completed" class="span_active">5</span>
            </a>
            <a class="order_a not_complete" href="javascript:;">
                <span>未完成</span>
                <span id="order_progress" class="span_active">2</span>
            </a>
        </div><!--bottom_team-->
    </div><!--right_bottom-->
</div><!--user_right-->
<!--右边内容end-->