<div class="plumber_material">
	<!-- 材料种类start -->
	<div class="material_title">
		<div class="title_picture">
			<!--<img src="css/img/plumber-material.png">-->
			<em class="sprite_order"></em>
		</div>		
		<div>
			<span class="type_cname">水电工</span>
			<span class="type_ename">PLUMBER</span>
			<!--<img src="css/img/staff_bottom_title.png">-->
			<em class="sprite_order staff_sprite_order"></em>
		</div>
	</div>
	<!-- 材料种类end -->
	<!-- 材料内容start -->
	<div class="material_content">
		<div class="material_introduce">
			<span>名称</span>
			<span>规格</span>
			<span>单位</span>
			<span>数量</span>
		</div>		
		<input type="button" value="确认无误  发送给用户" class="sure_send">
	</div>
	<!-- 材料内容end -->
	<!-- 确认提交start -->
	<!-- 确认提交end -->
</div>
