<!-- 当前位置start -->
<div class="now_location">
	<a href="index.html"><em></em></a>
	<span>&gt;</span>
	<a href="master.html#/master">个人中心</a>
	<span>&gt;</span>
	<a href="master.html#/master/morder">我的订单</a>
	<span>&gt;</span>
	<a href="order.html#/order/home">订单进度更新</a>
</div>
<!-- 当前位置end -->
<!-- 业主信息start -->
<div id="owner_information">
	<div class="owner_information">
		<div class="owner_informationcnt">
			<div class="title">
				<h3>业主信息</h3>
				<p>Owner Information</p>
			</div>
			<div class="owner_content">
				<div class="owner_summary">
					<div class="owner_picture">
						<img src="">
					</div>
					<h3></h3>
					<p>
						<!--<img src="css/img/owner-phone.png">-->
						<em class="sprite_order"></em>
						<span></span>
					</p>
				</div>
				<div class="owner_detail clearfix">
					<div class="owner_left">
						<div class="area">
							<h3>建筑面积</h3>
							<p><span></span>㎡</p>
						</div>
						<div class="order">
							<h3>订单号</h3>
							<p></p>
						</div>
					</div>
					<div class="owner_middle">
						<div class="type">
							<h3>户型</h3>
							<p></p>
						</div>
						<div class="time">
							<h3>订单创建时间</h3>
							<p></p>
						</div>
					</div>
					<div class="owner_right">
						<div class="address">
							<h3>房屋地址</h3>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>
<!-- 业主信息end -->
<!-- 工种材料start -->
<div id="material_type" ui-view="material_type"></div>
<!-- 工种材料end -->
