<!-- 右侧内容start -->
<div id="user_right" class="user_right clearfix">
    <div class="content_wrap">
        <div class="right_title">
            <span>我的订单 &nbsp;&nbsp;&nbsp;MY ORDER</span>
        </div>
        <div class="order_right_content right_content right_content_wrap">
            <div class="order_title">
                <div>业主</div>
                <div>房屋地址</div>
                <div>建筑面积</div>
                <div>当前状态</div>
                <div>交易金额</div>
                <div>全部</div>
                <div class="item_hover_0">
                    <ul class="display">
                        <li>订单已完成</li>
                        <li>订单完成中</li>
                    </ul>
                </div>
            </div>
            <div class="order_content">
                <!--具体内容-->
                <div class="order_wrap"></div><!--order_wrap-->
                <!--具体内容-->
            </div>
            <!-- 页码start -->
            <div class="page_number">
                <div style="margin:80px auto;width:1000px;">
                    <div class="page_div3"></div>
                </div>
            </div>
            <!-- 页码end -->
        </div>
    </div>
</div>
<!-- 右侧内容end -->