<div class="user_right fr">
    <div class="team_title">
        <span>我的团队 &nbsp;&nbsp;&nbsp;MY TEAM</span>
    </div><!--team_title-->
    <div class="team_content_wrap">
        <div class="team_content clearfix">
            <div class="team_bg_wrap fl">
                <a href="#/master/teamDetail" data-id="2">
                    <div class="team_img">
                        <!--<img src="css/img/team1.png">-->
                        <em class="sprite_team ele_icon"></em>
                        <p><span id="eleworker">5</span>人</p>
                    </div><!--team_img-->
                    <div class="team_bg"></div><!--team_bg-->
                </a>
            </div><!--team_bg_wrap-->
            <div class="team_bg_wrap fl">
                <a href="#/master/teamDetail" data-id="4">
                    <div class="team_img">
                        <!--<img src="css/img/team2.png">-->
                        <em class="sprite_team wood_icon"></em>
                        <p><span id="woodworker">5</span>人</p>
                    </div><!--team_img-->
                    <div class="team_bg"></div><!--team_bg-->
                </a>
            </div><!--team_bg_wrap-->
            <div class="team_bg_wrap fl">
                <a href="#/master/teamDetail" data-id="3">
                    <div class="team_img">
                        <!--<img src="css/img/team3.png">-->
                        <em class="sprite_team bri_icon"></em>
                        <p><span id="brickworker">5</span>人</p>
                    </div><!--team_img-->
                    <div class="team_bg"></div><!--team_bg-->
                </a>
            </div><!--team_bg_wrap-->
            <div class="team_bg_wrap fl">
                <a href="#/master/teamDetail" data-id="5">
                    <div class="team_img">
                        <!--<img src="css/img/team4.png">-->
                        <em class="sprite_team painter_icon"></em>
                        <p><span id="paintworker">5</span>人</p>
                    </div><!--team_img-->
                    <div class="team_bg"></div><!--team_bg-->
                </a>
            </div><!--team_bg_wrap-->
            <div class="team_bg_wrap fl">
                <a href="#/master/teamDetail" data-id="1">
                    <div class="team_img">
                        <!--<img src="css/img/handyman.png">-->
                        <em class="sprite_team mix_icon"></em>
                        <p><span id="mixworker">5</span>人</p>
                    </div><!--team_img-->
                    <div class="team_bg"></div><!--team_bg-->
                </a>
            </div><!--team_bg_wrap-->
        </div><!--team_content-->
    </div><!--team_content_wrap-->
</div><!--user_right-->
