<div class="user_right fr">
    <div class="right_title">
        <span>我的作品 &nbsp;&nbsp;&nbsp;MY CREATION</span>
    </div><!--right_title-->
    <div class="right_content_wrap">
        <div class="works_content my_work">
            <div id="works_content_title1" class="works_content_title clearfix">
                <div class="title_complete fl">已完成</div>
                <div class="title_pending fl">待完成</div>
                <div id="title_active" class="title_active"></div><!--title_active-->
            </div><!--works_content_title-->
            <div class="works_complete_wrap">
                <div class="works_complete clearfix">
                    <div class="works_detail works_detail_first fl works_bg">
                        <div class="detail_img">
                            <img src="css/img/my_work1.jpg">
                        </div><!--detail_img-->
                        <div class="detail_bg clearfix">
                            <div class="detail_bg_div">
                                <a class="detail_bg_a fr" href="javascript:;">
                                    <img src="css/img/my_work_del.png">
                                </a>
                            </div><!--detail_bg_div-->
                            <div class="detail_bg_content">
                                <dl>
                                    <dd><span>120</span>m<sup>2</sup></dd>
                                    <dd>简欧式风格</dd>
                                    <dd>三室·两厅</dd>
                                </dl>
                            </div><!--detail_bg_content-->
                        </div><!--detail_bg-->
                    </div><!--works_detail-->
                    <div class="works_detail fl works_bg">
                        <div class="detail_img">
                            <img src="css/img/my_work2.jpg">
                        </div><!--detail_img-->
                        <div class="detail_bg clearfix">
                            <div class="detail_bg_div">
                                <a class="detail_bg_a fr" href="javascript:;">
                                    <img src="css/img/my_work_del.png">
                                </a>
                            </div><!--detail_bg_div-->
                            <div class="detail_bg_content">
                                <dl>
                                    <dd><span>120</span>m<sup>2</sup></dd>
                                    <dd>简欧式风格</dd>
                                    <dd>三室·两厅</dd>
                                </dl>
                            </div><!--detail_bg_content-->
                        </div><!--detail_bg-->
                    </div><!--works_detail-->
                    <div class="works_detail fl works_bg">
                        <div class="detail_img">
                            <img src="css/img/my_work3.jpg">
                        </div><!--detail_img-->
                        <div class="detail_bg clearfix">
                            <div class="detail_bg_div">
                                <a class="detail_bg_a fr" href="javascript:;">
                                    <img src="css/img/my_work_del.png">
                                </a>
                            </div><!--detail_bg_div-->
                            <div class="detail_bg_content">
                                <dl>
                                    <dd><span>120</span>m<sup>2</sup></dd>
                                    <dd>简欧式风格</dd>
                                    <dd>三室·两厅</dd>
                                </dl>
                            </div><!--detail_bg_content-->
                        </div><!--detail_bg-->
                    </div><!--works_detail-->
                    <div class="works_detail fl works_bg">
                        <div class="detail_img">
                            <img src="css/img/my_work4.jpg">
                        </div><!--detail_img-->
                        <div class="detail_bg clearfix">
                            <div class="detail_bg_div">
                                <a class="detail_bg_a fr" href="javascript:;">
                                    <img src="css/img/my_work_del.png">
                                </a>
                            </div><!--detail_bg_div-->
                            <div class="detail_bg_content">
                                <dl>
                                    <dd><span>120</span>m<sup>2</sup></dd>
                                    <dd>简欧式风格</dd>
                                    <dd>三室·两厅</dd>
                                </dl>
                            </div><!--detail_bg_content-->
                        </div><!--detail_bg-->
                    </div><!--works_detail-->
                    <div class="works_detail works_detail_first fl works_bg">
                        <div class="detail_img">
                            <img src="css/img/my_work1.jpg">
                        </div><!--detail_img-->
                        <div class="detail_bg clearfix">
                            <div class="detail_bg_div">
                                <a class="detail_bg_a fr" href="javascript:;">
                                    <img src="css/img/my_work_del.png">
                                </a>
                            </div><!--detail_bg_div-->
                            <div class="detail_bg_content">
                                <dl>
                                    <dd><span>120</span>m<sup>2</sup></dd>
                                    <dd>简欧式风格</dd>
                                    <dd>三室·两厅</dd>
                                </dl>
                            </div><!--detail_bg_content-->
                        </div><!--detail_bg-->
                    </div><!--works_detail-->
                    <div class="works_detail fl works_bg">
                        <div class="detail_img">
                            <img src="css/img/my_work2.jpg">
                        </div><!--detail_img-->
                        <div class="detail_bg clearfix">
                            <div class="detail_bg_div">
                                <a class="detail_bg_a fr" href="javascript:;">
                                    <img src="css/img/my_work_del.png">
                                </a>
                            </div><!--detail_bg_div-->
                            <div class="detail_bg_content">
                                <dl>
                                    <dd><span>120</span>m<sup>2</sup></dd>
                                    <dd>简欧式风格</dd>
                                    <dd>三室·两厅</dd>
                                </dl>
                            </div><!--detail_bg_content-->
                        </div><!--detail_bg-->
                    </div><!--works_detail-->
                    <div class="works_detail fl works_bg">
                        <div class="detail_img">
                            <img src="css/img/my_work3.jpg">
                        </div><!--detail_img-->
                        <div class="detail_bg clearfix">
                            <div class="detail_bg_div">
                                <a class="detail_bg_a fr" href="javascript:;">
                                    <img src="css/img/my_work_del.png">
                                </a>
                            </div><!--detail_bg_div-->
                            <div class="detail_bg_content">
                                <dl>
                                    <dd><span>120</span>m<sup>2</sup></dd>
                                    <dd>简欧式风格</dd>
                                    <dd>三室·两厅</dd>
                                </dl>
                            </div><!--detail_bg_content-->
                        </div><!--detail_bg-->
                    </div><!--works_detail-->
                    <div class="works_detail fl works_bg">
                        <div class="detail_img">
                            <img src="css/img/my_work4.jpg">
                        </div><!--detail_img-->
                        <div class="detail_bg clearfix">
                            <div class="detail_bg_div">
                                <a class="detail_bg_a fr" href="javascript:;">
                                    <img src="css/img/my_work_del.png">
                                </a>
                            </div><!--detail_bg_div-->
                            <div class="detail_bg_content">
                                <dl>
                                    <dd><span>120</span>m<sup>2</sup></dd>
                                    <dd>简欧式风格</dd>
                                    <dd>三室·两厅</dd>
                                </dl>
                            </div><!--detail_bg_content-->
                        </div><!--detail_bg-->
                    </div><!--works_detail-->
                </div><!--works_complete-->
                <div class="complete_before clearfix">
                    <div class="before_title">
                        <span>入驻嗨吼之前的项目</span>
                    </div><!--before_title-->
                    <div class="works_detail works_detail_first fl complete_img">
                        <a class="complete_del" href="javascript:;">
                            <img src="css/img/my_work_del.png">
                        </a>
                        <div class="detail_img">
                            <img src="css/img/my_work1.jpg">
                        </div><!--detail_img-->
                        <div class="complete_bg"></div><!--complete_bg-->
                        <span>新中式风格</span>
                        <div class="bg"></div>
                    </div><!--works_detail-->
                    <div class="works_detail fl complete_img">
                        <a class="complete_del" href="javascript:;">
                            <img src="css/img/my_work_del.png">
                        </a>
                        <div class="detail_img">
                            <img src="css/img/my_work2.jpg">
                        </div><!--detail_img-->
                        <div class="complete_bg"></div><!--complete_bg-->
                        <span>简欧式风格</span>
                        <div class="bg"></div>
                    </div><!--works_detail-->
                    <div class="new_album works_new_album fl">
                        <img src="css/img/team_plus.png">
                        <p>添加新的项目</p>
                    </div><!--new_album-->
                </div><!--complete_before-->
            </div><!--works_complete_wrap-->
            <div class="works_pending_wrap clearfix hide">
                <div class="works_detail works_detail_first fl complete_img">
                    <a class="complete_del" href="javascript:;">
                        <img src="css/img/my_work_del.png">
                    </a>
                    <div class="detail_img">
                        <img src="css/img/my_work1.jpg">
                    </div><!--detail_img-->
                    <div class="pending_font">
                        <p class="pending_address"><i class="iconfont">&#xe678;</i>园区锦溪苑一期</p>
                        <p class="address_detail">30幢0803</p>
                        <p class="pending_name"><i class="iconfont">&#xe680;</i>张国强</p>
                        <p class="pending_tel"><i class="iconfont">&#xe6ed;</i>11111111111</p>
                    </div><!--pending_font-->
                    <div class="bg"></div>
                </div><!--works_detail-->
                <div class="works_detail fl complete_img">
                    <a class="complete_del" href="javascript:;">
                        <img src="css/img/my_work_del.png">
                    </a>
                    <div class="detail_img">
                        <img src="css/img/my_work2.jpg">
                    </div><!--detail_img-->
                    <div class="pending_font">
                        <p class="pending_address"><i class="iconfont">&#xe678;</i>园区锦溪苑一期</p>
                        <p class="address_detail">30幢0803</p>
                        <p class="pending_name"><i class="iconfont">&#xe680;</i>张国强</p>
                        <p class="pending_tel"><i class="iconfont">&#xe6ed;</i>22222222</p>
                    </div><!--pending_font-->
                    <div class="bg"></div>
                </div><!--works_detail-->
            </div><!--works_pending_wrap-->
        </div><!--works_content-->
    </div><!--right_content_wrap-->
</div><!--user_right-->