<div class="user_right fr">
    <div class="right_title">
        <span>我的钱包 &nbsp;&nbsp;&nbsp;MY WALLET</span>
    </div><!--right_title-->
    <div class="right_content_wrap">
        <div class="wallet_content clearfix">
            <div class="wallet_content_top clearfix">
                <ul class="clearfix fl">
                    <li>
                        <p class="wallet_li_top">项目总额</p>
                        <p class="wallet_money total"><span>8536,</span>元</p>
                    </li>
                    <li>
                        <p class="wallet_li_top">提现金额</p>
                        <p class="wallet_money withdraw"><span>2000,</span>元</p>
                    </li>
                    <li>
                        <p class="wallet_li_top">保证金</p>
                        <p class="wallet_money"><span>50000</span>元</p><!--retention-->
                    </li>
                </ul>
                <a href="withdraw.html#/withdraw" class="wallet_withdrawal" target="_blank">提现</a>
                <a href="bank.html#/bank" class="wallet_safe" target="_blank">我的银行卡</a>
            </div><!--wallet_content_top-->
            <div class="wallet_content_bottom">
                <div class="wallet_bottom_title clearfix">
                    <div class="bottom_title_left fl">
                        <div class="transaction_records">最近交易记录</div>
                        <a href="javascript:;">2017 - 01</a>
                        <a href="javascript:;">2016年12月</a>
                        <a href="javascript:;">八月份</a>
                        <a href="javascript:;">七月份</a>
                        <a href="javascript:;">六月份</a>
                    </div><!--bottom_title_left-->
                    <div class="bottom_title_right fr">
                        <a href="javascript:;" class="check_detail">全部<img src="css/img/cash_img.png"></a>
                    </div><!--bottom_title_right-->
                </div><!--wallet_bottom_title-->
                <div class="wallet_month">10月份</div><!--wallet_month-->
                <div class="wallet_bottom_content">
                    <div class="wallet_dl">
                        <span class="wallet_time">时间</span>
                        <span class="wallet_account">账户</span>
                        <span class="wallet_coin">金额</span>
                        <span class="wallet_cash">交易状态</span>
                        <span class="wallet_opera">操作</span>
                    </div><!--wallet_dl-->
                    <!--wallet_dd-->
                </div><!--wallet_bottom_content-->
                <!-- 页码start -->
                <div class="page_number">
                    <div style="margin:80px auto;width:800px;">
                        <div class="page_div5"></div>
                    </div>
                </div>
                <!-- 页码end -->
            </div><!--wallet_content_bottom-->
        </div><!--wallet_content-->
    </div><!--right_content_wrap-->
</div><!--user_right-->