<div class="user_right fr  personal_content_wrap" ng-controller="personal">
    <div class="right_title">
        <span>个人资料 &nbsp;&nbsp;&nbsp;PERSONAL INFORMATION</span>
    </div><!--right_title-->
    <div class="right_content_wrap">
        <div class="works_content">
            <div class="personal_content">
                <form>
                    <div class="personal_form">
                        <div class="personal_form_list">
                            <span>用户名</span>
                            <input class="personal_user_name" title="" type="text" placeholder="请输入您的用户名">
                            <b>*用户名可用于登录，一旦确认无法修改</b>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>昵称</span>
                            <input class="personal_user_nickname" title="" type="text" placeholder="请输入您的昵称">
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>性别</span>
                            <label><input title="" type="radio" name="sex" id="man" value="1">&nbsp;&nbsp;男</label>
                            <label><input title="" type="radio" name="sex" id="women" value="2">&nbsp;&nbsp;女</label>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>年龄</span>
                            <input class="personal_user_age" title="" type="text">
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>工龄</span>
                            <input class="personal_service_length" title="" type="text"><i class="year_i">年</i>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>邮箱</span>
                            <p id="email_p">您还没有绑定邮箱，点击去<a href="#/master/setting/email/email_1">绑定邮箱</a></p>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>联系电话</span>
                            <span class="personal_tel">152****1234</span>
                            <a href="#/master/setting/bind/bind_phone_1">修改绑定</a>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list personal_form_area clearfix">
                            <span class="fl">从业经历</span>
                            <!--<div class="fl business_experience">-->
                                <!--<input type="text" title="" class="input_all">-->
                                <!--<a class="personal_circle" href="javascript:;">+</a>-->
                            <!--</div>-->
                            <a id="experience_circle" class="personal_circle" href="javascript:;">+</a>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list personal_area_list">
                            <span>服务区域</span>
                            <!--<a class="personal_area" href="javascript:;"></a>-->
                            <a id="personal_circle" class="personal_circle" href="javascript:;">+</a>
                            <div class="area_edit display">
                                <div class="tag_content">
                                    <span>吴中区</span>
                                    <span>工业园区</span>
                                    <span>高新区</span>
                                    <span>姑苏区</span>
                                    <span>平江区</span>
                                    <span>相城区</span>
                                </div><!--tag_content-->
                                <a href="javascript:;" class="area_sure">确定</a>
                            </div><!--area_edit-->
                        </div><!--personal_form_list-->
                        <div class="personal_form_list renovation_area clearfix">
                            <span class="fl">装修小区</span>
                            <!--<input class="personal_user_community" title="" type="text" placeholder="请输入您装修过的小区">-->
                            <a id="area_circle" class="personal_circle" href="javascript:;">+</a>
                        </div><!--personal_form_list-->
                        <div id="loc" class="personal_form_list clearfix">
                            <span class="fl">所在城市</span>
                            <div data-toggle="distpicker" class="distpickerDiv clearfix fl">
                                <div class="form-group fl">
                                    <label class="sr-only" for="province1">Province</label>
                                    <select class="form-control" id="province1"></select>
                                </div>
                                <div class="form-group fl">
                                    <label class="sr-only" for="city1">City</label>
                                    <select class="form-control" id="city1"></select>
                                </div>
                                <div class="form-group fl">
                                    <label class="sr-only" for="district1">District</label>
                                    <select class="form-control" id="district1"></select>
                                </div>
                            </div>
                        </div><!--personal_form_list-->
                        <div class="personal_form_list">
                            <span>详细住址</span>
                            <input class="personal_area_detail" title="" type="text" placeholder="请输入您的详细住址">
                        </div><!--personal_form_list-->
                        <div id="home" class="personal_form_list clearfix">
                            <span class="fl">家乡</span>
                            <div data-toggle="distpicker" class="distpickerDiv clearfix fl">
                                <div class="form-group fl">
                                    <label class="sr-only" for="province2">Province</label>
                                    <select class="form-control" id="province2"></select>
                                </div>
                                <div class="form-group fl">
                                    <label class="sr-only" for="city2">City</label>
                                    <select class="form-control" id="city2"></select>
                                </div>
                                <div class="form-group fl">
                                    <label class="sr-only" for="district2">District</label>
                                    <select class="form-control" id="district2"></select>
                                </div>
                            </div>
                        </div><!--personal_form_list-->
                        <a id="personal_submit" class="personal_submit" href="javascript:;">提交</a>
                    </div><!--personal_form-->
                </form>
            </div><!--personal_content-->
        </div><!--works_content-->
    </div><!--right_content_wrap-->
</div><!--user_right-->