<div class="message_wrap">
    <div class="message clearfix">
        <div class="message_fl fl">
            <img src="css/img/message.gif">
            <span>短信验证</span>
        </div><!--message_fl-->
        <div class="message_fr fr">
            <a href="javascript:;" id="message">立即验证</a>
        </div><!--message_fr-->
    </div><!--message-->
</div><!--message_wrap-->
<div class="message_wrap password_wrap">
    <div class="message clearfix">
        <div class="message_fl fl">
            <img src="css/img/lock.png">
            <span>登录密码验证</span>
        </div><!--message_fl-->
        <div class="message_fr fr">
            <a href="javascript:;" id="password">立即验证</a>
        </div><!--message_fr-->
    </div><!--message-->
</div><!--message_wrap-->