<!-- 当前位置start -->
<div class="now_location">
	<a href="../" target="_blank"><em></em></a>
	<span>&gt;</span>
	<a href="../#/shoplist">工长店铺</a>
	<span>&gt;</span>
	<span class="shopname">怡馨苑项目经理店铺</span>
	<span>&gt;</span>
	<span>成功案例</span>
</div>
<!-- 当前位置end -->
<!-- 具体内容start -->
<div class="success_detail">
	<div class="hd">
		<span class="btn_left prev"></span>
		<ul></ul>
		<span class="btn_right next"></span>
	</div>
	<div class="content_wrap">
		<div class="content_detail">
			<div class="content_top">
				<h2><span>120</span>㎡</h2>
				<em class="sprite_remain"></em>
				<div class="include">
					<span><i>3</i>室</span>
					<span><i>2</i>厅</span>
					<span><i>2</i>卫</span>
					<span><i>1</i>阳台</span>
				</div>
			</div>
			<div class="content_bottom">
				<p class="time">
					<span>2015.4.20</span>-<span>2015.10.15</span>
				</p>
				<p class="address">江苏省苏州市园区锦溪苑</p>
			</div>
		</div>
	</div>
</div>
<!-- 具体内容end -->
<!-- 背景图片start -->
<div class="bg_picture">

</div>
<!-- 背景图片end -->