<div class="user_right fr workers_edit">
    <div class="right_title">
        <span>我的团队 &nbsp;&nbsp;&nbsp;MY TEAM</span>
    </div>
    <div class="right_content_wrap staff_wrap">
        <div class="price_top clearfix">
        	<div class="staff_picture">
        		<span>* 头像</span>
        		<div class="add_picture">
	    			<a href="javascript:;">
	    				<input type="file" title="上传新图片" id="worker_picture">
	    			</a>
	    		</div>
        	</div>
            <div class="staff_name fl staff_side">
                <span>* 姓名</span>
                <input type="text" title="" class="name">
            </div><!--staff_name-->
            <div class="staff_name fl staff_side">
                <span>* 性别</span>
                <select class="sex">
                	<option value="1" id="man">男</option>
                	<option value="2" id="women">女</option>
                </select>
            </div><!--staff_name-->
            <div class="staff_name fl staff_right">
                <span>* 年龄</span>
                <input type="number" min="10" max="70" class="age">
            </div><!--staff_name-->
            <div class="staff_home fl staff_side">
                <span class="fl">* 籍贯</span>
                <input type="text" class="place">
                <!--<div data-toggle="distpicker" class="distpickerDiv clearfix fl">
                    <div class="form-group fl">
                        <label class="sr-only" for="province1">Province</label>
                        <select class="form-control" id="province1"></select>
                    </div>
                    <div class="form-group fl">
                        <label class="sr-only" for="city1">City</label>
                        <select class="form-control" id="city1"></select>
                    </div>
                    <div class="form-group fl">
                        <label class="sr-only" for="district1">District</label>
                        <select class="form-control" id="district1"></select>
                    </div>
                </div>-->
            </div><!--staff_home-->
            <div class="staff_date staff_side fl staff_date_time">
                <span class="fl">* 从业时间</span>
                <!--<div class="new_schedulecnt clearfix fl">
                    <div class="last_time">
                        <select title="" name="year1" class="year1"></select>
                        <select title="" name="month1" class="month1"></select>
                        <select title="" name="day1" class="day1"></select>
                    </div>
                </div>-->
                <input type="text" title="">
                <span class="year">年</span>
            </div>
            <!--staff_date-->
            <div class="staff_phone fl staff_side staff_phone_first">
                <span>* 手机号</span>
                <input type="text" title="" class="phone">
            </div><!--staff_phone-->
            <div class="staff_phone fl staff_side">
                <span>* 身份证号</span>
                <input type="text" title="" class="idcard">
            </div><!--staff_phone-->
            <div class="staff_phone fl staff_side">
                <span>* 开户银行</span>
                <input type="text" title="" class="bankname">
            </div><!--staff_phone-->
            <div class="staff_phone fl staff_side">
                <span>* 银行卡号</span>
                <input type="text" title="" class="bankcard">
            </div><!--staff_phone-->
        </div>
        <div class="edit_price">
            <div class="staff_bottom_title">
                <span>价格明细表</span>
            </div><!--staff_bottom_title-->
            <div class="edit_bottom clearfix">
                <!--<ul>
                    <li>
                        <span class="name">原墙/顶面腻子铲除</span>
                        <input title="" type="text">
                        <span class="unit">元/m<sup>2</sup></span>
                    </li>
                    <li>
                        <span class="name">墙面粉刷层凿除</span>
                        <input title="" type="text">
                        <span class="unit">元/m<sup>2</sup></span>
                    </li>
                    <li>
                        <span class="name">墙地面旧瓷砖拆除</span>
                        <input title="" type="text">
                        <span class="unit">元/m<sup>2</sup></span>
                    </li>
                    <li>
                        <span class="name">拆除墙面保温层</span>
                        <input title="" type="text">
                        <span class="unit">元/m<sup>2</sup></span>
                    </li>
                    <li>
                        <span class="name">门洞移位（左右20cm以内）</span>
                        <input title="" type="text">
                        <span class="unit">个</span>
                    </li>
                    <li>
                        <span class="name">12cm钻墙开门洞</span>
                        <input title="" type="text">
                        <span class="unit">个</span>
                    </li>
                    <li>
                        <span class="name">24cm钻墙开门洞</span>
                        <input title="" type="text">
                        <span class="unit">个</span>
                    </li>
                    <li>
                        <span class="name">混泥土24cm墙切割费</span>
                        <input title="" type="text">
                        <span class="unit">m</span>
                    </li>
                    <li>
                        <span class="name">拆除24cm混泥土墙</span>
                        <input title="" type="text">
                        <span class="unit">m<sup>2</sup></span>
                    </li>
                    <li>
                        <span class="name">钻墙凿除半墙</span>
                        <input title="" type="text">
                        <span class="unit">m<sup>2</sup></span>
                    </li>
                    <li>
                        <span class="name">混泥土墙凿除半墙</span>
                        <input title="" type="text">
                        <span class="unit">m<sup>2</sup></span>
                    </li>
                    <li>
                        <span class="name">拆除12cm砖墙</span>
                        <input title="" type="text">
                        <span class="unit">m<sup>2</sup></span>
                    </li>
                    <li>
                        <span class="name">拆除12cm混泥土墙</span>
                        <input title="" type="text">
                        <span class="unit">m<sup>2</sup></span>
                    </li>
                    <li>
                        <span class="name">拆除24cm钻墙</span>
                        <input title="" type="text">
                        <span class="unit">m<sup>2</sup></span>
                    </li>
                    <li>
                        <span class="name">拆除混泥土飘窗台</span>
                        <input title="" type="text">
                        <span class="unit">m<sup>2</sup></span>
                    </li>
                    <li>
                        <span class="name">垃圾清运</span>
                        <input title="" type="text">
                        <span class="unit">次</span>
                    </li>
                </ul>-->
            </div><!--edit_bottom-->
        </div><!--edit_price-->
        <a class="staff_confirm" href="javascript:;">确定</a>
        <a href="#/master/teamDetail" class="team_back">返回</a>
    </div>
</div>
