<!-- 第二步start -->
<div class="process process_2 ">
	<h3 class="process_title">
		您正在为账户<span>13771751945</span>重置登录密码，请选择重置方式：
	</h3>
	<ul class="">
		<li class="clearfix phone_quick">
			<i></i>
			<div>
				<h3>通过手机验证</h3>
				<p>如果你的 <span></span> 手机还在正常使用，请选择此方式</p>
			</div>
			<input type="button" value="立即重置" data-belong="phone" data-title="手机验证">
		</li>
		<li class="clearfix email_quick">
			<i></i>
			<div>
				<h3>通过邮箱验证</h3>
				<p>如果你的 <span></span> 账户邮箱还在正常使用，请选择此方式</p>
			</div>
			<input type="button" value="立即重置" data-belong="email" data-title="邮箱验证">
		</li>
		<!--<li class="clearfix">
			<i></i>
			<div>
				<h3>通过人工服务</h3>
				<p>填写申请单，上传身份证件图片，我们会在48小时内受理，请耐心等待</p>
			</div>
			<input type="button" value="立即重置" ui-sref="reset_password.page_3">
		</li>-->
	</ul>
	<div class="phone_validate display">
		<div class="phone">
			<span>手机号</span>
			<input type="text" placeholder="请输入您的手机号" class="click" disabled="true">
			<label class="error"></label>
		</div>
		<div class="phone_code">
			<span>验证码</span>
			<input type="text" placeholder="请输入验证码" class="click input">
			<label class="error"></label>
			<input type="button" value="获取验证码" class="get_code">
		</div>
		<div class="button_group">
			<input type="button" value="确认" class="besure">
			<input type="button" value="重新选择验证方式" class="reselect">
		</div>
	</div>
	<div class="email_validate display">
		<div class="email">
			<span>邮箱号</span>
			<input type="text" placeholder="请输入您的邮箱" class="click" disabled="true">
			<label class="error"></label>
		</div>
		<div class="email_code">
			<span>验证码</span>
			<input type="text" placeholder="请输入验证码" class="click input">
			<label class="error"></label>
			<input type="button" value="获取验证码" class="get_code">
		</div>
		<div class="button_group">
			<input type="button" value="确认" class="besure">
			<input type="button" value="重新选择验证方式" class="reselect">
		</div>
	</div>
</div>
<!-- 第二步end -->