<!-- 第一步start -->
<div class="process process_1 " >
	<h3 class="process_title">
		请输入您需要重置登录密码的账户名
	</h3>
	<div class="account_name">
		<span>账户名</span>
		<input type="text" placeholder="电子邮箱或手机号码" class="click">
		<label class="error"></label>
	</div>
	<div class="confirm_code">
		<span>验证码</span>
		<input type="text" class="click confirm" id="inputCode">
		<label class="error"></label>
		<span id="idcode"></span>
		<!--<a href="javascript:void(0)">看不清？换一张</a>-->
	</div>
	<input type="button" value="下一步" class="next_section" >
</div>
<!-- 第一步end -->