<!-- 重置登录密码start -->
<div id="reset_password">
	<!-- 重置密码标题start -->
	<div class="reset_title clearfix">
		<div class="home">
			<a href="index.html" target="_blank"><img src="css/img/logo.png"></a>
		</div>
		<div class="reset_introduce">
			<h3>重置登录密码</h3>
			<p>RESET THE LOGIN PASSWORD</p>
		</div>
	</div>
	<!-- 重置密码标题end -->
	<!-- 重置密码内容start -->
	<div class="reset_content">
		<div ui-view="forget_public"></div>
	</div>
	<!-- 重置密码内容end -->
</div>
<!-- 重置登录密码end -->
<div id="loading" class="display" style="position:fixed;width:100%;height:100%;top:0px;left:0px;opacity:0.7;background:#000;">
	<div class="sk-fading-circle">
		<div class="sk-circle1 sk-circle"></div>
		<div class="sk-circle2 sk-circle"></div>
		<div class="sk-circle3 sk-circle"></div>
		<div class="sk-circle4 sk-circle"></div>
		<div class="sk-circle5 sk-circle"></div>
		<div class="sk-circle6 sk-circle"></div>
		<div class="sk-circle7 sk-circle"></div>
		<div class="sk-circle8 sk-circle"></div>
		<div class="sk-circle9 sk-circle"></div>
		<div class="sk-circle10 sk-circle"></div>
		<div class="sk-circle11 sk-circle"></div>
		<div class="sk-circle12 sk-circle"></div>
	</div>
</div>
<div id="ReminderBox" class="display" style="position:fixed;width:100%;height:100%;top:0px;left:0px;z-index: 999;background: rgba(0,0,0,0.6);">
	<div class="remindebox" >
		<div class="remindemodel">
			<div class="remindemodel_header">
				<h1>提示</h1>
			</div>
			<div class="remindemodel_content">
				<div class="remindemodel_info">
					<div class="info_header">
						<span></span>
					</div>
				</div>
				<div class="remindemodel_footer">
					<input class="remindemodel_ok" type="button" data-select = "" value="好的"/>	
				</div>
			</div>
		</div>
	</div>
</div>