<!-- 第一步start -->
<div class="process process_1 ">
	<h3 class="process_title">
		您正在为您的账户重置登录密码，请选择重置方式：
	</h3>
	<ul class="">
		<li class="clearfix phone_quick">
			<i></i>
			<div>
				<h3>通过手机验证</h3>
				<p>如果你的手机还在正常使用，请选择此方式</p>
			</div>
			<input type="button" value="立即重置" data-belong="phone" data-title="手机验证">
		</li>
		<li class="clearfix email_quick">
			<i></i>
			<div>
				<h3>通过邮箱验证</h3>
				<p>如果你的账户邮箱还在正常使用，请选择此方式</p>
			</div>
			<input type="button" value="立即重置" data-belong="email" data-title="邮箱验证">
		</li>
		<!--<li class="clearfix">
			<i></i>
			<div>
				<h3>通过人工服务</h3>
				<p>填写申请单，上传身份证件图片，我们会在48小时内受理，请耐心等待</p>
			</div>
			<input type="button" value="立即重置" ui-sref="reset_password.page_3">
		</li>-->
	</ul>
	
</div>
<!-- 第一步end -->