<div id="virtual_reality">
	<div class="main_content">
		<!-- 筛选条件start -->
		<div class="fliter" id="vr_fliter" vr-fliter></div>
		<!-- 筛选条件end -->
		<!-- 内容区域start -->
		<div class="virtual_content">
			<!-- 排序方式start -->
			<div class="content_title">
				<span class="default active sort">默认排序</span>
				<span>|</span>
				<span class="page_view sort">浏览量</span>
				<span>|</span>
				<span class="praise_number sort">点赞量</span>
				<span>|</span>
				<span class="collect sort">收藏量</span>
			</div>
			<!-- 排序方式end -->
			<!-- 具体内容start -->
			<div class="content_pic">
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>

				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>

				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>

				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pic_box">
					<div class="vr_pic">
						<a href="#nogo">
							<img src="image/studyroom.png" class="now">
							<div class="bg_mongolia">
								<div class="pic_hover">
									<img src="css/img/icon-tovr.png">
								</div>
							</div>
						</a>
					</div>
					<div class="pic_introduce">
						<div class="pic_style clearfix">
							<h2>现代简约风格</h2>
						</div>
						<div class="pic_badge">
							<img src="css/img/icon-badge.png" title="点击收藏">
						</div>
						<div class="pic_detail">
							<p>建筑面积：<em>120</em>㎡</p>
							<p>两室一厅一卫</p>
						</div>
						<div class="pic_icon">
							<div class="pic_view">
								<img src="css/img/icon-view.png" title="浏览数">
								<span>5431</span>
							</div>
							<div class="pic_praise">
								<img src="css/img/icon-praise.png" title="点赞数">
								<span>7235</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 具体内容end -->

		</div>
		<!-- 内容区域end -->
	</div>
</div>