/* 公共样式 */
.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.sprite_order {
    background: url(../img/sprite_order.png) no-repeat;
}

.sprite_total {
    background: url(../img/sprite_total.png) no-repeat;
}

.bankWrap {
    /*width: 1190px;*/
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
}

#selfcenter_top {
    width: 1190px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.now_location img {
    vertical-align: top;
    margin-top: 2px;
}

.now_location a {
    font-size: 14px;
    color: #666;
}

.order_wrap {
    width: 1190px;
    margin: 0 auto;
    height: auto;
}

.order_process, .choose_style, .whetherOrders {
    width: 280px;
    height: 280px;
    box-shadow: 0 0 16px #999;
    border: 1px solid white;
    margin-right: 15px;
    margin-bottom: 30px;
}

.order_process input, .choose_style input {
    border-style: none;
}

.order_process .process_title, .choose_style .style_title, .whetherOrders .style_title {
    text-align: center;
    font-size: 18px;
    color: #4b4948;
    margin-top: 50px;
}

.process_center {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.order_wrap input:disabled {
    cursor: not-allowed;
}

.process_style {
    width: 150px;
    height: 60px;
    margin: 0 auto;
    margin-top: 50px;
}

.process_style p {
    font-size: 20px;
    text-align: center;
    color: #eecf88;
}

.process_style select {
    width: 152px;
    height: 30px;
    line-height: 30px;
}

.whetherOrders .whetherOrders_style {
    width: 190px;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.whetherOrders .whetherOrders_style p {
    font-size: 14px;
    text-align: left;
    color: #4b4948;
    margin-bottom: 14px;
}

.whetherOrders .whetherOrders_style span {
    display: inline-block;
    line-height: 24px;
    border: 1px solid #333;
    margin-bottom: 8px;
    padding: 4px 25px;
    font-size: 14px;
}

.whetherOrders .whetherOrders_sure {
    display: inline-block;
    border-style: none;
    width: 90px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: white;
    background-color: #e4e4e4;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 35px;
}

.whetherOrders .whetherOrders_cancel {
    display: inline-block;
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 11px;
    color: #e4e4e4;
    background-color: white;
    border-style: inherit;
}

.centerit {
    display: block !important;
    margin: 30px auto !important;
}

.order_add {
    display: block;
    width: 90px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: white;
    background-color: #e4e4e4;
    font-size: 14px;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 30px;
}

.order_add_left {
    display: inline-block;
    width: 90px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: white;
    background-color: #e4e4e4;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 35px;
}

.order_process .order_edit {
    display: inline-block;
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 11px;
    color: #e4e4e4;
    background-color: white;
    border-style: inherit;
}

.order_submit {
    display: inline-block;
    width: 101px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #eec988;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    margin-bottom: 180px;
    margin-top: 60px;
    margin-left: 650px;
}

.order_back {
    display: inline-block;
    width: 101px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #eec988;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    margin-bottom: 180px;
    margin-top: 60px;
    margin-left: 50px;
}

.order_submit:hover {
    box-shadow: 2px 2px 4px #999;
    color: white;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.order_back:hover {
    box-shadow: 2px 2px 4px #999;
    color: white;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.wrap {
    /*position: absolute;*/
    width: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 600;
    position: fixed;
    opacity: 0.5;
    background: #000;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
    height: 1000px;
}

.add_technology, .see_details {
    width: 600px;
    height: 496px;
    background-color: white;
    position: absolute;
    left: 32%;
    top: 25%;
    z-index: 1003;
}

.add_close {
    position: relative;
    height: 46px;
}

.add_close em {
    position: absolute;
    top: -5px;
    right: -8px;
    display: inline-block;
    width: 44px;
    height: 44px;
    background-position: -944px -372px;
}

.add_close em:hover {
    cursor: pointer;
}

.add_technology .add-bg, .see_details .add-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 190px;
    z-index: -1;
}

.add_technology .add-bg img, .see_details .add-bg img {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.start_date {
    margin-bottom: 30px;
}

.see_details .start_date {
    margin-bottom: 0;
}

.start_date_title {
    width: 84px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    border-left: 4px solid #E88226;
    margin-left: 60px;
    margin-top: 18px;
    font-size: 16px;
    color: #4b4948;
}

.see_details .start_date_title {
    border-left: none;
    background-position: -864px -433px;
    text-align: right;
}

.leave_message {
    width: 54px;
}

.last_time {
    margin-left: 60px;
    margin-top: 15px;
}

.last_time select {
    width: 80px;
    height: 27px;
    line-height: 27px;
    border: 1px solid #d3d3d3;
    color: #d3d3d3;
    margin-right: 20px;
}

.add_picture {
    width: 92px;
    position: relative;
    border: 1px solid #D4D4D4;
    height: 92px;
    margin-right: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 17px;
}

.first_add_picture {
    margin-left: 60px;
}

.add_picture a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 100px;
    line-height: 92px;
    color: #D4D4D4;
    text-align: center;
}

.add_picture a input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
}

.add_picture .close {
    width: 30px;
    display: block;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    color: white;
    position: absolute;
    top: -10px;
    right: -10px;
    line-height: 20px;
    text-align: center;
}

.add_picture .close img {
    width: 100%;
    height: 100%;
}

.close em {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: -314px -493px;
}

.message_input {
    width: 508px;
    height: 30px;
    border: 1px solid #d3d3d3;
    margin-left: 60px;
    margin-top: 14px;
    padding-left: 3px;
}

.complete {
    width: 100px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #eec988;
    color: white;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

.date_detail {
    height: 38px;
    line-height: 38px;
    margin-left: 74px;
    font-size: 14px;
}

.construction_photo {
    margin-left: 60px;
    margin-top: 15px;
}

.construction_photo .photo {
    width: 92px;
    height: 92px;
    background-color: white;
    box-shadow: 0 0 10px #ededed;
    position: relative;
    margin-right: 15px;
}

.construction_photo .photo img {
    width: 86px;
    height: 86px;
    position: absolute;
    left: 3px;
    top: 3px;
}

.detail_describe {
    width: 540px;
    margin-left: 60px;
    padding-right: 60px;
    margin-top: 20px;
    color: #4b4948;
}

.see_details .complete {
    margin-top: 100px;
}

.complete:hover {
    color: white !important;
    background-color: #E88226;
    transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.order_process .detail_a {
    width: 88px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #eec988;
    display: inline-block;
    text-align: center;
    color: #eec988;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    background-color: white;
    border-style: inherit;
}

.order_process .new_edit {
    border: 1px solid #eec988;
    color: #eec988;
}

.order_process .detail_complete {
    margin-left: 40px;
}

#owner_information {
    margin: 20px 0;
    font-family: FZLTHJW;
    font-size: 14px;
    color: #EEC988;
    background: url(../img/bj-header.png) 0 -500px;
    margin-bottom: 50px;
}

.owner_information {
    width: 100%;
    min-width: 1190px;
    background-color: rgba(0, 0, 0, 0.85);
}

.owner_informationcnt {
    width: 1190px;
    position: relative;
    margin: 0 auto;
    height: 360px;
}

.owner_information .title {
    position: absolute;
    top: 25px;
    left: 0;
}

.owner_content {
    width: 840px;
    margin: 0 auto;
}

.owner_content .owner_picture {
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 50%;
}

.owner_content .owner_picture img {
    width: 95%;
    height: 95%;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
}

.owner_summary {
    width: 170px;
    padding-top: 30px;
    margin: 0 auto;
}

.owner_summary h3, .owner_summary p {
    font-size: 16px;
    position: relative;
    height: 22px;
    width: 130px;
    line-height: 22px;
    text-align: center;
}

.owner_summary p em {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    background-position: -817px -435px;
}

.owner_summary p span {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    height: 18px;
}

.owner_detail {
    margin-top: 20px;
    margin-left: 90px;
}

.owner_detail > div {
    float: left;
    min-height: 95px;
    padding: 5px 40px;
    font-size: 16px;
    border-right: 1px solid #EEC988;
}

.owner_detail .owner_right p {
    width: 180px;
}

.owner_detail > div:last-child {
    border: 0;
}

.owner_detail > div h3 {
    color: #686868;
}

.owner_detail .area, .owner_detail .type {
    margin-bottom: 10px;
}

.opacity {
    opacity: 0;
}
