<div id="pageheader" class="clearfix">
    <div class="logo_style">
        <div class="logo clearfix" title="嘿吼网">
            <a class="fl" rel="nofollow" href="http://www.heeyhome.com/" target="_blank">
                <img src="image/logo.png"/>
            </a>
            <span class="fl"></span>
        </div><!--logo-->
    </div><!--logo_style-->
    <div class="logo_withdraw">
        <p class="wChina">退款申请</p>
        <p>REFUND APPLICATION</p>
    </div><!--logo_withdraw-->
</div><!--pageheader-->
<div class="refundWrap">
    <div class="refund_title clearfix">
        <div class="title_detail fl active">
            <i class="iconfont">&#xe62f;</i>
            <span>申请退款</span>
        </div><!--title_detail-->
        <div class="title_detail fl">
            <i class="iconfont">&#xe60b;</i>
            <span>等待商家处理</span>
        </div><!--title_detail-->
        <div class="title_detail fl">
            <i class="iconfont">&#xe630;</i>
            <span>退款成功</span>
        </div><!--title_detail-->
    </div><!--refund_title-->
    <div class="refund_content">
        <div ui-view="refund_head"></div>
    </div><!--refund_content-->
</div><!--refundWrap-->
