<div class="stepOne_wrap" style="display: none">
    <div class="step_one clearfix">
        <div class="order_info fl">
            <div class="order_info_title">
                <span>订单信息</span>
            </div><!--order_info_title-->
            <div class="order_info_content">
                <p><i>订单编号</i><span id="order_number"></span></p>
                <p><i>交易类型</i><span id="order_step"></span></p>
                <p><i>交易时间</i><span id="order_time"></span></p>
            </div><!--order_info_content-->
        </div><!--order_info-->
        <div class="order_info fl">
            <div class="order_info_title">
                <span>退款金额</span>
            </div><!--order_info_title-->
            <div class="amount_content">
                <span>￥<i id="order_money"></i>元</span>
            </div><!--amount_content-->
        </div><!--order_info-->
        <div class="order_info fl">
            <div class="order_info_title account_title">
                <span>退款支付宝账户</span>
            </div><!--order_info_title-->
            <div class="account_content">
                <div class="account_input">
                    <i class="iconfont">&#xe62f;</i>
                    <input id="account" title="" type="text">
                </div><!--account_input-->
            </div><!--account_content-->
        </div><!--order_info-->
    </div> <!--step_one-->
    <a href="javascript:;" class="submit_application">提交申请</a>
</div>