<div class="successfully">
    <div class="successfullyWrap clearfix">
        <div class="successfully_left fl">
            <i class="iconfont">&#xe641;</i>
        </div><!--successfully_left-->
        <div class="successfully_right fl">
            <p class="process">退款成功！</p>
            <p id="wait" class="wait">钱已转入您<span>11111111111@163.com</span>支付宝账户，请注意查收</p>
        </div><!--successfully_right-->
    </div><!--successfullyWrap-->
    <div class="successfully_bottom">
        <a class="back_order" href="center.html#/center/morder">返回订单</a>
        <a class="back_index" href="index.html">返回主页</a>
    </div><!--successfully_bottom-->
</div><!--successfully-->