<div class="right_title">
	<h2>关于瓦工阶段的那些事</h2>
</div>
<ul class="right_detail">
	<a href="#nogo">
		<li>瓦工阶段注意事项</li>
	</a>
	<a href="#nogo">
		<li>瓦工阶段注意事项</li>
	</a>
	<a href="#nogo">
		<li>瓦工阶段注意事项</li>
	</a>
	<a href="#nogo">
		<li>瓦工阶段注意事项</li>
	</a>
	<a href="#nogo">
		<li>瓦工阶段注意事项</li>
	</a>
	<a href="#nogo">
		<li>瓦工阶段注意事项</li>
	</a>
	<a href="#nogo">
		<li>瓦工阶段注意事项</li>
	</a>
	<a href="#nogo">
		<li>瓦工阶段注意事项</li>
	</a>
	<a href="#nogo">
		<li>瓦工阶段注意事项</li>
	</a>
	<a href="#nogo">
		<li>瓦工阶段注意事项</li>
	</a>
	<a href="#nogo">
		<li>瓦工阶段注意事项</li>
	</a>
	<a href="#nogo">
		<li>瓦工阶段注意事项</li>
	</a>
</ul>
