<div class="right_title">
	<h2>大功告成，支付入住</h2>
</div>
<ul class="right_detail">
	<a href="#nogo">
		<li>支付入住前请务必自己确认，以免事后纠葛</li>
	</a>
	<a href="#nogo">
		<li>支付入住前请务必自己确认，以免事后纠葛</li>
	</a>
	<a href="#nogo">
		<li>支付入住前请务必自己确认，以免事后纠葛</li>
	</a>
	<a href="#nogo">
		<li>支付入住前请务必自己确认，以免事后纠葛</li>
	</a>
	<a href="#nogo">
		<li>支付入住前请务必自己确认，以免事后纠葛</li>
	</a>
	<a href="#nogo">
		<li>支付入住前请务必自己确认，以免事后纠葛</li>
	</a>
	<a href="#nogo">
		<li>支付入住前请务必自己确认，以免事后纠葛</li>
	</a>
	<a href="#nogo">
		<li>支付入住前请务必自己确认，以免事后纠葛</li>
	</a>
	<a href="#nogo">
		<li>支付入住前请务必自己确认，以免事后纠葛</li>
	</a>
	<a href="#nogo">
		<li>支付入住前请务必自己确认，以免事后纠葛</li>
	</a>
	<a href="#nogo">
		<li>支付入住前请务必自己确认，以免事后纠葛</li>
	</a>
	<a href="#nogo">
		<li>支付入住前请务必自己确认，以免事后纠葛</li>
	</a>
</ul>
