<div class="right_title">
	<h2>关于成品安装的那些事</h2>
</div>
<ul class="right_detail">
	<a href="#nogo">
		<li>成品安装前准备什么，注意事项</li>
	</a>
	<a href="#nogo">
		<li>成品安装前准备什么，注意事项</li>
	</a>
	<a href="#nogo">
		<li>成品安装前准备什么，注意事项</li>
	</a>
	<a href="#nogo">
		<li>成品安装前准备什么，注意事项</li>
	</a>
	<a href="#nogo">
		<li>成品安装前准备什么，注意事项</li>
	</a>
	<a href="#nogo">
		<li>成品安装前准备什么，注意事项</li>
	</a>
	<a href="#nogo">
		<li>成品安装前准备什么，注意事项</li>
	</a>
	<a href="#nogo">
		<li>成品安装前准备什么，注意事项</li>
	</a>
	<a href="#nogo">
		<li>成品安装前准备什么，注意事项</li>
	</a>
	<a href="#nogo">
		<li>成品安装前准备什么，注意事项</li>
	</a>
	<a href="#nogo">
		<li>成品安装前准备什么，注意事项</li>
	</a>
	<a href="#nogo">
		<li>成品安装前准备什么，注意事项</li>
	</a>
</ul>