<div class="right_title">
	<h2>关于整体验收的那些事</h2>
</div>
<ul class="right_detail">
	<a href="#nogo">
		<li>整体验收须确保以下几点，切记</li>
	</a>
	<a href="#nogo">
		<li>整体验收须确保以下几点，切记</li>
	</a>
	<a href="#nogo">
		<li>整体验收须确保以下几点，切记</li>
	</a>
	<a href="#nogo">
		<li>整体验收须确保以下几点，切记</li>
	</a>
	<a href="#nogo">
		<li>整体验收须确保以下几点，切记</li>
	</a>
	<a href="#nogo">
		<li>整体验收须确保以下几点，切记</li>
	</a>
	<a href="#nogo">
		<li>整体验收须确保以下几点，切记</li>
	</a>
	<a href="#nogo">
		<li>整体验收须确保以下几点，切记</li>
	</a>
	<a href="#nogo">
		<li>整体验收须确保以下几点，切记</li>
	</a>
	<a href="#nogo">
		<li>整体验收须确保以下几点，切记</li>
	</a>
	<a href="#nogo">
		<li>整体验收须确保以下几点，切记</li>
	</a>
	<a href="#nogo">
		<li>整体验收须确保以下几点，切记</li>
	</a>
</ul>
