<div class="right_title">
	<h2>关于水电改造的那些事</h2>
</div>
<ul class="right_detail">
	<a href="#nogo">
		<li>水电改造需要注意事项</li>
	</a>
	<a href="#nogo">
		<li>水电改造需要注意事项</li>
	</a>
	<a href="#nogo">
		<li>水电改造需要注意事项</li>
	</a>
	<a href="#nogo">
		<li>水电改造需要注意事项</li>
	</a>
	<a href="#nogo">
		<li>水电改造需要注意事项</li>
	</a>
	<a href="#nogo">
		<li>水电改造需要注意事项</li>
	</a>
	<a href="#nogo">
		<li>水电改造需要注意事项</li>
	</a>
	<a href="#nogo">
		<li>水电改造需要注意事项</li>
	</a>
	<a href="#nogo">
		<li>水电改造需要注意事项</li>
	</a>
	<a href="#nogo">
		<li>水电改造需要注意事项</li>
	</a>
	<a href="#nogo">
		<li>水电改造需要注意事项</li>
	</a>
	<a href="#nogo">
		<li>水电改造需要注意事项</li>
	</a>
</ul>
