<div class="right_title">
	<h2>关于开工初期的那些事</h2>
</div>
<ul class="right_detail">
	<a href="#nogo">
		<li>开工前需要准备什么？</li>
	</a>
	<a href="#nogo">
		<li>开工前需要准备什么？</li>
	</a>
	<a href="#nogo">
		<li>开工前需要准备什么？</li>
	</a>
	<a href="#nogo">
		<li>开工前需要准备什么？</li>
	</a>
	<a href="#nogo">
		<li>开工前需要准备什么？</li>
	</a>
	<a href="#nogo">
		<li>开工前需要准备什么？</li>
	</a>
	<a href="#nogo">
		<li>开工前需要准备什么？</li>
	</a>
	<a href="#nogo">
		<li>开工前需要准备什么？</li>
	</a>
	<a href="#nogo">
		<li>开工前需要准备什么？</li>
	</a>
	<a href="#nogo">
		<li>开工前需要准备什么？</li>
	</a>
	<a href="#nogo">
		<li>开工前需要准备什么？</li>
	</a>
	<a href="#nogo">
		<li>开工前需要准备什么？</li>
	</a>
</ul>
