<div class="right_title">
	<h2>关于施工材料的那些事</h2>
</div>
<ul class="right_detail">
	<a href="#nogo">
		<li>如何正确辨别瓷砖好坏？</li>
	</a>
	<a href="#nogo">
		<li>如何正确辨别瓷砖好坏？</li>
	</a>
	<a href="#nogo">
		<li>如何正确辨别瓷砖好坏？</li>
	</a>
	<a href="#nogo">
		<li>如何正确辨别瓷砖好坏？</li>
	</a>
	<a href="#nogo">
		<li>如何正确辨别瓷砖好坏？</li>
	</a>
	<a href="#nogo">
		<li>如何正确辨别瓷砖好坏？</li>
	</a>
	<a href="#nogo">
		<li>如何正确辨别瓷砖好坏？</li>
	</a>
	<a href="#nogo">
		<li>如何正确辨别瓷砖好坏？</li>
	</a>
	<a href="#nogo">
		<li>如何正确辨别瓷砖好坏？</li>
	</a>
	<a href="#nogo">
		<li>如何正确辨别瓷砖好坏？</li>
	</a>
	<a href="#nogo">
		<li>如何正确辨别瓷砖好坏？</li>
	</a>
	<a href="#nogo">
		<li>如何正确辨别瓷砖好坏？</li>
	</a>
</ul>