<!-- 当前位置start -->
<div id="selfcenter_top">
    <div class="now_location">
		您所在位置：
		<a href="../" title="嘿吼首页"><em></em></a>
		<span>&gt;</span>
		<span class="Jcenter" >支付成功</span>
	</div>
</div>
<!-- 当前位置end -->
	
<!-- 支付成功start -->
<div class="pay_success">
	<!-- 具体内容start -->
	<div class="spay_content">
		<div class="spay_title clearfix">
			<div class="spay_icon">
				<em class="sprite_remain"></em>
			</div>
			<div class="spay_tips">
				<p>支付成功!</p>
			</div>
		</div>
		<div class="spay_bottom">
			<ul>
				<li>
					<span class="spay_left">支付金额</span>
					<span class="spay_right">￥<span id="Jpay"></span>元</span>
				</li>
				<li>
					<span class="spay_left">订单编号</span>
					<span id="JorderId" class="spay_right"></span>
				</li>
				<li>
					<span class="spay_left">交易类型</span>
					<span id="JpayStep" class="spay_right"></span>
				</li>
				<li>
					<span class="spay_left">交易时间</span>
					<span id="JpayTime" class="spay_right"></span>
				</li>
			</ul>
			<div class="spay_button">
				<a id="Jview" class="view" href="" >查看订单</a>
				<a href="index.html" class="back">返回首页</a>
			</div>
		</div>
	</div>
	<!-- 具体内容end -->
</div>
<!-- 支付成功end -->
