<div id="calresultdiv" style="background: url(css/img/bj-header.png);background-attachment: fixed;">
	<div id="crcontainer">
		<div id="crcontent">
			<h3 class="col_eec988">计算结果展示</h3>
			<p class="col_eec988">*以下是根据您的需求为您计算的家装成本(如有疑惑请咨询客服)</p>
			<!-- 计算结果 start -->
			<div>
				<!-- 计算结果内容块 start -->
				<div class="cr_condiv">
					<!-- 人工费用模块 start -->
					<div id="rgcontent" class="cr_content clearfix">
						<!-- 人工费用圆圈图 start -->
						<div class="cr_title item0">
							<a>
								<em></em>
								<dl>人工费用</dl>
							</a>
						</div>
						<!-- 人工费用圆圈图 end -->
						<!-- 各工种费用 start -->
						<div id="JLaborCost" class="cr_con">
							<!-- 工长费用 start -->
							<div>
								<div class="plan_one">
									<!--<span>工期17-20天</span>-->
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>工长</dd>
										<dd><span class="gzrg"></span>元</dd>
										<dd>
											<a>查看他的工作内容&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 工长费用 end -->
							<!-- 水电工费用 start -->
							<div>
								<div class="plan_one">
									<!--<span>工期7-20天</span>-->
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>水电工工资</dd>
										<dd><span class="sdrg"></span>元</dd>
										<dd>
											<a>查看他的工作内容&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 水电工费用 end -->
							<!-- 瓦工费用 start -->
							<div>
								<div class="plan_one">
									<!--<span>工期7-20天</span>-->
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>瓦工工资</dd>
										<dd><span class="wgrg"></span>元</dd>
										<dd>
											<a>查看他的工作内容&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 瓦工费用 end -->
							<!-- 木工费用 start -->
							<div>
								<div class="plan_one">
									<!--<span>工期7-20天</span>-->
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>木工工资</dd>
										<dd><span class="mgrg"></span>元</dd>
										<dd>
											<a>查看他的工作内容&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 木工费用 end -->
							<!-- 油漆工费用 start -->
							<div>
								<div class="plan_one">
									<!--<span>工期7-20天</span>-->
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>油漆工工资</dd>
										<dd><span class="yqgrg"></span>元</dd>
										<dd>
											<a>查看他的工作内容&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 油漆工费用 end -->
							<!-- 杂工费用 start -->
							<div>
								<div class="plan_one">
									<!--<span>工期7-20天</span>-->
									<i></i>
								</div>
								<div class="wages lastWages">
									<dl>
										<dd>杂工工资</dd>
										<dd><span class="zgrg"></span>元</dd>
										<dd>
											<a>查看他的工作内容&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 杂工费用 end -->
							<div class="wages_tip">
								<span>*以上行程仅供参考，最终行程可能会根据实际情况进行微调，敬请以出团通知为准。请根据自身需要谨慎购物，索取发票。</span>
							</div>
						</div>
						<!-- 各工种费用 end -->
					</div>
					<!-- 人工费用模块 end -->
					<!-- 辅材费用模块 start -->
					<div class="cr_content clearfix">
						<!-- 辅材费用圆圈图 start -->
						<div class="cr_title item1">
							<a>
								<em></em>
								<dl>辅材费用</dl>
							</a>
						</div>
						<!-- 辅材费用圆圈图 end -->
						<!-- 各阶段购买材料费用 start -->
						<div class="cr_con">
							<!-- 水电阶段购买 start -->
							<div>
								<div class="plan_one">
									<span>水电阶段购买</span>
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>中端水电材料</dd>
										<dd><span class="zdsdcl"></span>元</dd>
										<dd>
											<a>查看需要哪些材料&gt;&gt;</a>
										</dd>
									</dl>
									<dl class="cr_dl_margintop">
										<dd>高端水电材料</dd>
										<dd><span class="gdsdcl"></span>元</dd>
										<dd>
											<a>查看需要哪些材料&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 水电阶段购买 end -->
							<!-- 瓦工阶段购买 start -->
							<div>
								<div class="plan_one">
									<span>瓦工阶段购买</span>
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>瓦工辅材</dd>
										<dd><span class="wgfc"></span>元</dd>
										<dd>
											<a>查看需要哪些材料&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 瓦工阶段购买 end -->
							<!-- 木工阶段购买 start -->
							<div>
								<div class="plan_one">
									<span>木工阶段购买</span>
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>木工辅材</dd>
										<dd><span class="mgfc"></span>元</dd>
										<dd>
											<a>查看需要哪些材料&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 木工阶段购买 end -->
							<!-- 油漆工阶段购买 start -->
							<div>
								<div class="plan_one">
									<span>油漆工阶段购买</span>
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>油漆材料</dd>
										<dd><span class="yqcl"></span>元</dd>
										<dd>
											<a>查看需要哪些材料&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 油漆工阶段购买 end -->
							<div class="wages_tip">
								<span>*以上行程仅供参考，最终行程可能会根据实际情况进行微调，敬请以出团通知为准。请根据自身需要谨慎购物，索取发票。</span>
							</div>
						</div>
						<!-- 各阶段购买材料费用 end -->
					</div>
					<!-- 辅材费用模块 end -->
					<div class="cr_btn">
						<span class="total">基础总计&nbsp;&nbsp;<em class="zxzj"></em></span>
						<span class="cr_collection"><i></i>收藏</span>
					</div>
					<div class="specialreminder">
						<h5>特别提醒：</h5>
						<span>以下费用仅供参考;油漆工结束后,一并购买卫浴、五金龙头、开关、插座、灯具，由水电工安装（无额外费用）</span>
					</div>
					<!-- 主材费用模块 start -->
					<div class="cr_content clearfix">
						<!-- 主材费用圆圈图 start -->
						<div class="cr_title item2">
							<a>
								<em></em>
								<dl>主材费用</dl>
							</a>
						</div>
						<!-- 主材费用圆圈图 end -->
						<!-- 各阶段购买主材费用 start -->
						<div class="cr_con">
							<!-- 瓦工开工前购买 start -->
							<div>
								<div class="plan_one">
									<span>瓦工开工前购买</span>
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>瓷砖（低端~高端）</dd>
										<dd><span class="czdd"></span>元~<span class="czgd"></span>元</dd>
										<dd>
											<a>查看明细&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 瓦工开工前购买 end -->
							<!-- 木工开工前购买 start -->
							<div>
								<div class="plan_one">
									<span>木工开工前购买</span>
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>板材（用于制作柜体）</dd>
										<dd><span class="bc"></span>元</dd>
										<dd>
											<a>查看明细&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 木工开工前购买 end -->
							<!-- 木工结束后购买 start -->
							<div>
								<div class="plan_one">
									<span>木工结束后购买</span>
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>大理石</dd>
										<dd><span class="dls"></span>元</dd>
										<dd>
											<a>查看明细&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 木工结束后购买 end -->
							<!-- 油漆结束后购买 start -->
							<div>
								<div class="plan_one">
									<span>油漆结束后购买</span>
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>地板</dd>
										<dd><span class="db"></span>元</dd>
										<dd>
											<a>查看明细&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 油漆结束后购买 end -->
							<!-- 腻子抵嵌结束前购买 start -->
							<div>
								<div class="plan_one">
									<span>腻子抵嵌结束前购买</span>
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>木门</dd>
										<dd><span class="mm"></span>元</dd>
										<dd>
											<a>查看明细&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 腻子抵嵌结束前购买 end -->
							<!-- 木门安装后一天购买 start -->
							<div>
								<div class="plan_one">
									<span>木门安装后一天购买</span>
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>厨房移门</dd>
										<dd><span class="cfym"></span>元</dd>
										<dd>
											<a>查看明细&gt;&gt;</a>
										</dd>
									</dl>
									<dl class="cr_dl_margintop">
										<dd>淋浴房移门</dd>
										<dd><span class="lyfym"></span>元</dd>
										<dd>
											<a>查看明细&gt;&gt;</a>
										</dd>
									</dl>
									<dl class="cr_dl_margintop">
										<dd>衣柜移门</dd>
										<dd><span class="ygym"></span>元</dd>
										<dd>
											<a>查看明细&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 木门安装后一天购买 end -->
							<!-- 木门完工后购买 start -->
							<div>
								<div class="plan_one">
									<span>木门完工后购买</span>
									<i></i>
								</div>
								<div class="wages">
									<dl>
										<dd>集成吊顶</dd>
										<dd><span class="jcdd"></span>元</dd>
										<dd>
											<a>查看明细&gt;&gt;</a>
										</dd>
									</dl>
									<dl class="cr_dl_margintop">
										<dd>橱柜石英石</dd>
										<dd><span class="cgsys"></span>元</dd>
										<dd>
											<a>查看明细&gt;&gt;</a>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 木门完工后购买 end -->
							<div class="wages_tip">
								<span>*以上行程仅供参考，未能详尽，细节工长会作出提醒。</span>
							</div>
						</div>
						<!-- 各阶段购买主材费用 end -->
					</div>
					<!-- 主材费用模块 end -->
					<div class="specialreminder">
						<h5>特别提醒：</h5>
						<span>油漆工结束后,一并购买卫浴、五金龙头、开关、插座、灯具，由水电工安装（无额外费用）</span>
					</div>
					<div class="cr_btn">
						<span class="cr_back">返回上一步&gt;&gt;</span>
					</div>
				</div>
				<!-- 计算结果内容块 end -->
			</div>
			<!-- 计算结果 end -->
		</div>
	</div>
</div>
