body #calcontainer {
    /*background-color: rgba(231,231,231,0.5)*/
}

#calcontent {
    color: #636363;
    width: 1190px;
    /*padding: 0 35px;*/
    margin: 0 auto
}

#calcontent h3 {
    font-size: 26px;
    padding: 45px 0 69px 0;
    height: 42px;
    line-height: 42px;
    text-align: center;
    /*font-weight: 600;*/
    position: relative
}

#calcontent .cal1, #calcontent .cal2, #calcontent .cal3, #calcontent .cal4, #calcontent .cal5 {
    position: relative;
    padding: 20px 45px 0px;
}

#calcontent .cal1 p, #calcontent .cal2 p, #calcontent .cal3 p, #calcontent .cal4 p {
    font-size: 14px;
    /*padding-left: 65px;*/
    height: 42px;
    line-height: 42px;
    position: relative;
    /*color: #f60;*/
    font-weight: 700;
    border-left: 3px solid #EEC988;
    /*background-color: rgba(242, 242, 242, 0.83);*/
    background-color: #ededed;
}

#calcontent .cal1 p {
    background-color: white;
    border-left: none;
}

#calcontent .cal3 p span {
    margin-left: 10px;
    padding-left: 25px;
}

#calcontent .cal3 p .can_choose {
    background-image: url(../img/sprite_cal.png);
    background-position: -372px -481px;
}

#calcontent .cal3 p .not_choose {
    background-image: url(../img/sprite_cal.png);
    background-position: -372px -306px;
}

#calcontent .cal3 p .al_choose {
    background-image: url(../img/sprite_cal.png);
    background-position: -372px -122px;
    margin-right: 10px;
}

#calcontent .cal1 .roomDefinition {
    position: relative;
    margin: 20px 0;
}

#calcontent .cal1 .roomDefinition .definition_list {
    padding: 10px 0;
}

.definition_item {
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    position: relative;
    color: #666;
    margin-bottom: 17px;
    margin-right: 60px;
}

.c_area {
    width: 148px;
    height: 38px;
    line-height: 38px;
    padding: 0px 7px 0px;
    border: 1px solid #636363;
    vertical-align: middle;
    margin: 0 5px 0 10px;
}

.tender_placeholder {
    color: #636363;
}

.tender_sup {
    position: absolute;
    right: 145px;
    color: #333;
    top: 0px;
    margin: 0;
}

#calcontent .cal1 .housediv {
    font-size: 14px;
    float: right;
}

#calcontent .cal1 .housediv div {
    display: inline-block;
    width: 75px;
    height: 35px;
    border: 1px solid #636363;
    line-height: 35px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    text-align: center;
    box-sizing: content-box;
    cursor: pointer;

}

#calcontent .cal1 .housediv ul {
    position: absolute;
    width: 100%;
    line-height: 30px;
    border: 1px solid #636363;
    z-index: 1;
    left: -1px;
    box-sizing: content-box;
    top: 35px;
}

#calcontent .cal1 .housediv ul li {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
}

#calcontent .cal1 .housediv ul li:hover {
    background-color: rgba(99, 99, 99, 0.3);
    color: #fff;
}

#calcontent .cal1 .housediv div::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #636363;
    float: left;
    position: absolute;
    right: 7px;
    top: 14px;
}

#calcontent .cal1 em.icon, #calcontent .cal2 em.icon, #calcontent .cal3 em.icon, #calcontent .cal4 em.icon {
    /*background: url(../img/icon-cal.png) no-repeat;*/
    width: 30px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
}

#calcontent .cal2 .roomsdiv {
    position: relative;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 14px;
}

#calcontent .cal2 .roomsdiv > div {
    display: inline-block;
    width: 150px;
    height: 35px;
    border: 1px solid #636363;
    line-height: 35px;
    margin-right: 30px;
    position: relative;
    text-align: center;
    box-sizing: content-box;
}

#calcontent .cal2 .roomsdiv > div a {
    float: left;
    width: 35px;
    height: 35px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    cursor: default;
}

#calcontent .cal2 .roomsdiv > div span {
    display: inline-block;
    cursor: default;
    line-height: 36px;
    /*margin: 0 5px;*/
}

#calcontent .cal2 .roomsdiv > div .sub-btn {
    background-image: url(../img/sprite_cal.png);
    background-position: -81px -504px;
    display: inline-block;
}

#calcontent .cal2 .roomsdiv > div .sub-btn.off {
    background-image: url(../img/sprite_cal.png);
    background-position: -81px -96px;
}

#calcontent .cal2 .roomsdiv > div .add-btn {
    /*background: url(../img/icon-add.png) center center no-repeat;*/
    background-image: url(../img/sprite_cal.png);
    background-position: -82px -368px;
    display: inline-block;
    float: right;
}

#calcontent .cal2 .roomsdiv > div .add-btn.off {
    /*background-image: url(../img/i-add.png);*/
    background-image: url(../img/sprite_cal.png);
    background-position: -81px -232px;
}

.clear_float {
    clear: both;
    font-size: 1px;
    height: 0;
    width: 0;
    line-height: 1;
    overflow: hidden;
}

#calcontent .cal3 .mainareadiv, #calcontent .cal4 .othersdiv {
    position: relative;
    padding: 20px 0;
    font-size: 14px;
    border-top: 1px dashed #636363;
}

#calcontent .cal4 .othersdiv {
    border-top: 0px;
    border-bottom: 1px dashed #636363;
}

#calcontent .cal3 .m1 {
    border-top: 0px;
}

#calcontent .cal3 .mainareadiv .craft_left {
    position: relative;
    float: left;
    width: 570px;
    height: 460px;
    padding: 10px 0;
}

#calcontent .cal4 .othersdiv .craft_left {
    position: relative;
    float: left;
    width: 500px;
    height: 105px;
    padding: 10px 0;
}

#calcontent .cal3 .mainareadiv .craft_left .border_line {
    position: absolute;
    width: 1px;
    height: 261px;
    background-position: -505px -0px;
    top: 85px;
    right: 25px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con, #calcontent .cal4 .othersdiv .craft_left .list_con, #calcontent .cal5 .lastdiv .craft_left .list_con {
    position: relative;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li, #calcontent .cal4 .othersdiv .craft_left .list_con li, #calcontent .cal5 .lastdiv .craft_left .list_con li {
    float: left;
    width: auto;
    height: 160px;
    color: #333;
    display: inline;
    margin-right: 55px;
}

#calcontent .cal5 .lastdiv .craft_left .list_con li {
    margin-right: 50px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label, #calcontent .cal4 .othersdiv .craft_left .list_con li label, #calcontent .cal5 .lastdiv .craft_left .list_con li label {
    position: relative;
    padding-left: 26px;
    margin-bottom: 0px;
    /*cursor: pointer;*/
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label s, #calcontent .cal4 .othersdiv .craft_left .list_con li label s, #calcontent .cal5 .lastdiv .craft_left .list_con li label s {
    background-image: url(../img/sprite_cal.png);
    background-position: -372px -482px;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 32px;
    left: 0;
}

#calcontent .cal5 .lastdiv .craft_left .list_con li label s {
    top: 40px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label .rep_craft_check, #calcontent .cal4 .othersdiv .craft_left .list_con li label .rep_craft_check, #calcontent .cal5 .lastdiv .craft_left .list_con li label .rep_craft_check {
    background-position: -372px -123px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label .can_not_check, #calcontent .cal4 .othersdiv .craft_left .list_con li label .can_not_check, #calcontent .cal5 .lastdiv .craft_left .list_con li label .can_not_check {
    background-position: -372px -307px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label div, #calcontent .cal4 .othersdiv .craft_left .list_con li label div, #calcontent .cal5 .lastdiv .craft_left .list_con li label div {
    float: left;
    margin: 0 10px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label div > em, #calcontent .cal4 .othersdiv .craft_left .list_con li label div > em, #calcontent .cal5 .lastdiv .craft_left .list_con li label div > em {
    display: inline-block;
    width: 64px;
    height: 64px;
    text-indent: -999px;
    background: url(../img/sprite-cal.png) no-repeat;
}

#calcontent .cal5 .lastdiv .craft_left .list_con li label div > em {
    width: 84px;
    height: 84px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label div.room0 > em {
    background-position: -180px -220px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label div.room1 > em {
    background-position: -360px -23px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label div.room2 > em {
    background-position: -87px -218px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label div.room3 > em {
    background-position: -275px -24px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label div.room4 > em {
    background-position: -363px -215px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label div.room5 > em {
    background-position: -450px -20px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label div.room6 > em {
    background-position: -9px -218px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label div.room7 > em {
    background-position: -446px -213px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label div.room8 > em {
    background-position: -271px -218px;
}

#calcontent .cal4 .othersdiv .craft_left .list_con li label div.room9 > em {
    background-position: -4px -16px;
}

#calcontent .cal5 .lastdiv .craft_left .list_con li label div.room10 > em {
    background-position: -168px -9px;
}

#calcontent .cal5 .lastdiv .craft_left .list_con li label div.room11 > em {
    background-position: -75px -13px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li label div > dl, #calcontent .cal4 .othersdiv .craft_left .list_con li label div > dl, #calcontent .cal5 .lastdiv .craft_left .list_con li label div > dl {
    font-weight: 100;
    text-align: center;
    height: 25px;
    font-size: 1em;
    color: #636363;
    overflow: hidden;
    line-height: 15px;
}

#calcontent .cal4 .othersdiv .craft_left .list_con li label div > dl {
    line-height: 24px;
}

#calcontent .cal3 .mainareadiv .craft_left .list_con li .already_choose, #calcontent .cal4 .othersdiv .craft_left .list_con li .already_choose {
    display: block;
    text-align: center;
    border: 1px solid #636363;
    line-height: 22px;
    font-size: 12px;
    /*width: 55px;*/
    width: 74px;
    margin: 0 auto;
    color: #fff;
    background: #636363;
    border-radius: 3px;
}

#calcontent .cal3 > div.mainareadiv .filter_nav {
    position: relative;
    float: left;
    padding: 8px 0 8px 70px;
    width: 510px;
}

#calcontent .cal4 > div.othersdiv .filter_nav {
    position: relative;
    float: left;
    padding: 8px 0 8px 32px;
    width: 530px;
}

.filter_nav .filter_item {
    width: 450px;
    border-top: 1px dashed #ddd;
    line-height: 44px
}

#calcontent .cal3 > div.mainareadiv .filter_nav .filter_item {
    line-height: 48px
}

#calcontent .cal4 > div.othersdiv .filter_nav .filter_item {
    width: 545px;
}

.filter_nav .filter_item:first-child {
    border-top: none
}

.filter_nav .filter_item > div {
    padding-left: 115px
}

.filter_nav .filter_item .item_title {
    float: left;
    margin-bottom: 0;
    color: #636363;
    font-weight: 100
}

.filter_nav .filter_item .item_mod > span, .filter_nav .filter_item .item_mod > a {
    display: inline-block;
    cursor: pointer;
    color: #636363;
    margin-right: 15px
}

.filter_nav .filter_item .item_mod > a:hover {
    color: #EEC988;
}

#calcontent .cal3 > div.mainareadiv .filter_nav .filter_item .item_mod > span, #calcontent .cal3 > div.mainareadiv .filter_nav .filter_item .item_mod > a {
    margin-right: 32px
}

.filter_nav .filter_item .item_mod > a.cit {
    color: #EEC988;
    cursor: auto;
    font-weight: 700
}

#calcontent .cal5 .lastdiv {
    position: relative;
    padding: 10px 0;
    font-size: 14px;
}

#calcontent .cal5 .lastdiv .craft_left {
    position: relative;
    float: left;
    width: 525px;
    height: 145px;
    padding: 10px 0;
}

#calcontent .cal5 > div.lastdiv .cal6 {
    position: relative;
    float: left;
    padding: 60px 0 8px 0;
    width: 480px;
}

#calcontent .cal5 > div.lastdiv .cal6 > input.nowcal {
    height: 50px;
    padding: 0 55px;
    font-size: 1.35em;
    line-height: 30px;
    text-align: center;
    overflow: visible;
    outline: 0;
    border-radius: 3px;
    color: #ffffff;
    border: 1px solid #636363;
    background: transparent;
    letter-spacing: 5px;
    background-color: #636363;
}

#calcontent .cal5 > div.lastdiv .cal6 > input.nowcal:hover {
    background-color: #4b4948;
}

.item_hover_0:after {
    transform: rotate(0deg);
    transition: transform 0.3s
}

.item_hover_180:after {
    transform: rotate(180deg);
    transition: transform 0.3s
}

.roomsdiv input {
    width: 22px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    border: 0;
    color: #636363;
    /*background-color: rgba(242, 242, 242, 0.83);*/
    text-align: center;
}

.savediv {
    position: relative;
}

.savediv .saveBtn {
    display: inline-block;
    position: relative;
    background-color: #EEC988;
    color: #fff;
    font-size: 16px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    padding: 0 26px;
    border: 0;
    cursor: pointer;
    margin: 15px 0 0 115px;
}

.none {
    display: none !important;
}

.title {
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.prompt {
    color: #999;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    padding: 120px 0 80px 0;
}

.prompt i {
    position: relative;
    background: url(../../css/img/sprite_extra.png) no-repeat;
    background-position: -9px -298px;
    width: 104px;
    height: 104px;
    display: inline-block;
}

.prompt span {
    display: block;
    float: left;
    width: 100%;
    margin: 30px 0;
}

.Jcursor {
    cursor: pointer !important;
}
