.improvement_process {
	position: relative
}

.improvement_content {
	width: 1190px;
	margin: 0 auto
}

.improvement_process h3 {
    border-left: 3px solid #EEC988;
    padding-left: 12px;
    font-size: 20px;
    color: #4B4948;
    line-height: 22px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 16px
}

.improvement_process h3>span {
    font-size: 14px;
    display: inline-block;
    margin-left: 5px
}

.process_picture {
	margin-left: 70px;
	width: 1117px;
	height: 487px
}
