/**
 * 首页轮播图
 */
#myCarousel img {
	width: 100%;
	height: 693px
}

#myCarousel .carousel-indicators li {
	opacity: 100%;
	border: 0;
	background-color: #5E5E5E;
	width: 52px;
	height: 6px;
	margin: 0 15px 0 0;
	border-radius: 3px
}

#myCarousel .carousel-indicators .active {
	background-color: #EEC988
}

.number_control {
	position: absolute;
	z-index: 50;
	right: 269px;
	top: 179px
}

.number_control .line {
	width: 1px;
	border-left: 1px solid #FFFFFF;
	margin: 0 0 20px 6px;
	height: 66px
}

#myCarousel .number_control li {
	list-style: none;
	position: relative;
	font-family: HelveticaNeueLTPro Md;
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom: 15px
}

#myCarousel .number_control li.active {
	font-size: 20px
}
/**
 * 家装流程
 */
.improvement_process {
	position: relative;
    margin-top: 93px;
    margin-bottom: 102px;
}

.improvement_content {
	width: 1190px;
	margin: 0 auto
}

.improvement_process h3 {
    border-left: 3px solid #EEC988;
    padding-left: 12px;
    font-size: 20px;
    color: #4B4948;
    line-height: 22px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 16px
}

.improvement_process h3>span {
    font-size: 14px;
    display: inline-block;
    margin-left: 5px
}

.process_picture {
	padding: 30px 0;
	margin-left: 30px
}
/**
 * 虚拟现实
 */
.virtual_reality {
	position: relative
}

.virtual_content {
	width: 1190px;
	margin: 0 auto
}

.virtual_reality .virtual_content>h3 {
    border-left: 3px solid #EEC988;
    padding-left: 12px;
    font-size: 20px;
    color: #4B4948;
    line-height: 22px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 16px
}

.virtual_reality h3>span {
    font-size: 14px;
    display: inline-block;
    margin-left: 5px
}

.virtual_reality h3>span.s_more {
	cursor: pointer;
	float: right
}

.vr_picture .box_picture_1 {
	width: 389px;
	height: 306px
}

.vr_picture .box_picture_1 a  {
	display: block;
	width: 100%;
	height: 100%
}

.vr_picture .box_picture_1 a>img  {
	width: 100%;
	height: 100%
}

.vr_picture .box_picture_2 {
	width: 389px;
	height: 513px
}

.vr_picture .box_picture_2 a  {
	display: block;
	width: 100%;
	height: 100%
}

.vr_picture .box_picture_2 a>img  {
	width: 100%;
	height: 100%
}

.vr_picture {
	position: relative;
	margin: 0 auto;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	height: 900px
}

.box_picture {
	position: absolute;
	overflow: hidden;
	text-align: center;
}

.vr_picture>div:nth-child(1) {
	top: 0;
	left: 0
}

.vr_picture>div:nth-child(2) {
	top: 316px;
	left: 0
}

.vr_picture>div:nth-child(3) {
	top: 0;
	left: 399px
}

.vr_picture>div:nth-child(4) {
	top: 523px;
	left: 399px
}

.vr_picture>div:nth-child(5) {
	top: 0;
	left: 798px
}

.vr_picture>div:nth-child(6) {
	top: 316px;
	left: 798px
}


.pic_content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	background: rgb(0,0,0)
}

.pic_content .pic_icon {
	width: 60px;
	height: 60px;
	border-radius: 50%
}

.box_picture_1 .pic_icon {
	margin: 130px 165px 5px 164px
}

.box_picture_2 .pic_icon {
	margin: 225px 165px 5px 164px
}

.pic_content .pic_icon img {
	width: 100%;
	height: 100%
}

.box_picture a>img {
	transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear
}

.box_picture a:hover>img {
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

.box_picture:hover .pic_content {
	opacity: 0.6;
    -webkit-transition: -webkit-transform .3s ease-out,opacity .3s ease-out;
    transition: transform .3s ease-out,opacity .3s ease-out;
    -ms-transition: -ms-transform .3s ease-out,opacity .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out,opacity .3s ease-out
}

.box_picture .pic_content .pic_title h3{
	font-family: HelveticaNeueLTPro Md;
	margin-bottom: 2px;
	border-radius: 3px;
	padding-bottom: 10px;
	border-bottom: 2px solid #EEC988;
	font-size: 24px;
	color: #FFFFFF
}

.box_picture .pic_content .pic_title .pic_line {
	border: 0;
	border-radius: 3px;
	width: 60px;
	height: 2px;
	margin-left: 165px;
	background-color: #EEC988
}

.box_picture .pic_content .pic_name {
	width: 100px;
	margin: 10px 0 0 145px;
	font-family: FZLTHJW;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF
}
/**
 * 预约自装
 */
.appointment_decoration {
	background: url(../img/bg-decoration.png) no-repeat;
	position: relative
}

.appointment_content {
	width: 1190px;
	padding-bottom: 230px;
	margin: 0 auto
}

.appointment_decoration .button_decoration {
	margin: 124px 392px 88px 392px
}

.appointment_decoration .button_decoration .btn_decoration {
	text-align: center;
	width: 405px;
	height: 132px;
	background-color: #EEC988;
	opacity: 100%;
	border-radius: 4px;
	-webkit-box-shadow: 3px 5px 20px #939393;
    -moz-box-shadow: 3px 5px 20px #939393;
    box-shadow: 3px 5px 20px #939393;
	text-shadow: #666 4px 4px 5px;
	font-family: FZLTZHK;
	font-size: 40px;
	color: #FFFFFF;
	border: 0;
	outline: 0;
	cursor: pointer
}

.appointment_decoration .button_decoration .btn_decoration:hover {
	transition: all 0.3s;
	text-shadow: #000 4px 4px 5px;
	-webkit-box-shadow: 3px 5px 20px #666;
    -moz-box-shadow: 3px 5px 20px #666;
    box-shadow: 3px 5px 20px #666
	
}

.appointment_decoration .title {
	position: relative;
	margin: 0 auto
}

.appointment_decoration .title .line_left {
	width: 320px;
	height: 14px;
	position: absolute;
	left: 60px;
	top: 5px;
	background: url(../img/line-left.png) no-repeat
}

.appointment_decoration .title .line_right {
	width: 320px;
	height: 14px;
	position: absolute;
	right: 60px;
	top: 5px;
	background: url(../img/line-right.png) no-repeat
}

.appointment_decoration .title .title_text h2 {
	color: #E88226;
	font-family: FZLTHJW;
	position: relative;
	text-align: center;
	font-size: 28px
}

.appointment_decoration .right_bar {
	width: 71px;
	height: 347px;
	position: absolute;
	right: 156px;
	top: 0;
	-moz-box-shadow:0px 0px 15px #939393; 
	-webkit-box-shadow:0px 0px 15px #939393; 
	border: 1px solid #FFFFFF;
	box-shadow: 0px 0px  15px #939393
}

.appointment_decoration .right_bar .right_bar_1 {
	cursor: pointer;
	width: 40px;
	height: 43px;
	margin: 15px 0 0 20px;
	padding-bottom: 15px;	
	background: url(../img/icon-service.png) no-repeat
}

.appointment_decoration .right_bar .right_bar_2 {
	cursor: pointer;
	width: 34px;
	height: 33px;
	margin: 15px 0 0 20px;
	padding-bottom: 15px;	
	background: url(../img/icon-feedback.png) no-repeat
}

.appointment_decoration .right_bar .right_bar_3 {
	cursor: pointer;
	width: 35px;
	height: 35px;
	margin: 15px 0 0 20px;
	padding-bottom: 15px;	
	background: url(../img/icon-scan.png) no-repeat
}

.appointment_decoration .right_bar .right_bar_4 {
	cursor: pointer;
	width: 37px;
	height: 33px;
	margin: 15px 0 0 20px;
	padding-bottom: 15px;	
	background: url(../img/icon-floader.png) no-repeat
}

.appointment_decoration .right_bar .right_bar_5 {
	cursor: pointer;
	width: 32px;
	height: 34px;
	margin: 15px 0 0 20px;
	padding-bottom: 15px;
	
	background: url(../img/icon-totop.png) no-repeat
}


