/**
 * 工长个人店铺顶部
 */

#selfshop_top {
	position: relative
}

#selfshop_top .selfshop_content {
	width: 1190px;
	margin: 0 auto
}

#selfshop_top .picBtnTop {
	border: 1px solid #ccc;
	position: relative;
	float: left;
	overflow: hidden;
	zoom: 1
}

#selfshop_top .picBtnTop .hd {
	float: right;
	width: 170px;
	height: 393px;
	margin: 0 1px 0 3px
}

#selfshop_top .picBtnTop .hd ul li {
	cursor: pointer;
	position: relative;
	display: block;
	width: 170px;
	height: 95px;
	background: #000;
	margin-bottom: 4px
}

#selfshop_top .picBtnTop .hd ul li.on img {
	transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	opacity: 1
}

#selfshop_top .picBtnTop .hd ul li img {
	opacity: .5;
	width: 100%;
	height: 100%
}

#selfshop_top .picBtnTop .bd {
	width: 630px;
	height: 393px;
	float: left;
	position: relative
}

#selfshop_top .picBtnTop .bd li {
	position: relative;
	zoom: 1;
	vertical-align: middle
}

#selfshop_top .picBtnTop .bd li .pic {
	position: relative;
	z-index: 0
}

#selfshop_top .picBtnTop .bd li .pic img {
	width: 630px;
	height: 393px;
	vertical-align: bottom
}

#selfshop_top .picBtnTop .bd li .bg {
	width: 400px;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	background: #000;
	filter: alpha(opacity=60);
	opacity: 0.6
}

#selfshop_top .picBtnTop .bd li .title {
	width: 400px;
	height: 30px;
	line-height: 30px;
	left: 0;
	bottom: 0;
	position: absolute;
	z-index: 2
}

#selfshop_top .picBtnTop .bd li .title a {
	color: #fff;
	padding-left: 15px
}

#selfshop_top .shop_information {
	float: left;
	height: 395px;
	margin-left: 40px;
	position: relative
}

#selfshop_top .shop_information .shop_name {
	font-family: FZLTHJW;
	color: #E88226;
	font-size: 22px;
	height: 23px;
	margin-bottom: 16px
}

#selfshop_top .shop_information .shop_name h2 {
	float: left;
	font-size: 22px;
	margin-right: 21px;
	margin-top: 0;
	margin-bottom: 0
}

#selfshop_top .shop_information .shop_name img {
	height: 18px
}

#selfshop_top .shop_information .signature {
	color: #A5A5A5;
	font-family: FZLTHJW;
	font-size: 14px;
	margin-bottom: 13px
}

#selfshop_top .shop_information .signature h3 {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	margin: 0
}

#selfshop_top .shop_information .shop_introduce {
	padding: 10px 0
}

#selfshop_top .shop_information .shop_introduce p em.icon-position {
	margin-right: 5px;
    display: inline-block;
    width: 29px;
    height: 25px;
    vertical-align: middle;
    background-position: -17px -258px
}

#selfshop_top .shop_information .shop_introduce p {
	color: #656565;
	font-family: FZLTHJW;
	font-size: 14px;
	margin: 0 0 0!important;
}

#selfshop_top .shop_information .shop_introduce .service_area {
	padding: 14px 0 18px 0
}

#selfshop_top .shop_information .shop_introduce p input {
	border: 0;
	cursor: pointer;
	border-radius: 2px;
	font-family: FZLTHJW;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #525252;
	text-align: center;
	width: 78px;
	height: 23px;
	margin-left: 11px
}

#selfshop_top .shop_information .shop_introduce p input:hover {
	color: #EEC988;
	background-color: #363636;
	transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear
}

#selfshop_top .shop_information .shop_introduce .good_style {
	position: relative;
	color: #656565;
	font-family: FZLTHJW;
	font-size: 14px;
	margin-right: 13px;
	float: left
}

#selfshop_top .shop_information .shop_introduce span {
	color: #656565;
	font-family: FZLTHJW;
	font-size: 14px
}

#selfshop_top .shop_information .shop_assess {
	margin: 21px 0 22px 0
}

#selfshop_top .shop_information .shop_assess div {
	float: left;
	padding: 0 32px 0 32px;
	color: #656565;
	font-family: FZLTHJW;
	font-size: 14px;
	border-right: 1px solid #656565
}

#selfshop_top .shop_information .shop_assess div:first-child {
	padding-left: 0
}

#selfshop_top .shop_information .shop_assess div:last-child {
	border: 0
}

#selfshop_top .shop_information .shop_assess div p:first-child {
	margin-bottom: 12px
}

#selfshop_top .shop_information .shop_assess div span {
	font-family: FZLTDHK;
	font-size: 18px;
	color: #E88226;
	padding: 0 2px 0 3px
}

#selfshop_top .shop_information .shop_button {
	position: relative;
	padding-top: 7px;
	margin-left: -20px
}

#selfshop_top .shop_information .shop_order input {
	width: 345px;
	height: 43px;
	color: #FFFFFF;
	background-color: #525252;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	text-align: center;
	font-family: FZLTHJW;
	font-size: 18px
}

#selfshop_top .shop_information .shop_order input:hover {
	transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	background-color: #363636
}

#selfshop_top .shop_information .shop_like {
	margin-top: 15px;
	position: relative
}

#selfshop_top .shop_information .shop_like .collect_shop {
	float: left;
	background-color: #525252;
	color: #FFFFFF;
	font-family: FZLTHJW;
	font-size: 16px;
	width: 162px;
	height: 37px;
	line-height: 37px;
	border: 0;
	cursor: pointer;
	border-radius: 4px
}

#selfshop_top .shop_information .shop_like .collect_shop:hover {
	transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	background-color: #363636
}

#selfshop_top .shop_information .shop_like .collect_shop span {
	background-position: -23px -306px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 10px 17px 0 46px;
	vertical-align: top
}

#selfshop_top .shop_information .shop_like .share_shop {
	float: left;
	background-color: #FFFFFF;
	color: #4B4948;
	font-family: FZLTHJW;
	font-size: 16px;
	width: 162px;
	height: 37px;
	line-height: 37px;
	margin-left: 21px;
	border: 1px solid #656565;
	cursor: pointer;
	border-radius: 4px
}

#selfshop_top .shop_information .shop_like .share_shop:hover {
	transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	background-color: #F7E1B5
}

#selfshop_top .shop_information .shop_like .share_shop span {
	background-position: -56px -306px;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 8px 15px 0 46px;
	vertical-align: top
}


/**
 * 导航
 */

#tabUl {
	width: 1190px;
	height: 56px;
	margin: 0 auto;
	margin-top: 42px;
}

.tabUl {
	width: 1190px;
	height: 56px;
	position: static;
	z-index: 999;
	display: block;
	top: 0;
	margin-top: 0 !important;
}

.tabUl li {
	float: left;
	/*width: 160px;*/
	width: 148px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	background: url("../../css/img/tab_li_bd.png") no-repeat top right;
	background-color: #525252;
}

.tabUl li:hover {
	cursor: pointer;
}

.tabUl li:last-child {
	background-image: none;
}

.tabUl li a {
	color: white;
	font-size: 18px;
}

.tabUl .tab_active {
	background-color: #EEC988
}

.tabUl .tab_active a {
	color: #4b4948;
}

.tabUl .tab_active a:hover {
	text-decoration: none;
}

.tabUl .first_tab,
.tabUl .last_tab {
	width: 151px;
}

.tabUl .first_tab {
	border-radius: 4px 0 0 4px;
}

.tabUl .last_tab {
	border-radius: 0 4px 4px 0;
}

.tab_content .tab_56 {
	height: 56px;
	padding-top: 0;
	margin-top: 0;
}

.same_class {
	padding-top: 56px;
	margin-top: -56px;
}

#selfshop_top {
	position: relative
}

#selfshop_top .selfshop_content {
	width: 1190px;
	margin: 0 auto
}

#selfshop_top .pic_bigshop {
	width: 630px;
	height: 393px;
	float: left;
	position: relative
}

.ui-tabs-hide {
	display: none
}

/**
 * 店长信息
 */

#manager_information {
	position: relative;
	width: 1190px;
	margin: 0 auto;
	clear: both
}

#manager_information> h3,
#our_process> h3 {
	border-left: 3px solid #EEC988;
	padding-left: 12px;
	font-size: 20px;
	color: #4B4948;
	line-height: 22px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 49px;
	margin-top: 20px
}

#manager_information h3> span,
#our_process> h3> span {
	font-size: 14px;
	display: inline-block;
	margin-left: 5px
}

#manager_information .manager_content> div {
	margin: 0 auto;
	width: 395px;
	float: left
}

#manager_information .manager_introduce,
.work_experience {
	position: relative
}

#manager_information .manager_introduce .border_line,
.work_experience .border_line {
	position: absolute;
	width: 1px;
	height: 261px;
	background-position: -505px -0px;
	top: 10px;
	right: 0
}

#manager_information .manager_introduce .icon_head {
	width: 86px;
	height: 86px;
	margin: 0 auto
}

#manager_information .manager_introduce .icon_head>img {
	border-radius: 43px;
	width: 100%;
	height: 100%;
}

#manager_information .manager_introduce .manager_detail {
	margin: 21px 0 0 120px;
	color: #4B4948;
	font-family: FZLTZHK;
	font-size: 14px
}

#manager_information .manager_introduce .manager_detail div {
	margin-bottom: 12px
}

#manager_information .manager_introduce .manager_detail div:last-child {
	margin-bottom: 0
}

#manager_information .manager_introduce .manager_detail div> span:first-child {
	display: inline-block;
	text-align: left;
	width: 60px;
	margin-right: 35px
}

#manager_information .manager_introduce .manager_detail div> span:last-child {
	display: inline-block;
	text-align: left;
	width: 140px
}

#manager_information .work_experience .icon_experience,
.decoration_history .icon_decoration {
	width: 86px;
	height: 86px;
	position: relative;
	border-radius: 43px;
	margin: 0 auto;
	background-color: #525252
}

#manager_information .work_experience ul {
	margin: 21px 0 0 110px;
	color: #4B4948;
	font-family: FZLTZHK;
	font-size: 14px
}

#manager_information .work_experience li {
	margin-bottom: 12px;
	list-style-type: disc
}

#manager_information .work_experience li:last-child {
	margin: 0
}

#manager_information .work_experience .icon_experience em {
    position: absolute;
    left: 31px;
    top: 15px;
    display: inline-block;
    width: 25px;
    height: 29px;
    vertical-align: middle;
    background-position: -109px -362px;
}

#manager_information .work_experience .icon_experience span {
	color: #FFFFFF;
	font-family: FZLTHJW;
	position: absolute;
	top: 45px;
	left: 15px;
	font-size: 14px
}

#manager_information .decoration_history .icon_decoration em {
	position: absolute;
    left: 28px;
    top: 13px;
    display: inline-block;
    width: 32px;
    height: 34px;
    vertical-align: middle;
    background-position: -101px -294px;
}

#manager_information .decoration_history .icon_decoration span {
	color: #FFFFFF;
	font-family: FZLTHJW;
	position: absolute;
	top: 48px;
	left: 16px;
	font-size: 14px
}

#manager_information .decoration_history ul {
	margin: 21px 0 0 158px;
	color: #4B4948;
	font-family: FZLTZHK;
	font-size: 14px
}

#manager_information .decoration_history ul li {
	margin-bottom: 12px
}

#manager_information .decoration_history ul li:last-child {
	margin-bottom: 0
}


/**
 * 本店工艺
 */

#our_process {
	position: relative;
	width: 1190px;
	margin: 50px auto;
	clear: both
}

#our_process .process_box {
	float: left;
	width: 223px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	position: relative;
	margin-right: 15px;
	font-size: 0;
	line-height: 0
}

#our_process .process_box:hover img {
	opacity: .8;
	box-shadow: 0 0 2px #666
}

#our_process .process_box a img {
	width: 100%;
	height: 155px;
	cursor: pointer;
	margin: 0 auto;
	display: block;
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s
}

#our_process .process_box a div.btntc {
	position: relative;
	padding: 8px 5px 8px 14px;
	box-shadow: 0 -1px 1px #ddd;
	line-height: 23px;
	font-size: 16px;
	font-family: arial, tahoma, 'Microsoft Yahei', '\5b8b\4f53', sans-serif;
	color: #333;
	text-decoration: none;
}

#our_process .process_box a div.btntc i {
	display: inline-block;
	width: 22px;
	height: 20px;
	margin: 2px 6px 0 0;
	vertical-align: middle;
	background-position: -17px -345px;
	float: left;
	position: relative;
}

#our_process .process_box a div.btntc p {
	overflow: hidden;
	cursor: pointer;
}

#our_process .process_box a div.btntc p em {
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical
}


/**
 * 成功案例
 */

#sdcontent {
	color: #636363;
	width: 1190px;
	padding: 20px 0;
	margin: 0 auto
}

#sdcontent h3 {
	border-left: 3px solid #EEC988;
	padding-left: 12px;
	font-size: 20px;
	color: #4B4948;
	line-height: 22px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 16px
}

#sdcontent h3> span {
	font-size: 14px;
	display: inline-block;
	margin-left: 5px
}

#sdcontent h3> span.s_more {
	float: right;
	margin-right: 10px
}

#sdcontent h3> span.s_more a {
	color: #666;
	cursor: pointer;
}

#sdcontent h3> span.s_more a:hover {
	color: #EEC988;
}


/*#sdcontent .sd_swith {
	text-align: center;
	margin: 35px
}

#sdcontent .sd_swith .select {
	font-size: 16px;
	color: #666;
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ccc;
	cursor: pointer;
	text-shadow: 0 0 1px #999;
	box-sizing: border-box;
}

#sdcontent .sd_swith .sd_completed {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	position: relative;
	left: 4px
}

#sdcontent .sd_swith .sd_unfinished {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	position: relative
}

#sdcontent .sd_swith .selected {
	border: 0;
	background-color: #525252;
	color: #fff;
	position: relative;
	z-index: 100;
	top: -1px;
}*/

#sdcontent .sdcon {
	margin: 0 auto
}

#sd_hexgrid {
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	padding: 0.866% 0;
	font-family: Arial;
	font-size: 15px
}

#sd_hexgrid:after {
	content: "";
	display: block;
	clear: both
}

#sd_hexgrid .sd_hexli {
	cursor: pointer;
	position: relative;
	list-style-type: none;
	float: left;
	overflow: hidden;
	visibility: hidden;
	outline: 1px solid transparent;
	/*width: 19.2%;*/
	width: 21.2%;
	font-family: initial;
	/*padding-bottom: 22.170%;*/
	padding-bottom: 25.17%;
	margin-right: 10px;
	-webkit-transform: rotate(-30deg) skewY(30deg);
	-ms-transform: rotate(-30deg) skewY(30deg);
	transform: rotate(-30deg) skewY(30deg);
}

#sd_hexgrid .sd_hexli * {
	position: absolute;
	visibility: visible;
	outline: 1px solid transparent
}

#sd_hexgrid .sd_hexli> a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	overflow: hidden;
	-webkit-transform: skewY(-30deg) rotate(60deg);
	-ms-transform: skewY(-30deg) rotate(60deg);
	transform: skewY(-30deg) rotate(60deg);
}

#sd_hexgrid .sd_hexli> a>div {
	transform: rotate(-30deg);
	left: -100%;
	right: -100%;
	width: 115.473441108545%;
	height: 100%;
	margin: 0 auto;
}

#sd_hexgrid .sd_hexli> a>div> img {
	left: -100%;
	right: -100%;
	/*width: auto;*/
	width: 100%;
	height: 100%;
	margin: 0 auto
}

#sd_hexgrid .sd_hexli> a>div> div {
	width: 102%;
	left: -1%;
	padding: 5%;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.6);
	font-weight: 300;
	-webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
	transition: transform .2s ease-out, opacity .3s ease-out
}

#sd_hexgrid .sd_hexli> a>div> div.sd_title {
	bottom: 50%;
	padding-top: 40%;
	padding-bottom: 15px;
	z-index: 1;
	-webkit-transform: translateY(-100%) translatez(-1px);
	-ms-transform: translateY(-100%) translatez(-1px);
	transform: translateY(-100%) translatez(-1px)
}

#sd_hexgrid .sd_hexli> a>div> div span {
	position: relative;
	display: block;
	font-size: 14px
}

#sd_hexgrid .sd_hexli> a>div> div em {
	position: relative;
	display: inline-block;
	font-size: 0;
	overflow: hidden;
	background-size: cover;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	vertical-align: middle
}

#sd_hexgrid .sd_hexli> a>div> div.sd_title> span.sd_area {
	font-size: 26px;
	padding-bottom: 10px
}

#sd_hexgrid .sd_hexli> a>div> div.sd_title:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 45%;
	width: 10%;
	text-align: center;
	border-bottom: 1px solid #fff
}

#sd_hexgrid .sd_hexli> a>div> div.sd_stips {
	top: 50%;
	padding-bottom: 50%;
	-webkit-transform: translateY(100%) translatez(-1px);
	-ms-transform: translateY(100%) translatez(-1px);
	transform: translateY(100%) translatez(-1px)
}

#sd_hexgrid .sd_hexli> a>div> div.sd_stips> span {
	padding: 2px 0
}


#sd_hexgrid .sd_hexli> a>div> div.sd_stips> div {
	position: relative;
	width: 100%
}

#sd_hexgrid .sd_hexli> a>div> div.sd_stips> div> span {
	display: inline-block;
	margin-right: 10px
}

#sd_hexgrid .sd_hexli:hover div.sd_title,
#sd_hexgrid .sd_hexli:focus div.sd_title,
#sd_hexgrid .sd_hexli:hover div.sd_stips,
#sd_hexgrid .sd_hexli:focus div.sd_stips {
	-webkit-transform: translateY(0%) translatez(-1px);
	-ms-transform: translateY(0%) translatez(-1px);
	transform: translateY(0%) translatez(-1px)
}

#sd_hexgrid .sd_hexli:nth-child(1) {
	margin-left: 23px
}

#sd_hexgrid .sd_hexli:nth-child(2),
#sd_hexgrid .sd_hexli:nth-child(5) {
	margin-left: -38px;
	margin-top: 22px
}

#sd_hexgrid .sd_hexli:nth-child(3n) {
	margin-left: -238px;
	margin-top: 259px
}

#sd_hexgrid .sd_hexli:nth-child(4),
#sd_hexgrid .sd_hexli:nth-child(7) {
	margin-left: -38px
}

#sd_hexgrid .sd_hexli:nth-child(3n+1) {
	margin-top: 140px
}


/**
 * 施工团队
 */

#teamcontainer {
	color: #636363
}

#teamcontainer h3 {
	width: 1190px;
	margin: 0 auto;
	border-left: 3px solid #EEC988;
	padding-left: 12px;
	font-size: 20px;
	color: #4B4948;
	line-height: 22px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 16px;
	margin-bottom: 16px
}

#teamcontainer h3>span {
	font-size: 14px;
	display: inline-block;
	margin-left: 5px
}

#teamcontainer .teamtitle {
	position: relative;
	padding-top: 20px;
	border-bottom: 1px solid #e5e5e5
}

#teamcontainer .teamtitle>h4 {
	margin: 0;
	text-align: center;
	font-size: 20px;
	color: #4b4948;
	line-height: 1
}

#teamcontainer .teamtitle i {
	width: 28px;
	height: 45px;
	display: block;
	margin: auto
}

#teamcontainer .teamtitle i.icon_sdg {
	background-position: -338px -64px
}

#teamcontainer .teamtitle i.icon_wg {
	background-position: -338px -114px;
    width: 34px;
}

#teamcontainer .teamtitle i.icon_mg {
    background-position: -338px -170px;
    width: 40px;
}

#teamcontainer .teamtitle i.icon_yqg {
    background-position: -337px -9px;
    width: 30px;
}

#teamcontainer .teamtitle>h5 {
	margin: 0;
	text-align: center;
	font-size: 16px;
	color: #4b4948;
	margin-top: 15px;
	margin-bottom: 30px
}

#teamcontainer .teamtitle>h5 i {
	display: inline-block;
	width: 155px;
	height: 8px
}

#teamcontainer .teamtitle i.icon_splitL {
	margin-right: 9px;
	background-position: -8px -437px
}

#teamcontainer .teamtitle i.icon_splitR {
	margin-left: 10px;
	background-position: -8px -408px
}

#teamcontainer .team_con {
	position: relative;
	background-color: rgba(0, 0, 0, 0.83);
	margin: 0 auto 20px
}

#teamcontainer .team_con .wrapper {
	position: relative;
	overflow: hidden;
	margin: 10px 0;
	padding: 0 10px;
	width: 1400px;
	padding: 20px 0;
	margin: 0 auto;
	height: 490px
}

.click_prev {
	cursor: pointer;
	display: inline;
	float: left
}

.click_next {
	float: right;
	cursor: pointer
}

.click_prev a,
.click_next a {
	position: absolute;
	width: 100px;
	height: 470px;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	z-index: 10
}

.click_prev>a {
	left: 0;
	background-position: -305px -605px
}

.click_next>a {
	right: 0;
	background-position: -49px -605px
}

.click_prev>a:hover {
	left: -10px
}

.click_next>a:hover {
	right: -10px
}

.team_con:hover .click_prev>a,
.team_con:hover .click_next>a {
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1
}

.wrapper_ul {
	width: 1020px;
	height: 200px;
	margin: auto
}

.wrapper_ul ul li {
	display: inline;
	float: left;
	width: 255px;
	overflow: hidden;
	position: relative
}

.sliderworker_item {
	width: 250px;
	height: 340px;
	float: left;
	margin-top: 90px;
	padding: 10px
}

.sliderworker_item .workertext {
	border: 3px solid #fff;
	height: 325px;
	background: #fff;
	text-align: center;
	font-size: 12px
}

.sliderworker_item .workertext .workerimg {
	width: 112px;
	height: 112px;
	display: block;
	margin: auto;
	margin-top: -50px;
	background-color: rgba(0, 0, 0, 0.83);
	z-index: 99;
	padding: 5px;
	border-radius: 50%
}


/*
.sliderworker_item .workertext .workerimg:after {
	content: "";
	position: relative;
	width: 102px;
	height: 102px;
	display: block;
	z-index: 99;
	background: #fff;
	border-radius: 50%
}*/

.sliderworker_item .workertext .workerimg img {
	content: "";
	position: relative;
	width: 102px;
	height: 102px;
	display: block;
	z-index: 99;
	background: #fff;
	border-radius: 50%
}

.sliderworker_item .workertext p {
	color: #4B4948
}

.sliderworker_item .workertext p.workername {
	font-size: 18px;
	margin-top: 25px
}

.sliderworker_item .workertext p.workername>span {
	display: block;
	line-height: 24px
}

.sliderworker_item .workertext p.workername>span.english {
	font-size: 14px
}

.sliderworker_item .workertext p.workerinfo {
	font-size: 14px
}

.sliderworker_item .workertext p.workerinfo>span {
	display: inline-block;
	margin: 0 10px;
	line-height: 25px
}

.sliderworker_item .workertext p.workermoney {
	color: #E88226;
	font-size: 18px;
	margin-top: 10px
}

.sliderworker_item .workertext p.workermoney>span {
	color: #4B4948;
	font-size: 14px
}

.sliderworker_item .workertext p.workerother {
	font-size: 14px;
	margin-top: 10px
}

.sliderworker_item .workertext p.workerother>span {
	display: block;
	margin: 0 10px;
	line-height: 24px
}

.sliderworker_item .workertext p.workerexplain {
	text-align: left;
	height: 38px;
	overflow: hidden;
	cursor: pointer;
	line-height: 18px;
	color: #999;
	margin: 5px 25px
}

.sliderworker_item .workertext p.workerexplain>em {
	display: inline-block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden
}

.sliderworker_item p.masklayer {
	width: 230px;
	height: 325px;
	padding: 5%;
	line-height: 118px;
	box-sizing: border-box;
	background-color: #000;
	color: #03bbff;
	opacity: 0;
	border: 1px solid;
	font-weight: 300;
	text-indent: -999px;
	-webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
	transition: transform .2s ease-out, opacity .3s ease-out;
	-ms-transition: -ms-transform .2s ease-out, opacity .3s ease-out;
	-moz-transition: -moz-transform .2s ease-out, opacity .3s ease-out;
	position: absolute;
	visibility: visible;
	cursor: pointer;
	outline: 1px solid transparent
}

.sliderworker_item p.masklayer:hover {
	opacity: .7
}

.sliderworker_item p.masklayer:after {
	content: "";
    background: url(../img/sprite-icon.png) no-repeat;
    background-position: -14px -460px;
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
}

#shop_price {
	position: relative;
	width: 1190px;
	margin: 0 auto;
	margin-bottom: 50px;
	clear: both
}

#shop_price h3 {
    border-left: 3px solid #EEC988;
    padding-left: 12px;
    font-size: 20px;
    color: #4B4948;
    line-height: 22px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 16px;
}

#shop_price h3> span {
    font-size: 14px;
    display: inline-block;
    margin-left: 5px;
}

#shop_price .con_price li {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#shop_price .con_price li .sdg_price_warp {
	padding: 8px 0 15px;
}

#shop_price .con_price li .sdg_price_warp .sdg_sprice_title {
	position: relative;
    padding: 10px 15px;
    line-height: 23px;
    background: #666;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
}

#shop_price .con_price li .sdg_price_warp .sdg_sprice_title>span {
        display: inline-block;
    position: relative;
    font-weight: 700;
}

#shop_price .con_price li .sdg_price_warp .sdg_price_con {
    overflow: hidden;
}

#shop_price .con_price li .sdg_price_warp .sdg_price_con .project_title {
   	height: 46px;
    line-height: 46px;
    background-color: #f2f2f2;
}

#shop_price .con_price li .sdg_price_warp .sdg_price_con .project_title span {
    display: inline-block;
    text-align: center;
    width: 394px;
    font-size: 14px;
    color: #4b4948;
}

#shop_price .con_price li .sdg_price_warp .sdg_price_con .price_list {
    border: 1px solid #eee;
    border-top: none;
    border-bottom: none;
    overflow: hidden;
}

#shop_price .con_price li .sdg_price_warp .sdg_price_con .price_list p {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #eee;
    transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

#shop_price .con_price li .sdg_price_warp .sdg_price_con .price_list p:hover {
    background-color: #f3f3f3;
}

#shop_price .con_price li .sdg_price_warp .sdg_price_con .price_list p span {
    display: inline-block;
    width: 396px;
    height: 48px;
    border-right: 1px solid #eee;
    float: left;
    text-align: center;
    font-size: 14px;
}

#shop_price .con_price li .sdg_price_warp .sdg_price_con .price_list p span:last-child {
    border-right: none;
}

#shop_price .con_price li .sdg_price_warp .sdg_price_con .btndown{
    cursor: pointer;
    color: #ff5704;
}

#shop_price .con_price li .sdg_price_warp .sdg_price_con .pickup,#shop_price .con_price li .sdg_price_warp .sdg_price_con .pickdowm{
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    border: 1px solid #eee;
    border-top: none;
}

#shop_price .con_price li .sdg_price_warp .sdg_price_con .pickup i,#shop_price .con_price li .sdg_price_warp .sdg_price_con .pickdowm i{
	background: url(../img/sprite-icon.png) no-repeat;
    background-position: -574px -15px;
    width: 9px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

#shop_price .con_price li .sdg_price_warp .sdg_price_con .pickdowm i {
    background-position: -574px -37px;
}

.orderMust .autoheight {
    max-height: 144px;
}


#mui-mbar {
	position: fixed;
	bottom: 0px;
	right: 70px;
	background: #666;
	z-index: 999
}

#mui-mbar .mui-mbar-tabs {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	left: 0;
	height: 35px;
	position: relative;
	top: 0
}

#mui-mbar .mui-mbar-tab {
	transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	position: relative;
	left: 0;
	width: 35px;
	height: 35px;
	display: inline-block;
	cursor: pointer
}

#mui-mbar .mui-mbar-tabs .ccs {
	width: 35px;
	height: 35px
}

.hh-inline {
	display: inline-block;
	vertical-align: text-bottom
}

#mui-mbar .mui-mbar-tabs .ccs a {
	position: absolute;
	background-image: url(../img/tb-icon.gif);
	text-decoration: none!important;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin: 7px 12px;
	zoom: 1
}

#mui-mbar .mui-mbar-tabs .ccs .hh-inline {
	background-position: -80px 0
}

#mui-mbar .mui-mbar-tabs .hline {
	position: absolute;
	width: 1px;
	height: 35px;
	background-position: -507px -0px
}

#mui-mbar .mui-mbar-tabs .line-right {
	right: 0px;
	top: 0px
}

#mui-mbar .mui-mbar-tabs .mwwork {
	width: 200px;
	top: 0px;
	margin: 0px 8px
}

#mui-mbar .mui-mbar-tabs .mwwork em {
	position: absolute;
	margin-left: 35px;
	width: 35px;
	height: 35px;
	background-position: -3px -365px
}

#mui-mbar .mui-mbar-tabs .mwwork .h-text {
	padding: 0 3px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	line-height: 14px;
	line-height: 36px;
	overflow: hidden;
	padding: 0
}

#mui-mbar .mui-mbar-tabs .mwwork .h-sup {
	position: absolute;
	top: 8px;
	right: 45px;
	text-align: center
}

#mui-mbar .mui-mbar-tabs .mwwork:after{
	content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #999;
    display: inline-block;
    top: 15px;
    right: 10px;
    position: absolute
}

.item_hover_0:after {
	transform: rotate(0deg);
    transition: transform 0.3s
}

.item_hover_180:after {
	transform: rotate(180deg);
    transition: transform 0.3s
}

#mui-mbar .mui-mbar-tabs .mwwork .h-sup .h-bg {
	border-radius: 10px;
	background-color: #c40000
}

#mui-mbar .mui-mbar-tabs .mwwork .h-sup .h-bd {
	padding: 0 3px;
	min-width: 14px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
	font-size: 12px;
	color: #fff
}

#mui-mbar .mui-mbar-tabs .gotop em {
	position: absolute;
	left: -5px;
	top: 0;
	width: 35px;
	height: 35px;
	background-position: -56px -356px
}

.mui-mbar-tab:hover {
	opacity: 0.5
}

#J_SelectedItems {
	width: 100%;
	display: none;
	background-color: #fff
}

#J_SelectedItems .selectItemList {
	border: 1px solid #f40;
	background: #fff
}

#J_SelectedItems .selectItemList .needcont {
	cursor: default;
	margin-top: 16px;
	padding-left: 8px;
	background-color: #fff
}

#J_SelectedItems .selectItemList .needcont .needheader {
	height: 29px;
	line-height: 18px;
	overflow: hidden;
	background-color: #fff
}

#J_SelectedItems .selectItemList .needcont .needheader .needtitle {
	border-bottom: 1px solid #e6e6e6;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	/*padding-left: 26px;*/
	float: left;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

#J_SelectedItems .selectItemList .needcont .needheader .needtitle em {
    width: 20px;
    height: 20px;
    display: block;
    float: left
}

#J_SelectedItems .selectItemList .needcont .needheader .needtitle em img {
    position: relative;
    width: 20px;
    height: 20px;
    display: block
}

#J_SelectedItems .selectItemList .needcont .needheader .needtitle span {
    margin-left: 10px;
    line-height: 20px
}

#J_SelectedItems .selectItemList .needcont .needclist {
	background-color: #f6f6f6
}

#J_SelectedItems .selectItemList .needcont .needclist>div {
	position: relative;
	width: 100%;
	overflow: hidden;
	zoom: 1;
	border-bottom: 1px solid #e6e6e6
}

#J_SelectedItems .selectItemList .needcont .needclist>div .needpic {
	float: left;
	width: 60px;
	height: 60px;
	vertical-align: middle
}

#J_SelectedItems .selectItemList .needcont .needclist>div .needpic img {
	width: 100%;
	height: 100%
}

#J_SelectedItems .selectItemList .needcont .needclist>div .needname {
	float: left;
	width: 75px;
	padding: 8px 6px 0 15px;
	float: left;
	color: #999
}

#J_SelectedItems .selectItemList .needcont .needclist>div .needname span {
	display: block;
	text-align: left;
	line-height: 24px
}

#J_SelectedItems .selectItemList .needcont .needclist>div .needmoney {
	float: left;
	padding: 15px 6px 0 15px;
	float: left;
	color: #c40000;
	line-height: 30px
}

#J_SelectedItems .selectItemList .needcont .needclist>div .needclose {
	display: block;
	position: absolute;
	top: 10px;
	right: 5px;
	z-index: 2;
	outline: 0;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	opacity: .5;
	background-position: -518px -14px;
	-webkit-transition: -webkit-transform .5s ease-out;
	-moz-transition: -moz-transform .5s ease-out;
	-o-transition: -o-transform .5s ease-out;
	-ms-transition: -ms-transform .5s ease-out;
	transition: transform .5s ease-out
}

#J_SelectedItems .selectItemList .needcont .needclist>div .needclose:hover {
	opacity: 1;
	display: block;
	position: absolute;
	top: 10px;
	right: 5px;
	z-index: 2;
	outline: 0;
	height: 40px;
	width: 40px;
	transform: rotate(180deg);
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
	-o-transform: rotateZ(180deg);
	-ms-transform: rotateZ(180deg)
}

#J_SelectedItems .selectItemList .settlement {
	padding: 0 0 15px;
	background-color: #e6e6e6
}

#J_SelectedItems .selectItemList .settlement .settlement-con {
	position: relative;
    padding: 15px 16px 0;
	background-color: #e6e6e6;
	z-index: 3;
	color: #333
}

#J_SelectedItems .selectItemList .settlement .settlement-con .settlement-total {
	height: 30px;
	line-height: 30px;
	background-color: #e6e6e6;
	padding: 0;
	color: #333;
	overflow: hidden
}

#J_SelectedItems .selectItemList .settlement .settlement-con .settlement-total h3 {
	float: right;
	height: 30px;
	color: #000;
	font-size: 12px;
	text-align: right
}

#J_SelectedItems .selectItemList .settlement .settlement-con .settlement-btn {
	height: 40px;
	line-height: 40px;
	background-color: #c40000;
	position: relative;
	overflow: hidden;
	cursor: pointer
}

#J_SelectedItems .selectItemList .settlement .settlement-con .settlement-btn:hover {
    background-color: #a91500
}

#J_SelectedItems .selectItemList .settlement .settlement-con .settlement-btn .settlement-btncon {
	position: relative;
	width: 70px;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	text-align: left;
	color: #fff;
	font-size: 14px;
	text-align: center
}

.fly_item {
    border: 1px solid #000;
    width: 38px;
    height: 38px;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 100;
}

.p1 {
	height: 293px; 
}

.nullpage {
    color: #999;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    padding: 145px 0 140px 0;
    border: 1px solid #D7D7D7
}

.nullpage i {
	position: relative;
   	background: url(../img/noinfo.png) no-repeat;
    width: 86px;
    height: 85px;
    display: inline-block;
    
}

.nullpage span {
    display: block;
    float: left;
    width: 100%;
    margin: 10px 0;
}
