.personal_form {
    width: 680px;
    height: auto;
    margin: 0 auto;
}

.personal_form_list {
    height: 50px;
    line-height: 50px;
    margin-top: 5px;
}

.personal_form_list span {
    width: 58px;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    color: #4b4948;
    vertical-align: middle;
}

.personal_form_list input {
    margin-left: 15px;
    border: none;
    border-bottom: 1px solid #3d3d3d;
    height: 25px;
    line-height: 25px;
    padding-left: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.personal_form_list .personal_user_name, .personal_form_list .personal_user_nickname {
    width: 126px;
}

.personal_form_list b {
    margin-left: 16px;
    font-size: 14px;
    color: #E88226;
    vertical-align: middle;
}

.personal_form_list label {
    margin-left: 5px;
}

.personal_form_list .personal_user_age {
    width: 67px;
}

.personal_form_list p {
    display: inline-block;
    margin-left: 15px;
    line-height: 50px;
    font-size: 14px;
    color: #d0d0d0;
    vertical-align: middle;
}

.personal_form_list p a {
    color: #E88226;
    margin-left: 10px;
}

.personal_form_list .personal_tel {
    margin-left: 16px;
    width: auto;
    margin-right: 16px;
}

.personal_form_list a {
    color: #E88226;
    font-size: 14px;
}

.personal_form_area {
    height: 71px;
}

.personal_form_area textarea {
    width: 437px;
    height: 69px;
    resize: none;
    margin-left: 15px;
    padding-left: 4px;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 2px;
    border-color: #3d3d3d;
}

.personal_form_list .personal_area {
    display: inline-block;
    width: 70px;
    height: 31px;
    line-height: 33px;
    border: 1px solid #3d3d3d;
    border-radius: 2px;
    color: #3d3d3d;
    text-align: center;
    margin-left: 15px;
    vertical-align: middle;
}

.personal_form_list .personal_area:hover {
    color: white;
    background-color: #eec988;
    border: 1px solid #eec988;
}

.personal_form_list .personal_circle {
    width: 31px;
    height: 31px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    display: inline-block;
    color: #d0d0d0;
    font-weight: bold;
    font-size: 30px;
    margin-left: 15px;
    vertical-align: middle;
}

.personal_form_list .personal_user_community {
    width: 338px;
}

.personal_form_list .personal_area_detail {
    width: 435px;
}

.personal_form_list select {
    margin-left: 15px;
    width: 71px;
    height: 30px;
    font-size: 14px;
}

.personal_form_list em {
    font-size: 14px;
    vertical-align: middle;
    margin-left: 9px;
    margin-right: 8px;
}

.personal_submit {
    width: 93px;
    height: 36px;
    line-height: 36px;
    background-color: #3d3d3d;
    border-radius: 4px;
    text-align: center;
    color: white;
    display: block;
    font-size: 14px;
    margin-top: 50px;
}

.personal_content_title {
    margin-top: 28px;
}

.personal_content {
    margin-top: 15px;
}

/* 头像照片 */
.update_head {
    width: 718px;
    height: auto;
    margin: 0 auto;
    margin-top: 42px;
}

.update_head_left {
    width: 415px;
    height: 594px;
    border-right: 1px solid #909090;
}

.local_update .update_img {
    width: 145px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #eec988;
    font-size: 16px;
    border-radius: 4px;
}

.local_update .update_img img {
    width: 23px;
    height: 17px;
    vertical-align: middle;
    margin-right: 10px;
}

.local_update .spot_shoot {
    width: 143px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    color: #eec988;
    background-color: white;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #eec988;
    margin-left: 14px;
}

.local_update .spot_shoot img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 10px;
}

.local_update .update_img:hover, .local_update .spot_shoot:hover {
    -webkit-box-shadow: 3px 3px 5px #939393;
    -moz-box-shadow: 3px 3px 5px #939393;
    box-shadow: 3px 3px 5px #939393;
}

.only_support {
    color: #737373;
    margin-top: 15px;
    margin-bottom: 23px;
}

.imgWrap {
    width: 304px;
    height: 207px;
    border: 1px solid #b2b2b2;
    background: url("../../css/img/imgWrap_bg.png") no-repeat 99px 50px;
    margin-bottom: 34px;
}

.recommend_head {
    font-size: 16px;
    color: #5a5a5a;
    margin-bottom: 15px;
}

.head_wrap {
    width: 320px;
}

.head_wrap a {
    width: 54px;
    height: 54px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.head_wrap a:hover {
    -webkit-box-shadow: 0 0 5px #939393;
    -moz-box-shadow: 0 0 5px #939393;
    box-shadow: 0 0 5px #939393;
}

.head_submit {
    width: 93px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    display: block;
    background-color: #3d3d3d;
    color: white;
    border-radius: 4px;
    margin-top: 38px;
}

.update_head_right {
    width: 300px;
    height: auto;
}

.preview_result {
    padding-left: 161px;
    font-size: 16px;
    color: #5a5a5a;
    padding-top: 30px;
}

.result_detail {
    width: 190px;
    padding-left: 115px;
    color: #737373;
    margin-top: 14px;
}

.result_100 {
    width: 100px;
    height: 100px;
    border: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    margin-top: 48px;
    margin-left: 74px;
}

.result_50 {
    width: 50px;
    height: 50px;
    border: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    margin-top: 48px;
    margin-left: 74px;
}

.p_100 {
    margin-left: 74px;
    color: #737373;
    margin-top: 9px;
}

.works_content_title {
    width: 384px;
    line-height: 41px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}

.title_complete, .title_pending {
    width: 192px;
    text-align: center;
    font-size: 16px;
    color: #4b4948;
    cursor: pointer;
}

.title_active {
    width: 192px;
    height: 2px;
    background-color: #eec988;
    position: absolute;
    bottom: 0;
    left: 0;
}
.works_content {
    border: 1px solid white;
}